<#-- 
 * description: 员工管理编辑对话框
 * version: 2.0 
 * author:yuliao.chen@hand-china.com 
 *
 -->
<#include "../include/header.html">

<body>
<script>
    var employeeId = '${RequestParameters.employeeId!0}';


    function addPosition() {
        var win = $("#dialog").data("kendoWindow");
        //点击之后，居中打开kendoWindows
        if(win){
        win.center().open();
        return;
        }


    }

    function contains(e){
        var val=true;
        for(var i=0;i<dataSource.data().length;i++)
        if(e==dataSource.data()[i].positionId){val=false}
        return val;
    }

    function savePosition(){
        var selection = choosegrid.selectedDataItems();
        for(var i=0;i<selection.length;i++){
            if(contains(selection[i].positionId)) {
                dataSource.add({
                    employeeId: employeeId,
                    positionId: selection[i].positionId,
                    positionName: selection[i].name,
                    unitName: selection[i].unitName,
                    primaryPositionFlag: 'N',
                    enabledFlag: "Y"
                });
            }
        }
        $("#dialog").data("kendoWindow").close();
    }


    function saveChange() {
        // check primaryPositionFlag unique
        var items = grid.dataItems();
        if (items.length == 0)
            return;
        var ppf = 0;
        items.forEach(function (r, i) {
            if (r.primaryPositionFlag == 'Y') {
                ppf++;
            }
        })
        if (ppf != 1) {
            kendo.ui.showErrorDialog({
                title: $l('hap.error'),
                message: '有且只能有一个主岗位，当前 ' + ppf + ' 个'
            })
            return
        }
        dataSource.sync();
    }
    function deleteData() {

        kendo.ui.showConfirmDialog({
            title:$l('hap.tip.info'),
            message: $l('hap.tip.delete_confirm')
        }).done(function (event) {
            if (event.button == 'OK') {
                var selection = grid.selectedDataItems();
                if (!selection || !selection.length) {
                    return;
                }
                selection.forEach(function (r) {
                    dataSource.remove(r);
                })
                dataSource.sync();
            }
        })

    }
</script>
<div id="dialog" style="display: none;clear:both;" >
    <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
        <span onclick = "savePosition()" class="btn btn-primary k-grid-add"  style="float:left;margin-right:5px;" >保存</span>
    </div>

    <div  style="clear:both;">
        <div id="chooseposition_grid" ></div>
    </div>

</div>

<div id="page-content" >
    <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
        <span onclick="addPosition()" class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;"><@spring.message "hap.new"/></span>
        <span onclick="saveChange()" class="btn btn-success k-grid-save-changes" style="float:left;margin-right:5px;" data-bind="click:saveChange"><@spring.message "hap.save"/></span>
        <span onclick="deleteData()" class="btn btn-danger" style="float:left;"><@spring.message "hap.delete"/></span>
    </div>
    <div style="clear:both">
        <div id="grid"></div>
    </div>

    <script type="text/javascript">

        var crudServiceBaseUrl = '${base.contextPath}/hr/employee/assign/'
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: crudServiceBaseUrl + "/query?employeeId=" + employeeId,
                    type: "POST",
                    dataType: "json"
                },
                //这边新建无法实现。因为后台报错了。
                create: {
                    url: crudServiceBaseUrl + "/submit",
                    contentType: "application/json",
                    type: "POST"
                },
                update: {
                    url: crudServiceBaseUrl + "/submit",
                    contentType: "application/json",
                    type: "POST"
                },
                destroy: {
                    url: crudServiceBaseUrl + "/submit",
                    contentType: "application/json",
                    type: "POST"
                },
                parameterMap: function (options, type) {
                    if (type !== "read" && options.models) {
                        var datas = Hap.prepareSubmitParameter(options, type);
                        return kendo.stringify(datas);
                    } else if (type === "read") {
                        return {};
                    }
                }
            },
            batch: true,
            serverPaging: true,
            pageSize: 10,
            schema: {
                data: 'rows',
                total: 'total',
                model: {
                    id: 'assignId',
                    fields: {
                        employeeId: {defaultValue: employeeId},
                        primaryPositionFlag: {defaultValue: 'Y', type: 'boolean', checkedValue: 'Y', uncheckedValue: 'N'},
                        enabledFlag: {defaultValue: 'Y', type: 'boolean', checkedValue: 'Y', uncheckedValue: 'N'}
                    }
                }
            },
            change: function (e) {
                if (e.action == 'itemchange' && e.field == 'primaryPositionFlag') {
                    var item = e.items[0];
                    if (item.primaryPositionFlag == 'Y') {
                        this.data().forEach(function (r, i) {
                            if (r !== item) {
                                r.set('primaryPositionFlag', 'N')
                            }
                        })
                        grid.refresh()
                    }
                }
            }
        });

        var grid = $("#grid").kendoGrid({
            dataSource: dataSource,
            navigatable: false,
            height: '100%',
            resizable: true,
            scrollable: true,
            sortable: true,
            selectable: "multiple rowbox",
            columns: [
                {
                    title: "<@spring.message "position.name"/>",
                    template: function (dataItem) {
                        return dataItem.positionName
                    }
                },
                {
                    title: "<@spring.message "hrorgunit.name"/>",
                    template: function (dataItem) {
                        return dataItem.unitName
                    }
                },
                {
                    field: "primaryPositionFlag",
                    title: '<@spring.message "employee.ismainposition"/>',
                    headerAttributes: {style: "text-align:center"},
                    attributes: {style: "text-align:center"}
                },
                {
                    field: "enabledFlag",
                    title: '<@spring.message "employee.enabledflag"/>',
                    headerAttributes: {style: "text-align:center"},
                    attributes: {style: "text-align:center"}
                }
            ],
            editable: true,
            dataBound: function () {
                var view = this.dataSource.view();
                this.items().each(function (index, row) {
                    kendo.bind(row, view[index]);
                });
            }
        }).data('kendoGrid');


        //自动根据当前屏幕大小调整表格
        Hap.autoResizeGrid("#grid");
    </script>

</div>

<script>
    var choosegrid;
    var crudServiceBaseUrl = '${base.contextPath}/hr/position',
            positionDataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: crudServiceBaseUrl + "/query",
                        type    : "POST",
                        dataType: "json"
                    }
                },
                batch: true,
                serverPaging: true,
                pageSize: 5,
                schema: {
                    data: 'rows',
                    total: 'total',
                    model: {
                        id: "positionId",
                        fields: {
                            unitId:{},
                            description: {type: "string"}
                        }
                    }
                }
            });

    choosegrid = $("#chooseposition_grid").kendoGrid({
        dataSource: positionDataSource,
        navigatable: false,
        height: '230px',
        resizable: true,
        scrollable: true,
        selectable:'multiple,rowbox',
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        columns: [
            {
                field: "positionCode",
                title: '<@spring.message "position.positioncode"/>',
                width: 100,
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                }
            },
            {
                field: "name",
                title: '<@spring.message "position.name"/>',
                width: 100,
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                }
            },
            {
                field: "description",
                title: '<@spring.message "position.description"/>',
                width: 140,
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                }
            },
            {
                field: "unitName",
                title: '<@spring.message "hrorgunit.name"/>',
                width: 140,
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                }
            }
        ],
        editable: "popup"
    }).data("kendoGrid");

    $("#dialog").kendoWindow({
        width: 700,
        height: 300,
        title: '<@spring.message "position.selectposition"/>',
        resizable: false,
        //初始化时设置为隐藏状态
        visible: false,
        /*       close: function(e) {
                   //弹出窗 close 的时候，把它销毁，避免事件的重复绑定
                   var grid = $("#chooseposition_grid").data("kendoGrid");
                   grid.destroy();
               }*/
    }).data("kendoWindow");
</script>

</body>
</html>