<#-- 
 * description: 员工管理
 * version: 2.0 
 * author:yuliao.chen@hand-china.com 
 *
 -->
<#include "../include/header.html">
<body>
	<script src="${base.contextPath}/common/code?employeeStatusData=HR.EMPLOYEE_STATUS" type="text/javascript"></script>
	<script src="${base.contextPath}/common/code?employeeGenderData=HR.EMPLOYEE_GENDER" type="text/javascript"></script>
	<script type="text/javascript">
		var viewModel = kendo.observable({
	        model: {},
	        createFunction: function(){
	             editData();
	        },
	        saveFunction: function(){
	            $('#grid').data('kendoGrid').saveChanges();
	        },
	        queryFunction: function (e) {
	            $('#grid').data('kendoGrid').dataSource.page(1);
	        }
	    });


	    function deleteData() {
	    	 var checked = grid.selectedDataItems();
	         if(grid.selectedDataItems().length){  
		        kendo.ui.showConfirmDialog({
		        	title:$l('hap.tip.info'),
		        	message: $l('hap.tip.delete_confirm')
		        }).done(function (event) {
		            if (event.button == 'OK') {
		            	$.each(checked,function(i,v){
		            		grid.dataSource.remove(v)
		            	})
		                grid.dataSource.sync();
		            }
		        }) 
	         }
   		}


	</script>


	<!-- 自定义的 编辑/新建 弹框 使用该 window  -->
	<div id="dialog"></div>
	<div id="assign-dialog"></div>
	<div id="page-content">
		<div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
	        <span class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;" data-bind="click:createFunction"><@spring.message "hap.new"/></span>
	        <span class="btn btn-success k-grid-save-changes"  style="float:left;margin-right:5px;" data-bind="click:saveFunction"><@spring.message "hap.save"/></span>
	        <span onclick="deleteData()" class="btn btn-danger" style="float:left;"><@spring.message "hap.delete"/></span>
	    </div>

	    <div class="pull-right" id="query-form" style="padding-bottom:10px;">
	        <input data-role="maskedtextbox" placeholder='<@spring.message "employee.employeeCode"/>' type="text" style="float:left;width:150px;margin-right:5px;" data-bind="value:model.employeeCode" class="k-textbox">
	        <input data-role="maskedtextbox" placeholder='<@spring.message "employee.name"/>' type="text" style="width: 150px;float:left;margin-right:5px;" data-bind="value:model.name" class="k-textbox">
	        <span class="btn btn-primary" style="float:left;width:70px" data-bind="click:queryFunction" type="submit"><@spring.message "hap.query"/></span>
	        <div style="clear:both"></div>
	    </div>

	    <div style="clear:both">
        	<div id="grid"></div>
   		</div>
	</div>
	


    <script type="text/javascript">

    	kendo.bind($('#page-content'), viewModel);

    	$('#query-form input').keydown(function (e) {
	        if (e.keyCode == 13) {
	            e.target.blur();
	            viewModel.queryFunction(e);
	        }
	    });

    	var crudServiceBaseUrl = '${base.contextPath}',
        dataSource = new kendo.data.DataSource({
            transport : {
                read : {
                    url : crudServiceBaseUrl + "/hr/employee/query",
                    type    : "POST",
                    dataType: "json"
                },
                create      : {
                    url        : crudServiceBaseUrl + "/hr/employee/submit",
                    contentType: "application/json",
                    type       : "POST"
                },
                update      : {
                    url        : crudServiceBaseUrl + "/hr/employee/submit",
                    contentType: "application/json",
                    type       : "POST"
                },
                destroy     : {
                    url        : crudServiceBaseUrl + "/hr/employee/submit",
                    contentType: "application/json",
                    type       : "POST"
                },
                parameterMap: function (options, type) {
                    if (type !== "read" && options.models) {
                        var datas = Hap.prepareSubmitParameter(options, type);
                        return kendo.stringify(datas);
                    } else if (type === "read") {
                        return Hap.prepareQueryParameter(viewModel.model.toJSON(), options);
                    }
                }
            },
            batch       : true,
            serverPaging: true,
            serverSorting: true,
            pageSize    : 10,
            schema      : {
                data  : 'rows',
                total : 'total',
                model : {
                    id    : "employeeId",
                    fields: {
                    	enabledFlag:{defaultValue: 'Y',type: 'boolean',checkedValue:'Y',uncheckedValue:'N'},
                       	employeeCode : {type: "string"},
                        name : {type: "string"},
                        bornDate: {type : "date"},
                        email: {type: "email"},
                        mobil: {type: "string"},
                        joinDate: {type: "date"}
                    }
                }
            }
            
        });

        //新建时调用的界面
        window.editData = function(){
	    	 var url = 'employee_edit.html';
	         var dialog =  $("#dialog").kendoWindow({
             	actions: [ "Maximize", "Minimize", "Close"],
                width: 900,
                height: 500,
                title: '<@spring.message "hap.edit"/>', 
                content: url,                  
                iframe:  true,
                visible: false,
                modal:true,
                close: function() {
	                //window 关闭  刷新 本页面的  grid 
	                $('#grid').data('kendoGrid').dataSource.page(1);
                }
             }).data("kendoWindow");
             dialog.center().open();
	    };

        //编辑弹窗函数
        editFunctionResources = function (employeeId) {
	        var dialog = $("#dialog").kendoWindow({
	            actions: ["Close"],
	            width  : 900,
	            height : 500,
	            title  : '<@spring.message "hap.edit"/>',
	            visible: false,
	            iframe : true,
	            modal  : true,
	            content: 'employee_edit.html?employeeId=' + employeeId,
	            close:function(e){
	            	$("#grid").data("kendoGrid").dataSource.page(1);
	            }
	        }).data("kendoWindow");
	        dialog.center().open();
	    };
	    //岗位分配弹窗
	    assignPosition = function (employeeId) {
	        var assignDialog = $("#assign-dialog").kendoWindow({
	            actions: ["Close"],
	            width  : 900,
	            height : 400, 
	            title  : '<@spring.message "employee.positionallocation"/>',
	            visible: false,
	            iframe : true,
	            modal  : true,
	            content: 'employee_assign.html?employeeId=' + employeeId,
	            close: function(e){
	            	$("#grid").data("kendoGrid").dataSource.page(1);
	            }
	        }).data("kendoWindow");
	        assignDialog.center().open();
	    };


	    var grid = $("#grid").kendoGrid({
	        dataSource : dataSource,
	        navigatable: false,
	        height: '100%',
	        resizable: true,
	        scrollable: true,
	        selectable:"multiple,rowbox",
	        pageable: {
	            pageSizes: [5, 10, 20, 50],
	            refresh: true,
	            buttonCount: 5
	        },
	        sortable: true,
	        columns    : [
	            {
	                field: "employeeCode",
	                title: '<@spring.message "employee.employeeCode"/>',
	                width: 80
	            },
	            {
	                field: "name",
	                title: '<@spring.message "employee.name"/>',
	                width: 80
	            },
	            {
	            	field: "bornDate",
                    attributes: {style: "text-align:center"},
                    title: '<@spring.message "employee.borndate"/>',
                    width: 100,
                    headerAttributes: {
                        "class": "table-header-cell",
                        style  : "text-align: center"
                    },
                    format: "{0:yyyy-MM-dd}"
                },
                {
                	field : "email",
                	title : '<@spring.message "user.email"/>',
                	width : 120
                },{
                	field : "mobil",
                	title : '<@spring.message "employee.mobile"/>',
                	width : 100
                },{
	            	field: "joinDate",
                    attributes: {style: "text-align:center"},
                    title: '<@spring.message "employee.joindate"/>',
                    width: 100,
                    headerAttributes: {
                        "class": "table-header-cell",
                        style  : "text-align: center"
                    },
                    format: "{0:yyyy-MM-dd}"
                },{
                	field : "gender",
                	title : '<@spring.message "employee.gender"/>',
                	width : 50,
                	template: function(dataItem){
                        var v = dataItem.gender;
                        $.each(employeeGenderData,function(i,n){
                            if((n.value||'').toLowerCase() == (v||'').toLowerCase()){
                                v = n.meaning;
                                return v;
                            }
                        })
                        return v;
                     },
                     editor: function(container, options){
                         $('<input name="' + options.field + '"/>')
                         .appendTo(container)
                         .kendoDropDownList({
                             dataTextField: "meaning",
                             dataValueField: "value",
                             valuePrimitive: true,
                             dataSource: employeeGenderData
                         });
                     }
                },{
                	field : "certificateId",
                	title : '<@spring.message "employee.certificateid"/>',
                	width : 100
                },{
                	field : "status",
                	title : '<@spring.message "employee.status"/>',
                	width : 50,
                	template: function(dataItem){
                        var v = dataItem.status;
                        $.each(employeeStatusData,function(i,n){
                            if((n.value||'').toLowerCase() == (v||'').toLowerCase()){
                                v = n.meaning;
                                return v;
                            }
                        })
                        return v;
                     },
                     editor: function(container, options){
                         $('<input name="' + options.field + '"/>')
                         .appendTo(container)
                         .kendoDropDownList({
                             dataTextField: "meaning",
                             dataValueField: "value",
                             valuePrimitive: true,
                             dataSource: employeeStatusData
                         });
                     }
                },{
                	field : "enabledFlag",
                	title : '<@spring.message "employee.enabledflag"/>',
                	attributes: {style: "text-align:center"},
                	width : 80
                }, 
                {	//岗位分配编辑
                	title: '<@spring.message "employee.positionallocation"/>', 
                	width: 80, 
	                template: function (rowdata) {
	                    if (!!rowdata.employeeId) {
	                        return '<a href="javascript:void(0);" onclick="assignPosition('+rowdata.employeeId +')"><@spring.message "employee.positionallocation"/></a>'
	                    }
	                    return '';
	                },
	                attributes: {style: "text-align:center"},
	                headerAttributes: { style: "text-align:center"}
	                
                },
                {	//编辑
                	title: '<@spring.message "hap.edit"/>', 
                	width: 50, 
	                template: function (rowdata) {
	                    if (!!rowdata.employeeId) {
	                        return '<a href="javascript:void(0);" onclick="editFunctionResources('+rowdata.employeeId +')"><@spring.message "hap.edit"/></a>'
	                    }
	                    return '';
	                },
	                attributes: {style: "text-align:center"},
	                headerAttributes: { style: "text-align:center"}
                }
	            
	        ],
	        editable   : true
	    }).data("kendoGrid");



		//自动根据当前屏幕大小调整表格
    	Hap.autoResizeGrid("#grid");


    	

    </script>



</body>
</html>