<#--
        * description: 快速编码界面
        *author:jialong.zuo@hand-china.com
        * version: 1.0
        *
        -->
<#include "../include/header.html">
<body>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
    var viewModel = kendo.observable({
        model: {},
        editaction: "<@spring.message "hap.edit"/>",
        createFunction: function () {
            $('#grid').data('kendoGrid').addRow();
        },
        saveFunction: function () {
            $('#grid').data('kendoGrid').saveChanges();
        },
        cancelFunction: function () {
            $("#grid").data("kendoGrid").cancelChanges();
        },
        queryResource: function (e) {
            $('#grid').data('kendoGrid').dataSource.page(1);
        },
        resetForm: function (e) {
            var formData = viewModel.model.toJSON();
            for (k in formData) {
                viewModel.model.set(k, null);
            }
        }
    });

    var newViewModel = kendo.observable({
        model: {},
        saveFunction: function () {
            if(newViewModel.model.unitCode==''||newViewModel.model.unitCode==null){
                kendo.ui.showInfoDialog({
                    message:'<@spring.message "hrorgunit.unitCode"/>不能为空'
                })
            }else if(newViewModel.model.name==''||newViewModel.model.name==null){
                kendo.ui.showInfoDialog({
                    message:'<@spring.message "hrorgunit.name"/>不能为空'
                })
            }else {
                newViewModel.model.__status = 'add';
                Hap.submitForm({
                    url: '${base.contextPath}/hr/unit/submit',
                    formModel: newViewModel.model,
                    success: function (data) {
                        $.each(newViewModel.model.toJSON(), function (i, item) {
                            newViewModel.model.set(i, null);
                        });
                        $("#newWin").data("kendoWindow").close();
                        $('#grid').data('kendoGrid').dataSource.query();
                    }
                });
            }
        },
        resetForm: function (e) {
            var formData = newViewModel.model.toJSON();
            for (k in formData) {
                newViewModel.model.set(k, null);
            }
        }
    });

</script>

<div class="col-sm-12" style="margin-top: 10px;">
    <ul class="nav nav-tabs" id="mytab">
        <li class="active"><a href="#maintain" data-toggle="tab"><@spring.message "hrorgunit.unitinfo"/></a></li>
        <li class=""><a href="#showTreeUnit" data-toggle="tab" onclick="querydata()"><@spring.message "hrorgunit.unittreelist"/></a></li>
    </ul>
    <div id="tabContent" class="tab-content">
        <div class="tab-pane fade in active" style="margin-top: 20px;" id="maintain">
            <div id="page-content">
                <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
        <span type="button" onclick="newData()" class="btn btn-primary"
              style="float:left;margin-right:5px"><@spring.message "hap.new"/></span>
                    <span class="btn btn-success k-grid-save-changes" style="float:left;margin-right:5px;"
                          data-bind="click:saveFunction"><@spring.message "hap.save"/></span>
                <#--
                        <span class="btn btn-default k-grid-cancel-changes"  style="float:left;margin-right:5px;" data-bind="click:cancelFunction"><@spring.message "hap.cancel"/></span>
                -->
                    <span onclick="deleteData()" class="btn btn-danger"
                          style="float:left;"><@spring.message "hap.delete"/></span>
                </div>
                <script>kendo.bind($('#toolbar-btn'), viewModel);</script>
                <div class="pull-right" id="query-form" style="padding-bottom:10px;">
                    <input placeholder='<@spring.message "hrorgunit.unitCode"/>' type="text"
                           style="float:left;width:150px;margin-right:5px;" data-bind="value:model.unitCode"
                           class="k-textbox">
                    <div style="float:left;margin-right:5px;">
                        <input placeholder='<@spring.message "hrorgunit.name"/>' type="text"
                               style="float:left;width:150px;margin-right:5px;" data-bind="value:model.name"
                               class="k-textbox">
                    </div>
                    <div style="float:left;margin-right:5px;">
                        <input type="text" id="parentId2" placeholder='<@spring.message "hrorgunit.parentName"/>'
                               style="width:150px;" data-bind="value:model.parentId">
                        <script>
                            $("#parentId2").kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "LOV_UNIT")}, {
                                query: function (e) {
                                    e.param['enabledFlag'] = 'Y';
                                }
                            }))
                        </script>
                    </div>

                    <span class="btn btn-primary" style="float:left;margin-right:5px;" data-bind="click:queryResource"
                          type="submit"><@spring.message "hap.query"/></span>
                <#--
                        <span id="resetForm" class="btn btn-default" data-bind="click:resetForm" type="button"  style="float:left;margin-right:5px;"><@spring.message "hap.reset"/></span>
                -->
                    <div style="clear:both"></div>
                </div>
                <script>kendo.bind($('#query-form'), viewModel);</script>

                <div id='grid-container' style="clear: both">
                    <div id="grid" style="clear: both"></div>
                </div>
            </div>
        </div>

        <div id="showTreeUnit" class="tab-pane fade">

            <div id="treeList"></div>
            <script>
                var treeDataSource = new kendo.data.TreeListDataSource({
                    transport: {
                        read: {
                            url: "${base.contextPath}/hr/unit/query",
                            type: "POST",
                            dataType: "json"
                        }
                    },
                    schema: {
                        model : {
                            expanded: true
                        },
                        parse: function(response) {
                            var products = [];
                            for (var i = 0; i < response.total; i++) {
                                if(response.rows[i].enabledFlag=='Y'){
                                    var product = {
                                        id:response.rows[i].unitId,
                                        parentId:response.rows[i].parentId,
                                        unitCode: response.rows[i].unitCode,
                                        name: response.rows[i].name,
                                        positionName: response.rows[i].positionName,
                                        description: response.rows[i].description
                                    };
                                    products.push(product);
                                }
                            }
                            return products;
                        }
                    }
                });

                var treeList =$("#treeList").kendoTreeList({
                    dataSource:treeDataSource,
                    navigatable : false,
                    height :  "100%",
                    resizable : false,
                    scrollable : false,
                    editable : false,
                    columns: [
                        { field: "name",title:"<@spring.message "hrorgunit.name"/>"},
                        { field: "unitCode",title:"<@spring.message "hrorgunit.unitCode"/>"},
                        { field: "positionName",title:"<@spring.message "position.name"/>"},
                        { field: "description",title:"<@spring.message "hrorgunit.description"/>"}
                    ]

                }).data("kendoTreeList");

                function querydata(){
                    treeDataSource.read();
                }
                var grid = $("#treeList").parent();
                var avaHeight = $(window).height() - grid.offset().top - 70
                grid.outerHeight(avaHeight)
                $("#treeList").data('kendoTreeList').resize();
                $(window).resize(function () {
                    var grid = $("#treeList").parent();
                    var avaHeight = $(window).height() - grid.offset().top - 10
                    grid.outerHeight(avaHeight)
                    $(grid_id).data('kendoTreeList').resize();
                });

            </script>
        </div>
    </div>
</div>

<div id="newWin" style="display: none">
    <div id="page-content" style="width:550px">
        <form class="form-horizontal" style="width:550px">
            <div class="col-xs-12" style="margin-top: 5px">
                <div class="form-group">
                    <label class="col-xs-2  control-label"
                           style="text-align: right"><@spring.message "hrorgunit.unitCode"/></label>

                    <div class="col-xs-4">
                        <input id="unitCode" name="unitCode" required validationMessage="<@spring.message "hap.validation.notempty"/>"  type="text" data-bind="value:model.unitCode" class="k-textbox"
                               style="width: 100%;">
                        <script>kendo.bind($('#unitCode'), newViewModel);</script>

                    </div>
                    <div class="col-xs-4" >
                        <span class="k-invalid-msg" data-for="unitCode"></span>
                    </div>
                </div>
            </div>

            <div class="col-xs-12" style="margin-top: 10px">
                <div class="form-group">
                    <label class="col-xs-2   control-label"
                           style="text-align: right"><@spring.message "hrorgunit.parentname"/></label>
                    <div class="col-xs-6">
                        <input type="text" id="parentId" placeholder='<@spring.message "hrorgunit.parentName"/>'
                               style="width:150px;" data-bind="value:model.parentId">
                        <script>
                            $("#parentId").kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "LOV_UNIT")}, {
                                query: function (e) {
                                    e.param['enabledFlag'] = 'Y';
                                }
                            }))
                            kendo.bind($('#parentId'), newViewModel);
                        </script>
                    </div>
                </div>
            </div>

            <div class="col-xs-12" style="margin-top: 10px">
                <div class="form-group">
                    <label class="col-xs-2   control-label"
                           style="text-align: right"><@spring.message "hrorgunit.name"/></label>
                    <div class="col-xs-6">
                        <input id="name" type="text"  data-bind="value:model.name" style="width: 100%;">
                        <script>
                            $("#name").kendoTLEdit({
                                idField: 'unitId',
                                field: 'name',
                                dto: "com.hand.hap.hr.dto.HrOrgUnit",
                                model: newViewModel.model
                            })
                            kendo.bind($('#name'), newViewModel);
                        </script>
                    </div>
                </div>
            </div>

            <div class="col-xs-12" style="margin-top: 10px">
                <div class="form-group">
                    <label class="col-xs-2   control-label"
                           style="text-align: right"><@spring.message "hrorgunit.description"/></label>
                    <div class="col-xs-6">
                        <input id="description" type="text" data-bind="value:model.description" style="width: 100%;">
                        <script>
                            $("#description").kendoTLEdit({
                                idField: 'unitId',
                                field: 'description',
                                dto: "com.hand.hap.hr.dto.HrOrgUnit",
                                model: newViewModel.model
                            })
                            kendo.bind($('#description'), newViewModel);
                        </script>
                    </div>
                </div>
            </div>

                <div class="col-xs-12" style="margin-top: 10px">
                        <div class="form-group">
                            <label class="col-xs-2   control-label"
                                   style="text-align: right"><@spring.message "hrorgunit.companyname"/></label>
                            <div class="col-xs-6">
                                <input id="unitcompany" type="text" placeholder='<@spring.message "hrorgunit.companyname"/>'
                                       data-bind="value:model.companyId" style="width:150px;">
                                <script>
                                    $("#unitcompany").kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "LOV_COMPANY")}, {
                                        query: function (e) {
                                            e.param['enabledFlag']='Y';
                                        }
                                    }))
                                    kendo.bind($('#unitcompany'), newViewModel);
                                </script>
                            </div>
                        </div>
                    </div>

            <div class="col-xs-12" style="margin-top: 10px">
                <div class="form-group">
                    <label class="col-xs-2   control-label"
                           style="text-align: right"><@spring.message "hap.enableflag"/></label>
                    <div class="col-xs-6" style="padding-top: 7px">
                        <input type="checkbox" class="gridCheckbox" #=enabledFlag=="N" ? \'checked="checked"\':""#
                        id="enabledFlag" name="enabledFlag"/>
                        <script>
                            kendo.bind($('#enabledFlag'), newViewModel);
                        </script>
                    </div>
                </div>
            </div>

            <div class="col-xs-12" style="margin-top: -5px">
                <div class="form-group">
                    <div class="col-xs-6" style="float:right">
                        <span id="saveForm" class="btn btn-success k-grid-save-changes"
                              style="float:center;margin-right:5px;"
                              data-bind="click:saveFunction"><@spring.message "hap.save"/></span>
                        <script>kendo.bind($('#saveForm'), newViewModel);</script>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">

    var crudServiceBaseUrl = '${base.contextPath}/hr/unit',
            dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: crudServiceBaseUrl + "/query",
                        type: "POST",
                        dataType: "json"
                    },
                    create: {
                        url: crudServiceBaseUrl + "/submit",
                        contentType: "application/json",
                        type: "POST"
                    },
                    update: {
                        url: crudServiceBaseUrl + "/submit",
                        contentType: "application/json",
                        type: "POST"
                    },
                    destroy: {
                        url: crudServiceBaseUrl + "/remove",
                        contentType: "application/json",
                        type: "POST"
                    },
                    parameterMap: function (options, type) {
                        if (type !== "read" && options.models) {
                            var datas = Hap.prepareSubmitParameter(options, type);
                            return kendo.stringify(datas);
                        } else if (type === "read") {
                            return Hap.prepareQueryParameter(viewModel.model.toJSON(), options);
                        }
                    }
                },
                batch: true,
                serverPaging: true,
                pageSize: 10,
                schema: {
                    data: 'rows',
                    total: 'total',
                    model: {
                        id: "unitId",
                        fields: {
                            unitId: {type: "int", editable: false}
                        }
                    }
                }
            });


    var grid = $("#grid").kendoGrid({
        dataSource: dataSource,
        navigatable: false,
        height: '100%',
        resizable: true,
        scrollable: true,
        selectable:'multiple,rowbox',
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        columns: [
            {field: "unitCode", title: '<@spring.message "hrorgunit.unitCode"/>', width: 120},
            {
                field: "name",
                title: '<@spring.message "hrorgunit.name"/>',
                width: 180,
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                },
                editor: function (container, options) {
                    $('<input name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoTLEdit({
                                idField: 'unitId',
                                field: 'name',
                                dto: "com.hand.hap.hr.dto.HrOrgUnit",
                                model: options.model
                            });
                }
            },
            {
                field: "parentId",
                title: '<@spring.message "hrorgunit.parentName"/>', width: 120,
                template: function (dataItem) {
                    return dataItem['parentName'] || ''
                },
                editor: function (container, options) {
                    $('<input name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoLov($.extend(<@lov "LOV_UNIT"/>, {
                                query: function (e) {
                                    e.param['enabledFlag'] = 'Y'
                                },
                                textField: 'parentName',
                                model: options.model
                            }));
                }
            },
            {
                field: "description",
                title: '<@spring.message "resource.description"/>',
                width: 180,
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                },
                editor: function (container, options) {
                    $('<input name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoTLEdit({
                                idField: 'unitId',
                                field: 'description',
                                dto: "com.hand.hap.hr.dto.HrOrgUnit",
                                model: options.model
                            });
                }
            },
            {
                field: "managerPosition",
                title: '<@spring.message "position.name"/>', width: 120,
                template: function (dataItem) {
                    return dataItem['positionName'] || ''
                },
                editor: function (container, options) {
                    $('<input name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoLov($.extend(<@lov "LOV_POSITION"/>, {
                                query: function (e) {
                                    var uid = grid.dataItem(this.input.parents('tr')[0]).unitId;
                                    e.param['enabledFlag'] = 'Y';
                                    e.param['unitId'] = uid;
                                },
                                textField: 'positionName',
                                model: options.model
                            }));
                }
            },
            {
                field: "companyId",
                title: '<@spring.message "hrorgunit.companyname"/>', width: 120,
                template: function (dataItem) {
                    return dataItem['companyName'] || ''
                },
                editor: function (container, options) {
                    $('<input name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoLov($.extend(<@lov "LOV_COMPANY"/>, {
                                query: function (e) {
                                    e.param['enabledFlag'] = 'Y'
                                },
                                textField: 'companyName',
                                model: options.model
                            }));
                }
            },
            {
                title: '<@spring.message "hap.enableflag"/>', width: 70,
                headerAttributes: {style: "text-align:center"},
                attributes: {style: "text-align:center"},
                template: '       <input type="checkbox" class="gridCheckbox" #=enabledFlag=="Y" ? \'checked="checked"\':""# id="enabledFlag"  name="enabledFlag"/>'
            },

        ],
        editable: true,
        dataBound: function () {
            var view = this.dataSource.view();
            this.items().each(function (index, row) {
                kendo.bind(row, view[index]);
            });
        }
    }).data("kendoGrid");


    function deleteData() {

        var checked = grid.selectedDataItems();
        if(grid.selectedDataItems().length){
            kendo.ui.showConfirmDialog({
                title:$l('hap.tip.info'),
                message: $l('hap.tip.delete_confirm')
            }).done(function (event) {
                if (event.button == 'OK') {
                    $.each(checked,function(i,v){
                        grid.dataSource.remove(v)
                    })
                    grid.dataSource.sync();
                }
            })
        }
    }

    function newData() {
        newViewModel.model.set("enabledFlag", "N");
        $("#newWin").kendoWindow({
            actions: ["Close"],
            title: $l('hap.new'),
            draggable: true,
            height: "300px",
            width: "600px",
            iframe: true,
            modal: true,
            /*            close: function(){
            /!*                          $.each(newViewModel.model.toJSON(),function(i,item){
                                           newViewModel.model.set(i,null);
                                        });

                                        $('#grid').data('kendoGrid').dataSource.query();*!/
                        }*/
        });
        var win = $("#newWin").data("kendoWindow");
        win.center().open();
    }

    $("#newWin").kendoValidator();

    /*    $("#alert").kendoConfirm({
  messages:{
    okText: "OK",
  }
}).data("kendoConfirm").open();*/


    $("#newWin").on("change", "input.gridCheckbox", function (e) {
        newViewModel.model.set("enabledFlag", this.checked ? 'Y' : 'N');
    });
    $("#grid").on("change", "input.gridCheckbox", function (e) {
        var target = $(e.target), grid = $("#grid").data("kendoGrid"),
                dataItem = grid.dataItem(target.closest("tr"));
        dataItem.set(target.context.name, this.checked ? 'Y' : 'N');
    });

    Hap.autoResizeGrid("#grid");
</script>
</body>
</html>