<#-- 
 * description: LOV界面
 * version: 1.0 
 * author:hailin.xu@hand-china.com
 * -->
<#include "../include/header.html">
<body>
<script type="text/javascript">
    var viewModel = kendo.observable({
        model: {},
        createFunction: function(){
            $('#grid').data('kendoGrid').addRow();
        },
        saveFunction: function () {
            $('#grid').data('kendoGrid').saveChanges();
        },
        queryResource: function (e) {
            $('#grid').data('kendoGrid').dataSource.page(1);
        }
    });
</script>
<div id="dialogEdit" style="display: none"></div>
<div id="page-content">
    <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
        <span class="btn btn-primary" style="float:left;margin-right:5px;" data-bind="click:createFunction"><@spring.message "hap.new"/></span>
        <span class="btn btn-success k-grid-save-changes" style="float:left;margin-right:5px;" data-bind="click:saveFunction"><@spring.message "hap.save"/></span>
        <span onclick="deleteData()" class="btn btn-danger" style="float:left;"><@spring.message "hap.delete"/></span>
    </div>
    <script>kendo.bind($('#toolbar-btn'), viewModel);</script>
    <div class="pull-right" id="query-form" style="padding-bottom:10px;">
        <input data-role="maskedtextbox" placeholder='<@spring.message "position.positioncode"/>' type="text" style="width: 150px;float:left;margin-right:5px;" data-bind="value:model.positionCode" class="k-textbox">
        <input data-role="maskedtextbox" placeholder='<@spring.message "position.name"/>' type="text" style="width: 150px;float:left;margin-right:5px;" data-bind="value:model.name"
               class="k-textbox">
        <span class="btn btn-primary" data-bind="click:queryResource" style="width: 80px;float:left;margin-right:5px;" type="submit"><@spring.message "hap.query"/></span>
        <div style="clear:both"></div>
    </div>
    <script>kendo.bind($('#query-form'), viewModel);</script>
    <div style="clear: both;">
        <div id="grid"></div>
    </div>
</div>

<script type="text/javascript">
    
	$('#query-form input').keydown(function (e) {
	    if (e.keyCode == 13) {
	        e.target.blur();
	        viewModel.queryResource(e);
	    }
	});


    var crudServiceBaseUrl = '${base.contextPath}/hr/position',
            dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: crudServiceBaseUrl + "/query",
                        type    : "POST",
                        dataType: "json"
                    },
                    create: {
                        url: crudServiceBaseUrl + "/submit",
                        contentType: "application/json",
                        type: "POST"
                    },
                    update: {
                        url: crudServiceBaseUrl + "/submit",
                        contentType: "application/json",
                        type: "POST"
                    },
                    destroy: {
                        url: crudServiceBaseUrl + "/remove",
                        contentType: "application/json",
                        type: "POST"
                    },
                    parameterMap: function (options, type) {
                        if (type !== "read" && options.models) {
                            var datas = Hap.prepareSubmitParameter(options, type);
                            return kendo.stringify(datas);
                        } else if (type === "read") {
                            return Hap.prepareQueryParameter(viewModel.model.toJSON(), options);
                        }
                    }
                },
                batch: true,
                serverPaging: true,
                pageSize: 10,
                schema: {
                    data: 'rows',
                    total: 'total',
                    model: {
                        id: "positionId",
                        fields: {
                        	unitId:{},
                            description: {type: "string"}
                        }
                    }
                }
            });
    var grid = $("#grid").kendoGrid({
        dataSource: dataSource,
        navigatable: false,
        height: '100%',
        resizable: true,
        scrollable: true,
        selectable:'multiple,rowbox',
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        columns: [
            {
                field: "positionCode",
                title: '<@spring.message "position.positioncode"/>',
                width: 100,
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                }
            },
            {
                field: "name",
                title: '<@spring.message "position.name"/>',
                width: 100,
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                },
                editor: function (container, options) {
                    $('<input name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoTLEdit({
                                idField: 'positionId',
                                field: 'name',
                                dto: "com.hand.hap.hr.dto.Position",
                                model: options.model
                            });
               }
            },
            {
                field: "description",
                title: '<@spring.message "position.description"/>',
                width: 140,
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                },
                editor: function (container, options) {
                    $('<input name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoTLEdit({
                                idField: 'positionId',
                                field: 'description',
                                dto: "com.hand.hap.hr.dto.Position",
                                model: options.model
                            });
                }
            },
            {
                field: "unitId",
                title: '<@spring.message "hrorgunit.name"/>',
                width: 140,
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                },
                template        : function (dataItem) {
               	 return dataItem['unitName'] || '';
               },
                editor  : function (container, options) { 
                    $('<input name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoLov($.extend(<@lov "LOV_UNIT"/>, {
                                textField: 'unitName',
                                model    : options.model
                    }));
                }
            },
            {
                field: "parentPositionId",
                title: '<@spring.message "position.parentpositionname"/>',
                width: 140,
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                },
                template        : function (dataItem) {
                	 return dataItem['parentPositionName'] || '';
                },
                editor          : function (container, options) { 
                    $('<input name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoLov($.extend(<@lov "LOV_POSITION"/>, {
                                textField: 'parentPositionName',
                                query:function(e){
                                    //e.param['positionId'] = options.model.positionId;
                                },
                                model    : options.model
                    }));
                }
          }
        ],
        editable: true
    }).data("kendoGrid");


    function deleteData() {

    	var checked = grid.selectedDataItems();
        if(grid.selectedDataItems().length){  
	        kendo.ui.showConfirmDialog({
	        	title:$l('hap.tip.info'),
	        	message: $l('hap.tip.delete_confirm')
	        }).done(function (event) {
	            if (event.button == 'OK') {
	            	$.each(checked,function(i,v){
	            		grid.dataSource.remove(v)
	            	})
	                grid.dataSource.sync();
	            }
	        }) 
        }
    }
    
    //自动根据当前屏幕大小调整表格
    Hap.autoResizeGrid("#grid");

</script>

</body>
</html>
