<#-- 
 * description: 功能维护界面
 * version: 2.0 
 * author:hailin.xu@hand-china.com 
 *
 -->
<#include "../include/header.html">
<body>
<style>
    span[class^="l-icon-edit"] {
        width: 20px;
        height: 16px;
        overflow: hidden;
        display: inline-block;
    }
    .l-icon-edit {
        background: url('${base.contextPath}/resources/images/svg/edit.svg') no-repeat center;
    }
</style>
<script type="text/javascript">
    var viewModel = kendo.observable({
        model        : {},
        createFunction: function(){
            $('#grid').data('kendoGrid').addRow();
        },
        saveFunction: function(){
            $('#grid').data('kendoGrid').saveChanges();
        },
        queryFunction: function (e) {
            $('#grid').data('kendoGrid').dataSource.page(1);
        },
        resetFunction: function(e) {
			   var formData = viewModel.model.toJSON();
			   for ( var k in formData) {
				   viewModel.model.set(k, null);
			   }
		   }
    });
</script>
<div id="dialog"></div>
<div id="selectFunction"></div>
<div id="page-content">
    <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
        <span class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;" data-bind="click:createFunction"><@spring.message "hap.new"/></span>
        <span class="btn btn-success k-grid-save-changes"  style="float:left;margin-right:5px;" data-bind="click:saveFunction"><@spring.message "hap.save"/></span>
        <span  onclick="deleteData()" class="btn btn-danger" style="float:left;"><@spring.message "hap.delete"/></span>
    </div>
    <script>kendo.bind($('#toolbar-btn'), viewModel);</script>
  
    <div id="queryPanel" class="pull-right"  style="margin-right:5px;padding-bottom:10px;">
     	<div class="k-query-simple" id="query-form">
             <input data-role="maskedtextbox" placeholder="<@spring.message "function.functioncode"/>" type="text" style="width:150px;" data-bind="value:model.functionCode" class="k-textbox">
        </div>
        <script>kendo.bind($('#query-form'), viewModel);</script>
     	<div class="k-query-detail" id="query-form2">
     	   <div class="rows" >
     	    <input data-role="maskedtextbox" placeholder="<@spring.message "function.functionname"/>" type="text" style="width: 150px;margin-right:5px;" data-bind="value:model.functionName" class="k-textbox">
            <input type="text" id="parentFunctionId" placeholder="<@spring.message "function.parentfunctionid"/>" style="width:150px;" data-bind="value:model.parentFunctionId">
            <script>
                $("#parentFunctionId").kendoLov(<@lov "LOV_PARENTFUNCTION"/>)
            </script>
          </div>
         
          <div class="rows"  style="margin-top:10px">
     	     <input data-role="maskedtextbox" placeholder='<@spring.message "function.modulecode"/>' type="text" style="width: 150px;margin-right:5px;" data-bind="value:model.moduleCode" class="k-textbox">
             <input type="text" id="resourceId" placeholder="<@spring.message "function.mainpage"/>" style="width:150px;" data-bind="value:model.resourceId">
             <script>
                $("#resourceId").kendoLov(<@lov "LOV_RESOURCE"/>)
             </script>
          </div>
          
          
      	 </div>
     	 <script>kendo.bind($('#query-form2'), viewModel);</script>
    </div>
      <script>
        /*
        *  必需:
        *  id: queryPanel
        *  简单查询   : k-query-simple
        *  更多查询   :k-query-detail
        *  参数：
        *  查询函数：queryFunction
        *  充值函数:resetFunction 非必需
        */
        $('#queryPanel').kendoQueryPanel({
            queryFunction:function(){
            	viewModel.queryFunction();
            },
            resetFunction:function(){
            	viewModel.resetFunction();
            }
         })
     </script> 
    <div style="clear:both">
        <div id="grid"></div>
    </div>
</div>


<script type="text/javascript">

    $('#query-form input').keydown(function (e) {
        if (e.keyCode == 13) {
            e.target.blur();
            viewModel.queryFunction(e);
        }
    });

    editFunctionResources = function (id) {
        var dialog = $("#dialog").kendoWindow({
            actions: ["Close"],
            animation: {
		    	close: {
				    effects: "fadeOut zoom:out",
				    duration: 300
				},
			    open: {
			        effects: "fadeIn zoom:in",
			        duration: 300
			    }
		    },
            width  : 800,
            height : 450,
            title  : '<@spring.message "function.resourceallocation"/>',
            visible: false,
            iframe : true,
            modal  : true,
            content: 'sys_function_resource.html?functionId=' + id
        }).data("kendoWindow");
        dialog.center().open();
    };

    var crudServiceBaseUrl = '${base.contextPath}/sys/function',
            dataSource = new kendo.data.DataSource({
                transport   : {
                    read        : {
                        url     : crudServiceBaseUrl + "/query",
                        type    : "POST",
                        dataType: "json"
                    },
                    create      : {
                        url        : crudServiceBaseUrl + "/submit",
                        contentType: "application/json",
                        type       : "POST"
                    },
                    update      : {
                        url        : crudServiceBaseUrl + "/submit",
                        contentType: "application/json",
                        type       : "POST"
                    },
                    destroy     : {
                        url        : crudServiceBaseUrl + "/remove",
                        contentType: "application/json",
                        type       : "POST"
                    },
                    parameterMap: function (options, type) {
                        if (type !== "read" && options.models) {
                            var datas = Hap.prepareSubmitParameter(options, type);
                            return kendo.stringify(datas);
                        } else if (type === "read") {
                            return Hap.prepareQueryParameter(viewModel.model.toJSON(), options);
                        }
                    }
                },
                batch       : true,
                serverPaging: true,
                serverSorting: true,
                pageSize    : 10,
                schema      : {
                    data  : 'rows',
                    total : 'total',
                    model : {
                        id    : "functionId",
                        fields: {
                        	moduleCode:{type:"string",validation: {required:true}},
                            functionCode       : {type: "string",validation:{required:true}},
                            functionName       : {type: "string"},
                            functionIcon       : {type: "string"},
                            functionSequence   : {type: "number", defaultValue: 10},
                            functionDescription: {type: "string"},
                            parentFunctionId   : {type: "int"},
                            resourceId         : {type: "int"}
                        }
                    }
                }
                
            });
    var grid = $("#grid").kendoGrid({
        dataSource : dataSource,
        navigatable: true,
        height     : '100%',
        resizable  : true,
        scrollable : true,
        selectable : 'multiple, rowbox',
        pageable   : {
            pageSizes  : [5, 10, 20, 50],
            refresh    : true,
            buttonCount: 5
        },
        sortable: true,
        editable   : "inline",
        columns    : [
            {
                field           : "moduleCode",
                title           : '<@spring.message "function.modulecode"/>',
                width           : 100
            },
            {
                field           : "functionCode",
                title           : '<@spring.message "function.functioncode"/>',
                width           : 180
            },
            {
                field           : "functionName",
                title           : '<@spring.message "function.functionname"/>',
                width           : 120,
                sortable:false,
                editor: function (container, options) {
                    $('<input name="' + options.field + '"/>')
                    .appendTo(container)
                    .kendoTLEdit({
                        idField: 'functionId',
                        field: 'functionName',
                        dto: "com.hand.hap.function.dto.Function",
                        model: options.model
                    });
                 }
            },
            {
                field           : "functionIcon", title: '<@spring.message "function.functionicon"/>',
                sortable:false,
                width           : 130
            },
            {
                field           : "functionSequence",
                title           : '<@spring.message "function.functionsequence"/>',
                width           : 80,
                format          : "{0}",
                attributes      : {
                    style: "text-align:right"
                }
                
            },
            {
                field           : "functionDescription",
                title           : '<@spring.message "function.functiondescription"/>',
                sortable:false,
                width           : 140,
                editor: function (container, options) {
                    $('<input name="' + options.field + '"/>')
                    .appendTo(container)
                    .kendoTLEdit({
                        idField: 'functionId',
                        field: 'functionDescription',
                        dto: "com.hand.hap.function.dto.Function",
                        model: options.model
                    });
                 }
            },
            {
                field           : "parentFunctionId",
                title           : '<@spring.message "function.parentfunctionid"/>',
                sortable:false,
                width           : 120,
                template        : function (dataItem) {
                    return dataItem['parentFunctionName'] || ''
                },
                editor          : function (container, options) {
                    $('<input name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoLov($.extend(<@lov "LOV_PARENTFUNCTION"/>, {
                                textField: 'parentFunctionName',
                                model    : options.model
                            }));
                }
            },
            {
                field           : "resourceId", 
                title: '<@spring.message "function.mainpage"/>', width: 120,
                sortable:false,
                template        : function (dataItem) {
                    return dataItem['resourceName'] || ''
                },
                editor          : function (container, options) {
                    $('<input name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoLov($.extend(<@lov "LOV_RESOURCE"/>, {
                                textField: 'resourceName',
                                model    : options.model
                            }));
                }
            },
            {
                title           : '<@spring.message "function.functionresource"/>', width: 80, attributes: {style: "text-align:center"},
                template        : function (rowdata) {
                    if (!!rowdata.functionId) {
                        return '<a href="javascript:void(0);" onclick="editFunctionResources('+rowdata.functionId+')"><@spring.message "hap.edit"/></a>'
                    }
                    return '';
                },
                attributes      : {
                    style: "text-align:center"
                }
          
            }, 
            {
            	title:'<@spring.message "hap.edit"/>',
                width: 70,
                template: function (item) {
                    var div = "<div style='text-align:center;'>";
                    div += Hap.createAnchor('<span class="l-icon-edit" title="<@spring.message "hap.edit"/>"/>', editModel,item.uid);
                    div += "</div>";
                    return div;
                }
            }
        ]
    }).data("kendoGrid");

    $("#grid thead>tr th").css("text-align","center");
    
    function deleteData() {

    	Hap.deleteGridSelection({
	     	grid:$('#grid')
	    });
    }
    
    function editModel(uid){
    	var row = dataSource.getByUid(uid);
    	if(!row){
    		return;
    	}
    	grid.editRow(row);
    }
    //自动根据当前屏幕大小调整表格

    Hap.autoResizeGrid("#grid");

</script>

</body>
</html>
