<#-- 
 * description: 功能界面
 * version: 1.0 
 * author:hailin.xu@hand-china.com 
 * #{copyright}# 
 * --> 
<#include "../include/header.html">
<body>
  <script type="text/javascript">
           var viewModel = kendo.observable({
               model:{},
               queryResource: function(e) {
               $('#grid').data('kendoGrid').dataSource.page(1);
           }
       });
  </script> 
    <div id="content-container">
        <div id="page-content">
            <div class="panel" style="padding: 0px;">
                <form class="form-horizontal">
                    <div class="panel-body">
                       <div class="row">
                        <div class="col-xs-5">
                            <div class="form-group">
                                <label class="col-xs-4 control-label"><@spring.message "resource.url"/></label>
                                <div class="col-xs-8">
                                    <input type="text" id="url" style="width: 100%" data-bind="value:model.url"
                                        class="k-textbox">
                                    <script>kendo.bind($('#url'), viewModel);</script>
                                </div>
                            </div>
                         </div>
                         
                        <div class="col-xs-5">
                            <div class="form-group">
                                <label class="col-xs-4 control-label"><@spring.message "resource.name"/></label>
                                <div class="col-xs-8">
                                    <input type="text" id="name" style="width: 100%" data-bind="value:model.name"
                                        class="k-textbox">
                                    <script>kendo.bind($('#name'), viewModel);</script>
                                </div>
                            </div>
                        </div>  
                        
                        <div class="col-xs-2">
                            <div class="form-group">
                                <div class="col-xs-6">
                                      <span class="btn btn-success" id="query" data-bind="click:queryResource"
                                            type="submit"><@spring.message "hap.query"/></span>
                                      <script>kendo.bind($('#query'), viewModel);</script>
                                </div>
                            </div>
                        </div>  
                        
                       </div>    
                    </div>
                    <!-- end panel-->
                        
                </form>
            </div>
              
               <div>
                 <div id="grid" style="clear: both"></div>
                </div>
          </div>
    </div>

    <script type="text/javascript">
    
           dataSource = new kendo.data.DataSource({
               transport: {
                   read        : {
                       url     : '${base.contextPath}/sys/function/fetchNotResource?functionId=' + ${RequestParameters.functionId},
                       type    : "POST",
                       dataType: "json"
                   },
                   parameterMap: function(options) {                
                       var map = viewModel.model.toJSON();
                       map.page = options.page;
                       map.pagesize = options.pageSize;
                       for (var k in map) {
                           if (map[k] === '' || map[k] === null || map[k] === undefined)
                               delete map[k]
                       }
                       return map;
                   }
              },
              /* requestEnd : function(e) {

            	  var response = e.response;
					if(!response)
						return;
                    debugger;
	            	 var datas =  window.parent.$("#dialog").find('iframe')[0].contentWindow.$('#grid').data("kendoGrid").dataSource.data();
				     var rows = response.rows;
					for(var i=0;i<datas.length;i++)
					{
						for(var j=0;j<rows.length;j++)
						{
							if(rows[j]){
							  if(rows[j].resourceId == datas[i].resourceId )
							  {
								delete rows[j]; 
								break;
							  }
							}
						}
					}
				   //添加最后一条数据时会有一个undefined，未解决
					var r = 0;
					for(var index in rows)
					{
						console.log(index);
						console.log(rows[index]);
						if(rows[index])
						 {
							response.rows[r]=rows[index];
						    console.log(response.rows[r]);
							r++;
						 }
					} 

			 }, */
              batch: true,
              serverPaging : true,
              pageSize: 10,
              schema: {
                  data:'rows',
                  total:'total',
                  model: {
                      id: "functionId",
                      fields: {
                          url        : {type:"string" },
                          name       : {type:"string"}          
                      }
                  }
              }
         }); 
             
         var grid = $("#grid").kendoGrid({
             dataSource: dataSource,
             height:"100%", 
             navigatable: true,
             resizable: true,
             scrollable: true,
             editable:false,
             selectable:"multiple,rowbox",
             pageable: {
                pageSizes:[5, 10, 20, 50],
                refresh:true,
                buttonCount:5
            },
            toolbar: [
                      {   
                          template : '<span class="btn btn-success" onclick="saveData()"><@spring.message "hap.ok"/></span>'
                      },{
                          template : '<span class="btn btn-default" onclick="closeWin()"><@spring.message "hap.cancel"/></span>'
                      }
            ],
            columns: [
                { field: "url", title: '<@spring.message "resource.url"/>', width: 280},
                { field: "name", title: '<@spring.message "resource.name"/>', width: 230 }
                ],
            editable: false
        }).data("kendoGrid"); 


        function closeWin(){
        	window.parent.$("#selectFunction").data("kendoWindow").close();
        }
        function saveData()
        {
        	var checked = grid.selectedDataItems();
            if(grid.selectedDataItems().length){  
    	        $.each(checked,function(i,v){
    	        	window.parent.$("#dialog").find('iframe')[0].contentWindow.$('#grid').data("kendoGrid").dataSource.add(v);
               	    window.parent.$("#selectFunction").data("kendoWindow").close();
    	        })
    	 
            }
        }
        $("#grid thead>tr th").css("text-align","center");
        Hap.autoResizeGrid("#grid");                     
</script>
</body>
</html>
