<#-- 
 * description: LOV编辑界面
 * version: 2.0 
 *author:hailin.xu@hand-china.com 
 *author:zhizheng.yang@hand-china.com
 * -->
<#include "../include/header.html">
<body>
<script src="${base.contextPath}/common/code?yesno=SYS.YES_NO&lovTypes=SYS.LOV_EDITOR_TYPE&alignType=SYS.ALIGN_TYPE"
        type="text/javascript"></script>
<script type="text/javascript">

    var lovId =${RequestParameters.lovId!0};

    // 转换大小写
    $.each(lovTypes, function (i, n) {
        n.value = n.value.toLowerCase();
    })
    $.each(alignType, function (i, n) {
        n.value = n.value.toLowerCase();
    })
    var crudServiceBaseUrl = '${base.contextPath}/sys/lovitem';
    var viewModel2 = kendo.observable({
        selected: {},
        source: lovTypes,
        dataDsType: [
            {value: 'url', text: '<@spring.message "lovitem.ds_type.url"/>'},
            {value: 'code', text: '<@spring.message "lovitem.ds_type.code"/>'}
        ],
        onConditionFieldTypeSelect: function (e) {
            var item = e.item;
            var text = item.text();
            //获取到下拉框选中内容 根据选中内容判断是否显示
            if (text === "下拉框" || text === "Select") {
                $("#url").css("display", "none")
                $("#conditionFieldSelectTftextField").css("display", "none")
                $("#conditionFieldSelectVfvalueField").css("display", "none")
                $("#selectCode").css("display", "none")
                $("#dsType").css("display", "block")
                viewModel2.selected.set('conditionFieldSelectCode', '')
                viewModel2.selected.set('conditionFieldSelectUrl', '')
                viewModel2.selected.set('conditionFieldSelectTf', '')
                viewModel2.selected.set('conditionFieldSelectVf', '')

            }
            else {
                $("#url").css("display", "none")
                $("#conditionFieldSelectTftextField").css("display", "none")
                $("#conditionFieldSelectVfvalueField").css("display", "none")
                $("#selectCode").css("display", "none")
                $("#dsType").css("display", "none")
                viewModel2.selected.set('conditionFieldSelectCode', '')
                viewModel2.selected.set('conditionFieldSelectUrl', '')
                viewModel2.selected.set('conditionFieldSelectTf', '')
                viewModel2.selected.set('conditionFieldSelectVf', '')
                viewModel2.selected.set('comboboxType', '')
            }
        },
        oncomboboxTypeSelect: function (e) {
            var item = e.item;
            var text = item.text();
            //获取到下拉框选中内容 根据选中内容判断是否显示
            if (text == "URL") {
                $("#selectCode").css("display", "none")
                viewModel2.selected.set('conditionFieldSelectCode', '')
                $("#url").css("display", "block")
                $("#conditionFieldSelectTftextField").css("display", "block")
                $("#conditionFieldSelectVfvalueField").css("display", "block")
            }
            else if (text == "快速编码" || text == "Sys Code") {
                $("#url").css("display", "none")
                $("#conditionFieldSelectTftextField").css("display", "none")
                $("#conditionFieldSelectVfvalueField").css("display", "none")
                $("#selectCode").css("display", "block")
                viewModel2.selected.set('conditionFieldSelectUrl', '')
                viewModel2.selected.set('conditionFieldSelectTf', '')
                viewModel2.selected.set('conditionFieldSelectVf', '')

            }
            else {
                $("#url").css("display", "none")
                $("#conditionFieldSelectTftextField").css("display", "none")
                $("#conditionFieldSelectVfvalueField").css("display", "none")
                $("#selectCode").css("display", "none")
                viewModel2.selected.set('conditionFieldSelectCode', '')
                viewModel2.selected.set('conditionFieldSelectUrl', '')
                viewModel2.selected.set('conditionFieldSelectTf', '')
                viewModel2.selected.set('conditionFieldSelectVf', '')
            }
        },
        dataSource: new kendo.data.DataSource({
            transport: {
                read: {
                    url: crudServiceBaseUrl + "/query"
                },
                create: {
                    url: crudServiceBaseUrl + "/submit",
                    contentType: "application/json",
                    type: "POST"
                },
                update: {
                    url: crudServiceBaseUrl + "/submit",
                    contentType: "application/json",
                    type: "POST"
                },
                destroy: {
                    url: crudServiceBaseUrl + "/remove",
                    contentType: "application/json",
                    type: "POST"
                },
                parameterMap: function (options, type) {
                    if (type !== "read" && options.models) {
                        var datas = Hap.prepareSubmitParameter(options, type);
                        return kendo.stringify(datas);
                    } else if (type === "read") {
                        var p = Hap.prepareQueryParameter(viewModel.model.toJSON(), options);
                        p.lovId = lovId;
                        return p;
                    }
                }
            },
            requestEnd: function (e) {
                var response = e.response;
                if (!response)
                    return;
                //对查询编辑里的内容进行初始化

            },
            batch: true,
            serverPaging: false,
            pageSize: 10,
            schema: {
                data: 'rows',
                total: 'total',
                model: {
                    id: "lovItemId",
                    fields: {
                        display: {type: "string", validation: {required: true}},
                        gridFieldName: {type: "string", validation: {required: true}},
                        gridFieldWidth: {type: "number", defaultValue: 200},
                        gridField: {type: "string"},
                        gridFieldAlign: {},
                        conditionField: {type: "string"},
                        gridFieldSequence: {type: "number"},
                        conditionFieldType: {type: "string"},
                        comboboxType: {type: "string"},
                        conditionFieldWidth: {type: "number", defaultValue: 200},
                        conditionFieldSequence: {type: "number", defaultValue: 1},
                        conditionFieldName: {type: "string"},
                        conditionFieldSelectVf: {type: "string"},
                        conditionFieldSelectUrl: {type: "string"},
                        conditionFieldSelectCode: {type: "string"},
                        conditionFieldSelectTf: {type: "string"},
                        conditionFieldTextfield: {type: "string"},
                        conditionFieldLovCode: {type: "string"},
                        isAutoComplete: {type: "checkbox"},
                        autocompleteField: {type: "checkbox"}
                    }
                }
            }
        })
    });
    //   kendo.bind($("#queryEdit"), viewModel2);


    var viewModel = kendo.observable({
        model: {},
        queryResource: function (e) {
            //  $('#grid').data('kendoGrid').dataSource.page(1);
        }
    });
    
</script>

<!-- 编辑界面 -->
<form id="queryEdit" class="modal-content form-horizontal" role="form" autocomplete="off" style="display:none">
    <div class="col-xs-offset-1" style="margin-top:10px">
                <div class="form-group ">
                    <label class="col-xs-3 control-label"><@spring.message "lovitem.field_type"/></label>
                    <div class="col-xs-5">
                        <input  id="conditionFieldType" data-role="combobox" data-value-primitive="true" style="width: 100%" data-text-field="meaning" data-value-field="value"
                               data-bind="source:source,value:selected.conditionFieldType,events:{select:onConditionFieldTypeSelect}"/>
                        <script>kendo.bind($('#conditionFieldType'), viewModel2);</script>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label"><@spring.message "lovitem.conditionfieldwidth"/></label>
                    <div class="col-xs-5">
                        <input type="number" id="conditionFieldWidth" style="width: 100%;text-align:right" data-bind="value:selected.conditionFieldWidth"
                               class="k-textbox">
                        <script>kendo.bind($('#conditionFieldWidth'), viewModel2);</script>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label"><@spring.message "lovitem.conditionfieldsequence"/></label>
                    <div class="col-xs-5">
                        <input type="number" id="conditionFieldSequence" style="width: 100%;text-align:right" data-bind="value:selected.conditionFieldSequence"
                               class="k-textbox">
                        <script>kendo.bind($('#conditionFieldSequence'), viewModel2);</script>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-3 control-label"><@spring.message "lovitem.conditionfieldname"/></label>
                    <div class="col-xs-5">
                        <input type="text" id="conditionFieldName" style="width: 100%" data-bind="value:selected.conditionFieldName"
                               class="k-textbox">
                        <script>kendo.bind($('#conditionFieldName'), viewModel2);</script>
                    </div>
                </div>
                <div class="form-group" id="dsType" style="display:none">
                    <label class="col-xs-3 control-label"> <@spring.message "lovitem.ds_type"/></label>
                    <div class="col-xs-5">
                        <input id="comboboxType" data-role="combobox" data-value-primitive="true" style="width: 100%" data-text-field="text" data-value-field="value"
                               data-bind="source:dataDsType,value:selected.comboboxType,events:{select:oncomboboxTypeSelect}"/>
                        <script>kendo.bind($('#comboboxType'), viewModel2);</script>
                    </div>
                </div>
                <div class="form-group" id="url" style="display:none">
                    <label class="col-xs-3 control-label"><@spring.message "Url"/></label>
                    <div class="col-xs-5">
                        <input type="text" id="conditionFieldSelectUrl" style="width: 100%" data-bind="value:selected.conditionFieldSelectUrl"
                               class="k-textbox">
                        <script>kendo.bind($('#conditionFieldSelectUrl'), viewModel2);</script>
                    </div>
                </div>
                <div class="form-group" id="conditionFieldSelectVfvalueField" style="display:none">
                    <label class="col-xs-3 control-label"><@spring.message "valueField"/></label>
                    <div class="col-xs-5">
                        <input type="text" id="conditionFieldSelectVf" style="width: 100%" data-bind="value:selected.conditionFieldSelectVf"
                               class="k-textbox">
                        <script>kendo.bind($('#conditionFieldSelectVf'), viewModel2);</script>
                    </div>
                </div>
                <div class="form-group" id="conditionFieldSelectTftextField" style="display:none">
                    <label class="col-xs-3 control-label"><@spring.message "textField"/></label>
                    <div class="col-xs-5">
                        <input type="text" id="conditionFieldSelectTf" style="width: 100%" data-bind="value:selected.conditionFieldSelectTf"
                               class="k-textbox">
                        <script>kendo.bind($('#conditionFieldSelectTf'), viewModel2);</script>
                    </div>
                </div>
                <div class="form-group" id="selectCode" style="display:none">
                    <label class="col-xs-3 control-label"> <@spring.message "lovitem.conditionfieldselectcode"/></label>
                    <div class="col-xs-5">
                        <input type="text" id="conditionFieldSelectCode" style="width: 100%" data-bind="value:selected.conditionFieldSelectCode"
                               class="k-textbox">
                        <script>kendo.bind($('#conditionFieldSelectCode'), viewModel2);</script>
                    </div>
                </div>
                <div class="form-group" style="display:none">
                    <label class="col-xs-3 control-label"><@spring.message "textField"/></label>
                    <div class="col-xs-5">
                        <input type="text" id="conditionFieldTextfield" style="width: 100%" data-bind="value:selected.conditionFieldTextfield"
                               class="k-textbox">
                        <script>kendo.bind($('#conditionFieldTextfield'), viewModel2);</script>
                    </div>
                </div>
                <div class="form-group" style="display:none">
                    <label class="col-xs-3 control-label"><@spring.message "lovitem.conditionfieldlovcode"/> </label>
                    <div class="col-xs-5">
                        <input type="text" id="conditionFieldLovCode" style="width: 100%" data-bind="value:selected.conditionFieldLovCode"
                               class="k-textbox">
                        <script>kendo.bind($('#conditionFieldLovCode'), viewModel2);</script>
                    </div>
                </div>
    </div>
    <div class="modal-footer">
        <span class="btn btn-primary" onclick="hideForm()">确定</span>
    </div>
</form>
<div id="dialog"></div>
<div id="content-container">
    <div id="page-content">
        <div class="panel" style="padding: 0px;">
            <form class="form-horizontal" id="lovForm">
                <input type="hidden" name="lovItems" id="lovItems" value=""/>
                <input type="hidden" name="lovId"/>
                <div class="panel-body">
                <div class="col-sm-5">
                  <div class="row">
                     <div class="form-group required-input">
                         <label class="col-sm-2 control-label"><@spring.message "lov.code"/></label>
                              <div class="col-sm-10">
                                <input name="code" id="code" data-role="maskedtextbox" type="text" style="width: 100%" data-bind="value:model.code"
                                       class="k-textbox" required>
                                <script>kendo.bind($('#code'), viewModel);</script>
                              </div>
                     </div>
                  </div>
                  <div class="row">
                      <div class="form-group">
                           <label class="col-sm-2 control-label"><@spring.message "lov.description"/></label>
                               <div class="col-sm-10">
                                   <input id="description" data-role="maskedtextbox" type="text" style="width: 100%" data-bind="value:model.description"
                                          class="k-textbox">
                                   <script>kendo.bind($('#description'), viewModel);</script>
                               </div>
                      </div>
                  </div>
                  <div class="row">
                        <div class="form-group">
                              <label class="col-sm-2 control-label"><@spring.message "lov.title"/></label>
                              <div class="col-sm-10">
                                   <input id="title" data-role="maskedtextbox" type="text" style="width: 100%" data-bind="value:model.title"
                                          class="k-textbox">
                                   <script>kendo.bind($('#title'), viewModel);</script>
                              </div>
                        </div>
                  </div>
                   <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="col-sm-4 control-label"><@spring.message "lov.editable"/></label>
                                <div class="col-sm-6">
                                    <input type="checkbox" id="editableFlag" class="formCheckbox" class="gridCheckbox" data-bind="checked:model.editableFlag">
                                    <script>
                                        kendo.bind($('#editableFlag'), viewModel);
                                    </script>
                                </div>
                            </div>
                        </div>
                  <div class="row">
                      <div class="form-group">
                          <label class="col-sm-2 control-label"><@spring.message "lov.placeholder"/></label>
                          <div class="col-sm-10">
                              <input id="placeholder" data-role="maskedtextbox" type="text" style="width: 100%;" data-bind="value:model.placeholder" disabled>
                              <script>kendo.bind($('#placeholder'), viewModel);</script>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="form-group col-sm-6">
                          <label class="col-sm-4 control-label"><@spring.message "lov.width"/></label>
                          <div class="col-sm-8">
                              <input id="width" data-role="maskedtextbox" type="number" value="500" style="width: 100%" data-bind="value:model.width"
                                     class="k-textbox">
                              <script>kendo.bind($('#width'), viewModel);</script>
                          </div>
                      </div>
                      <div class="form-group col-sm-6">
                          <label class="col-sm-4 control-label"><@spring.message "lov.height"/></label>
                          <div class="col-sm-8">
                              <input id="height" data-role="maskedtextbox" type="number" value="400" style="width: 100%" data-bind="value:model.height"
                                     class="k-textbox">
                              <script>kendo.bind($('#height'), viewModel);</script>
                          </div>
                       </div>
                  </div>
                  <div class="row">
                  <div class="form-group col-sm-6">
                            <label class="col-sm-4 control-label"><@spring.message "lov.textfield"/></label>
                            <div class="col-sm-8">
                                <input id="textField" data-role="maskedtextbox" type="text" style="width: 100%" data-bind="value:model.textField"
                                       class="k-textbox" required>
                                <script>kendo.bind($('#textField'), viewModel);</script>
                            </div>
                        </div>
                      <div class="form-group col-sm-6">
                            <label class="col-sm-4 control-label"><@spring.message "lov.valuefield"/></label>
                            <div class="col-sm-8">
                                <input id="valueField" data-role="maskedtextbox" type="text" style="width: 100%" data-bind="value:model.valueField"
                                       class="k-textbox" required>
                                <script>kendo.bind($('#valueField'), viewModel);</script>
                            </div>
                       </div>
                       
                  </div>
                  </div>
                <div class="col-sm-7">
                   <div class="row">
                     <div class="form-group">
                          <label class="col-sm-2 control-label"><@spring.message "lov.sqltype"/></label>
                          <div class="col-sm-8">
                           <input id="sqlType">
                           </div>
                       </div>
                     </div>
                     <div id="sqlIdDiv" class="row">
                            <div class="form-group required-input">
                                <label class="col-sm-2 control-label"><@spring.message "lov.sqlid"/></label>
                                <div class="col-sm-10">
                                    <input name="sqlId" id="sqlId" data-role="maskedtextbox" type="text" style="width: 100%" data-bind="value:model.sqlId"
                                           class="k-textbox" required>
                                    <script>kendo.bind($('#sqlId'), viewModel);</script>
                                </div>
                            </div>
                    </div>
                    <div id="customSqlDiv" class="row" style="display:none">
                         <div class="form-group required-input">
                            <label class="col-sm-2 control-label"><@spring.message "lov.customsql"/></label>
                              <div class="col-sm-10">
                                  <textarea name="customSql" id="customSql" data-role="maskedtextbox" type="text" style="width: 100%; cursor:text; color:#333;" data-bind="value:model.customSql"
                                            class="k-textbox" rows="11" cols="" disabled></textarea>
                                  <script>kendo.bind($('#customSql'), viewModel);</script>
                              </div>
                          </div>
                     </div>
                </div>
                    <div class="row">
                    <div class="col-sm-2" style="display:none">
                            <div class="form-group">
                                <label class="col-sm-6 control-label"><@spring.message "lov.delayLoad"/></label>
                                <div class="col-sm-6">
                                    <input id="delayLoad" type="checkbox" class="formCheckbox" data-bind="checked:model.delayLoad"  >
                                    <script>kendo.bind($('#delayLoad'), viewModel);</script>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2" style="display:none">
                            <div class="form-group">
                                <label class="col-sm-8 control-label"><@spring.message "lov.needqueryparam"/></label>
                                <div class="col-sm-4">
                                    <input id="needQueryParam" type="checkbox" class="formCheckbox" data-bind="checked:model.needQueryParam"  >
                                    <script>kendo.bind($('#needQueryParam'), viewModel);</script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end panel-->
            </form>
        </div>
        <div id='grid-container'>
            <div id="grid" style="clear: both"></div>
        </div>
    </div>
</div>

<script id="openEdit" type="text/x-kendo-template">
           
</script>
<script type="text/javascript">
    $('#page-content form:first input').keydown(function (e) {
        if (e.keyCode == 13) {
            e.target.blur();
            viewModel.queryResource(e);
        }
    });
    $("#code").kendoValidator({
        messages: {
            required: "required"
        },
        errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" style="margin: 0.5em; display: block;" role="alert"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>'

    });
    $("#valueField").kendoValidator({
        messages: {
            required: "required"
        },
        errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" style="margin: 0.5em; display: block;" role="alert"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>'

    });
    $("#textField").kendoValidator({
        messages: {
            required: "required"
        },
        errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" style="margin: 0.5em; display: block;" role="alert"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>'

    });

    function toggleAll(e) {
        var view = viewModel2.dataSource.view();
        var checked = e.target.checked;
        for (var i = 0; i < view.length; i++) {
            view[i].set("checked", checked);
        }
    }


    var grid = $("#grid").kendoGrid({
        dataSource: viewModel2.dataSource,
        navigatable: false,
        height: '100%',
        resizable: true,
        scrollable: true,
        selectable: true,
        toolbar: [
            {
                name: "create",
                template: '<span class="btn btn-primary k-grid-add"><@spring.message "hap.new"/></span>'
            }, {
                name: "save",
                template: '<span class="btn btn-success" onclick="saveLov()"><@spring.message "hap.save"/></span>'
            }, {
                template: '<span  onclick="deleteData()"  class="btn btn-danger"><@spring.message "hap.delete"/></span>'
            }
        ],
        columns: [
            {
                headerTemplate: "<input id='headCheckbox' type='checkbox' onclick='toggleAll(event)' tabindex='-1'/>",
                template: '<input class="checkbox hCheckbox" type="checkbox" data-bind="checked: checked" tabindex="-1"/>',
                width: 30
            },
            {
                field: "display",
                title: '<@spring.message "lovitem.display"/>',
                width: 210,
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                }
            },
            {
                field: "gridFieldName",
                title: '<@spring.message "lovitem.name"/>',
                width: 100,
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                }
            },
            {
                field: "gridFieldWidth",
                title: '<@spring.message "lovitem.gridfieldwidth"/>',
                width: 70,
                attributes: {style: "text-align:right"},
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                }
            },
            {
                width: 60,
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                },
                attributes: {style: "text-align:center"},
                title: '<@spring.message "lovitem.gridcolumn"/>',
                template: '<input type="checkbox" #=gridField=="Y" ? \'checked="checked"\':""# class="gridCheckbox"  name="gridField"/>'
            },
            {
                field: "gridFieldAlign",
                title: '<@spring.message "lovitem.gridcolumnalign"/>',
                width: 80,
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                },
                template: function (dataItem) {
                    var v = dataItem.gridFieldAlign;
                    $.each(alignType, function (i, n) {
                        if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
                            v = n.meaning;
                            return false;
                        }
                    })
                    return v || '';
                },
                editor: function (container, options) {
                    $('<input name="' + options.field + '"/>').appendTo(container)
                            .kendoDropDownList(
                                    {
                                        dataTextField: "meaning",
                                        dataValueField: "value",
                                        valuePrimitive: true,
                                        dataSource: alignType
                                    });
                }
            },
            {
                width: 80,
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                },
                attributes: {style: "text-align:center"},
                title: '<@spring.message "lovitem.conditionfield"/>',
                template: '<input type="checkbox" class="gridCheckbox" #=conditionField=="Y" ? \'checked="checked"\':""# id="conditionField"  name="conditionField"/>'
            },
            {
                field: "gridFieldSequence",
                title: '<@spring.message "lovitem.gridfieldsequence"/>',
                width: 60,
                attributes: {style: "text-align:right"},
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                }
            },
            {
                // field           : "type",
                title: '<@spring.message "lovitem.type"/>',
                width: 80,
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                },
                attributes: {style: "text-align:center"},
                template: function (e) {
                    if (e.conditionField == 'Y') {
                        return '<a href="javascript:void(0)" id="lovItemType"   onclick="openEditor(this)"><@spring.message "lovitem.type"/></a>'
                    }
                    return '';
                }
            }
        ],
        editable: true,
        dataBound: function (e) {
            var view = this.dataSource.view();
            this.items().each(function (index, row) {
                kendo.bind(row, view[index]);
            });
            var row = this.tbody.find(">tr[data-uid=" + viewModel2.selected.uid + "]");
            if (row) {
                this.select(row);
            }
        },
        change: function (e) {
            var model = this.dataItem(this.select());
            viewModel2.set("selected", model);
        }
    }).data("kendoGrid");

    $("#grid").data("kendoGrid").one("dataBound", function (e) {
        this.select(this.tbody.find(">tr:first"));
    });

    function deleteData() {

        var checked = $("#grid").find(".hCheckbox:checked");
        if (!checked.length) {
            return;
        }

        kendo.ui.showConfirmDialog({
            title:$l('hap.tip.info'),
            message: $l('hap.tip.delete_confirm')
        }).done(function (event) {
            if (event.button == 'OK') {
                var data = [];
                checked.each(function () {
                    data.push(grid.dataItem($(this.closest("tr"))));
                })
                for (var i = 0; i < data.length; i++) {
                    grid.dataSource.remove(data[i])
                }
                grid.dataSource.sync();
            }
        })

    }
    //自动根据当前屏幕大小调整表格
    Hap.autoResizeGrid("#grid");
    var edit;
    function openEditor(item) {
        grid.select(item.closest('tr'))
        edit = $("#queryEdit").kendoWindow({
            width: 400,
            resizable:false,
            title: '<@spring.message "lovitem.type"/>',
            modal: true,
            open: function () {
                //打开时对其做处理
                if (viewModel2.selected.conditionFieldType == "select") {
                    $("#dsType").css("display", "block")
                    if (!viewModel2.selected.comboboxType) {
                        if (viewModel2.selected.conditionFieldSelectCode) {
                            viewModel2.selected.set('comboboxType', "code")
                        } else if (viewModel2.selected.conditionFieldSelectUrl
                                || viewModel2.selected.conditionFieldSelectVf
                                || viewModel2.selected.conditionFieldSelectTf) {
                            viewModel2.selected.set('comboboxType', "url")
                        }
                    }

                    // if(viewModel2.selected.comboboxType){
                    if (viewModel2.selected.comboboxType == "url") {
                        $("#selectCode").css("display", "none")
                        viewModel2.selected.set('conditionFieldSelectCode', '')
                        $("#url").css("display", "block")
                        $("#conditionFieldSelectTftextField").css("display", "block")
                        $("#conditionFieldSelectVfvalueField").css("display", "block")
                    } else if (viewModel2.selected.comboboxType == "code") {
                        $("#url").css("display", "none")
                        viewModel2.selected.set('conditionFieldSelectUrl', '')
                        $("#conditionFieldSelectTftextField").css("display", "none")
                        viewModel2.selected.set('conditionFieldSelectTf', '')
                        $("#conditionFieldSelectVfvalueField").css("display", "none")
                        viewModel2.selected.set('conditionFieldSelectVf', '')
                        $("#selectCode").css("display", "block")
                    }
                } else {
                    $("#url").css("display", "none")
                    $("#conditionFieldSelectTftextField").css("display", "none")
                    $("#conditionFieldSelectVfvalueField").css("display", "none")
                    $("#selectCode").css("display", "none")
                    $("#dsType").css("display", "none")
                    viewModel2.selected.set('conditionFieldSelectCode', '')
                    viewModel2.selected.set('conditionFieldSelectUrl', '')
                    viewModel2.selected.set('conditionFieldSelectTf', '')
                    viewModel2.selected.set('conditionFieldSelectVf', '')
                }
            }
        }).data("kendoWindow");
        edit.center().open();

    }

    function hideForm() {
        //用来隐藏查询编辑
        edit.close();
    }
    
  //判断sql类型并生成SqlType下拉框
    var getSqlTypeSelect = function(dSqlType){
        if(dSqlType==1){
            $("#customSql").attr("disabled",false);
            $("#customSql").attr("required",true);
            viewModel.model.set("sqlId","");
            $("#sqlIdDiv").css('display','none');
            $("#customSqlDiv").css('display','block');
            $("#sqlId").attr("required",false);
            $("#sqlId").attr("disabled",true);
        }
        $("#sqlType").kendoDropDownList({
        dataTextField: "text",
        dataValueField: "value",
        dataSource: {
            data:[{ text: "<@spring.message 'lov.sqlId'/>", value: "<@spring.message 'lov.sqlId'/>" }, 
                  { text: "<@spring.message 'lov.customsql'/>", value: "<@spring.message 'lov.customsql'/>" }]
        },
        animation: false,
        index:dSqlType,
        change: function(e) {
            var value = this.value();
            if(value=="<@spring.message 'lov.customsql'/>"){
                $("#sqlIdDiv").css('display','none');
                $("#customSqlDiv").css('display','block');
                $("#customSql").attr("disabled",false);
                $("#customSql").attr("required",true);
                $("#sqlId").attr("required",false);
                $("#sqlId").attr("disabled",true);
               }else{
                   $("#sqlIdDiv").css('display','block');
                   $("#customSqlDiv").css('display','none');
                   $("#sqlId").attr("disabled",false);
                   $("#sqlId").attr("required",true);
                   viewModel.model.set("customSql","");
                   $("#customSql").attr("required",false);
                   $("#customSql").attr("disabled",true);
                   }
          }
    });
    }
    
    if (${RequestParameters.isedit!0}== '1'
    )
    {
        $.ajax({
            url: '${base.contextPath}/sys/lov/load?lovId=${RequestParameters.lovId!0}',
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            // data       : kendo.stringify(para),
            success: function (args) {
                //数据成功以后 绑定到viewmodel上
                var a0 = args.rows[0] || {};
                var defaultSqlType = 0;
                for (var k in a0) {
                    if(k=='sqlId'){
                        if(a0[k]==""){
                            defaultSqlType = 1;
                        }else{
                            defaultSqlType=0;
                        }
                    }
                    if (k == 'delayLoad' || k == 'needQueryParam' || k == 'editableFlag') {
                        var elementId = k;
                        viewModel.model.set(k, a0[k] == 'Y');
                        if(viewModel.model.get(k)){
                            $("#"+k).attr("checked",true);
                        }
                    }
                    else
                        viewModel.model.set(k, a0[k]);
                }
                //生成sqlType的select下拉框
                getSqlTypeSelect(defaultSqlType);
            },
            error: function () {

            }
        });

    }else{
        var defaultSqlType = 0;
        getSqlTypeSelect(defaultSqlType);
    }

    //处理form中的选择框


    $("#grid").on("change", "input.gridCheckbox", function (e) {
        var target = $(e.target), grid = $("#grid").data("kendoGrid"),
                dataItem = grid.dataItem(target.closest("tr"));
        dataItem.set(target.context.name, this.checked ? 'Y' : 'N');
    });
    $('#editableFlag').click(function(){
        if(this.checked){
            viewModel.model.set("editableFlag",true);
        }else{
            viewModel.model.set("editableFlag",false);
        }
    });
    function saveLov() {
        var sqlType = $("#sqlType").val();
        var sql = ""; 
        if(sqlType=="<@spring.message 'lov.sqlId'/>"){
           viewModel.model.set("customSql","");
           sql = $("#sqlId").val();
        }else{
            viewModel.model.set("sqlId","");
            sql = $("#customSql").val();
        }
        if(sql==""){
            alert("error");
        }else{
          //保存所有数据
            //处理表单的单选框
            viewModel.model.delayLoad = viewModel.model.delayLoad === true ? 'Y' : 'N'
            viewModel.model.needQueryParam = viewModel.model.needQueryParam === true ? 'Y' : 'N'
            viewModel.model.editableFlag = viewModel.model.editableFlag === true ? 'Y' : 'N'

            // 默认是false  使其弹出为真
            viewModel.model.canPopup = 'Y'
            Hap.submitForm({
                url: '${base.contextPath}/sys/lov/submit',
                formModel: viewModel.model,
                grid: {
                    lovItems: $('#grid')
                },
                success: function (result) {
                    if (!lovId) {
                        lovId = viewModel.model.lovId
                    }
                }
            });
        }
    }
    
    
</script>
<style>
    .formCheckbox {
        height: 27px
    }
</style>
</body>
</html>
