<#-- * description: 仪表盘配置界面 * version: 1.0 *
author:zhizheng.yang@hand-china.com * --> <#include
"../include/header.html">
<body>
	<script type="text/javascript">
        var viewModel = kendo.observable({
            model : {},
            createFunction : function() {
                $('#grid').data('kendoGrid').addRow();
            },
            saveFunction : function() {
                $('#grid').data('kendoGrid').saveChanges();
            },
            queryFunction : function(e) {
                $('#grid').data('kendoGrid').dataSource.page(1);
            },
            resetForm : function(e) {
                var formData = viewModel.model.toJSON();
                for ( var k in formData) {
                    viewModel.model.set(k, null);
                }
            }
        });
    </script>
	<div id="dialog"></div>
	<div id="selectFunction"></div>
	<div id="page-content">
		<div class="pull-right" id="toolbar-btn" style="padding-bottom: 10px;">
			<span class="btn btn-primary k-grid-add"
				style="float: left; margin-right: 5px;"
				data-bind="click:createFunction"><@spring.message "hap.new"/></span>
			<span class="btn btn-success k-grid-save-changes"
				style="float: left; margin-right: 5px;"
				data-bind="click:saveFunction"><@spring.message "hap.save"/></span>
			<span onclick="deleteData()" class="btn btn-danger"
				style="float: left;"><@spring.message "hap.delete"/></span>
		</div>
		<script>
            kendo.bind($('#toolbar-btn'), viewModel);
        </script>
		<div class="pull-left" id="query-form" style="padding-bottom: 10px;">
			<input data-role="maskedtextbox"
				placeholder='<@spring.message "sys.dashboard.code"/>' type="text"
				style="float: left; width: 150px; margin-right: 5px;"
				data-bind="value:model.dashboardCode" class="k-textbox"> <input
				data-role="maskedtextbox"
				placeholder='<@spring.message "sys.dashboard.title"/>' type="text"
				style="width: 150px; float: left; margin-right: 5px;"
				data-bind="value:model.title" class="k-textbox"> <span
				class="btn btn-primary" style="float: left; width: 70px"
				data-bind="click:queryFunction" type="submit"><@spring.message
				"hap.query"/></span> <span class="btn btn-default"
				style="float: left; width: 70px" data-bind="click:resetForm"
				type="button"><@spring.message "hap.reset"/></span>

			<div style="clear: both"></div>
		</div>
		<script>
            kendo.bind($('#query-form'), viewModel);
        </script>
		<div style="clear: both">
			<div id="grid"></div>
		</div>
	</div>


	<script type="text/javascript">
        $('#query-form input').keydown(function(e) {
            if (e.keyCode == 13) {
                e.target.blur();
                viewModel.queryFunction(e);
            }
        });

        editDashBoardResources = function(id) {
            var dialog = $("#dialog").kendoWindow({
                actions : [ "Close" ],
                animation : {
                    close : {
                        effects : "fadeOut zoom:out",
                        duration : 300
                    },
                    open : {
                        effects : "fadeIn zoom:in",
                        duration : 300
                    }
                },
                width : 650,
                height : 450,
                title : '<@spring.message "function.resourceallocation"/>',
                visible : false,
                iframe : true,
                modal : true,
                content : 'sys_function_resource.html?dashboardId=' + id
            }).data("kendoWindow");
            dialog.center().open();
        };
        var crudServiceBaseUrl = '${base.contextPath}/sys/dashboard', dataSource = new kendo.data.DataSource(
                {
                    transport : {
                        read : {
                            url : crudServiceBaseUrl + "/query",
                            type : "POST",
                            dataType : "json"
                        },
                        create : {
                            url : crudServiceBaseUrl + "/submit",
                            contentType : "application/json",
                            type : "POST"
                        },
                        update : {
                            url : crudServiceBaseUrl + "/submit",
                            contentType : "application/json",
                            type : "POST"
                        },
                        destroy : {
                            url : crudServiceBaseUrl + "/remove",
                            contentType : "application/json",
                            type : "POST"
                        },
                        parameterMap : function(options, type) {
                            if (type !== "read" && options.models) {
                                var datas = Hap.prepareSubmitParameter(options,
                                        type);
                                return kendo.stringify(datas);
                            } else if (type === "read") {
                                return Hap.prepareQueryParameter(
                                        viewModel.model.toJSON(), options);
                            }
                        }
                    },
                    batch : true,
                    serverPaging : true,
                    serverSorting : true,
                    pageSize : 10,
                    schema : {
                        data : 'rows',
                        total : 'total',
                        model : {
                            id : "dashboardId",
                            fields : {
                                title : {
                                    type : "string"
                                },
                                dashboardCode : {
                                    type : "string"
                                },
                                description : {
                                    type : "string"
                                },
                                resourceId : {
                                    type : "int"
                                }
                            }
                        }
                    }

                });
        var grid = $("#grid")
                .kendoGrid(
                        {
                            dataSource : dataSource,
                            navigatable : false,
                            height : '100%',
                            resizable : true,
                            scrollable : true,
                            selectable : 'multiple, rowbox',
                            pageable : {
                                pageSizes : [ 5, 10, 20, 50 ],
                                refresh : true,
                                buttonCount : 5
                            },
                            sortable : true,
                            editable : true,
                            columns : [
                                    {
                                        field : "title",
                                        title : '<@spring.message "sys.dashboard.dashboardtitle"/>',
                                        width : 100,
                                        editor : function(container, options) {
                                            $(
                                                    '<input name="' + options.field + '"/>')
                                                    .appendTo(container)
                                                    .kendoTLEdit(
                                                            {
                                                                idField : 'dashboardId',
                                                                field : 'title',
                                                                dto : "com.hand.hap.system.dto.DashBoard",
                                                                model : options.model
                                                            });
                                        }
                                    },
                                    {
                                        field : "dashboardCode",
                                        title : '<@spring.message "sys.dashboard.dashboardcode"/>',
                                        width : 180
                                    },
                                    {
                                        field : "description",
                                        title : '<@spring.message "sys.dashboard.dashboarddescription"/>',
                                        width : 150,
                                        editor : function(container, options) {
                                            $(
                                                    '<input name="' + options.field + '"/>')
                                                    .appendTo(container)
                                                    .kendoTLEdit(
                                                            {
                                                                idField : 'dashboardId',
                                                                field : 'description',
                                                                dto : "com.hand.hap.system.dto.DashBoard",
                                                                model : options.model
                                                            });
                                        }
                                    },
                                    {
                                        field : "resourceId",
                                        title : '<@spring.message "sys.dashboard.dashboardmainpage"/>',
                                        width : 120,
                                        sortable : false,
                                        template : function(dataItem) {
                                            return dataItem['resourceName']
                                                    || ''
                                        },
                                        editor : function(container, options) {
                                            $(
                                                    '<input name="' + options.field + '"/>')
                                                    .appendTo(container)
                                                    .kendoLov($.extend(<@lov "LOV_RESOURCE"/>,
                                                          {
                                                             textField : 'resourceName',
                                                             model : options.model
                                            }));
                                        }
                                    },

                            ]
                        }).data("kendoGrid");

        $("#grid thead>tr th").css("text-align", "center");

        function deleteData() {

            Hap.deleteGridSelection({
                grid : $('#grid')
            });
        }
        //自动根据当前屏幕大小调整表格

        Hap.autoResizeGrid("#grid");
    </script>

</body>
</html>
