<#-- 
* description: 角色界面
* version: 1.0 
* author:hailin.xu@hand-china.com
* --> 
<#include "../include/header.html">
<body>
   <script type="text/javascript">
        var viewModel = kendo.observable({
	        model:{},
	        createFunction: function(){
	            $('#roleGrid').data('kendoGrid').addRow();
	        },
	        saveFunction: function(){
	            $('#roleGrid').data('kendoGrid').saveChanges();
	        },
		    cancelFunction: function(e){
   				 $('#roleGrid').data('kendoGrid').cancelChanges();
   			},
	        queryResource: function(e) {
	            $('#roleGrid').data('kendoGrid').dataSource.page(1);
	        }
	    });
   </script> 
   
 <div id="page-content">
    <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
        <span class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;" data-bind="click:createFunction"><@spring.message "hap.new"/></span>
        <span class="btn btn-success k-grid-save-changes"   data-bind="click:saveFunction" style="float:left;margin-right:5px;"><@spring.message "hap.save"/></span>
        <span  class="btn btn-default k-grid-cancel-changes" data-bind="click:cancelFunction" style="float:left;" ><@spring.message "hap.cancel"/></span>   
    </div>
    <script>kendo.bind($('#toolbar-btn'), viewModel);</script>
    <div class="pull-right" id="query-form" style="padding-bottom:10px;">
        <input type="text"  data-role="maskedtextbox" style="float:left;width:150px;margin-right:5px;" placeholder='<@spring.message "role.rolecode"/>' data-bind="value:model.roleCode"class="k-textbox">
        <input type="text"  data-role="maskedtextbox" style="float:left;width:150px;margin-right:5px;" placeholder='<@spring.message "role.rolename"/>' data-bind="value:model.roleName" class="k-textbox">
        <input type="text"  data-role="maskedtextbox" style="float:left;width:150px;margin-right:5px;" placeholder='<@spring.message "role.roledescription"/>' data-bind="value:model.roleDescription" class="k-textbox">
        <span class="btn btn-primary" style="float:left;width:70px" data-bind="click:queryResource" type="submit"><@spring.message "hap.query"/></span>
        <div style="clear:both"></div>
    </div>
    <script>kendo.bind($('#query-form'), viewModel);</script>
    <div style="clear:both">
        <div id="roleGrid"></div>
    </div>
</div>
	<script type="text/javascript">
		$('#query-form input').keydown(function (e) {
		    if (e.keyCode == 13) {
		        e.target.blur();
		        viewModel.queryResource(e);
		    }
		});
	
         var crudServiceBaseUrl = "${base.contextPath}/sys/role",
              dataSource = new kendo.data.DataSource({
                  transport: {
                     read:  {
                        url: crudServiceBaseUrl + "/query",
                        type : "POST",
                        dataType: "json"
                    },
                    create : { 
                        url : crudServiceBaseUrl + "/submit",
                        contentType: "application/json",
                        type : "POST" 
                    },
                    update : { 
                        url : crudServiceBaseUrl + "/submit",
                        contentType: "application/json",
                        type : "POST" 
                    },
                    destroy : { 
                        url : crudServiceBaseUrl + "/delete",
                        contentType: "application/json",
                        type : "POST" 
                    },
                    parameterMap: function(options, type) {
                    	if (type !== "read" && options.models) {
                            var datas = options.models
                            if (type == 'create' || type == 'update') {
                                datas = options.models.map(function (data) {
                                    data['__status'] = (type == 'create' ? 'add' : 'update');
                                    return data;
                                })
                            }
                            return kendo.stringify(datas);
                        } else if (type === "read") {
                            var map = viewModel.model.toJSON();
                            map.page = options.page;
                            map.pagesize = options.pageSize;
                            for (var k in map) {
                                if (map[k] === '' || map[k] === null || map[k] === undefined)
                                    delete map[k]
                            }
                            return map;
                        }  
                    }
                },
                batch: true,
                serverPaging : true,
                pageSize: 10,
                schema: {
                    data:'rows',
                    total:'total',
                    model: {
                        id: "roleCode",
                        fields: {
                        	enableFlag:{defaultValue: 'Y',type: 'boolean',checkedValue:'Y',uncheckedValue:'N'},
                             roleName: {validation: { required: true } ,type:"string"},
                             roleDescription: { validation: { required: true } ,type:"string" }
                        }
                    }
                }
            }); 
    
        var grid =$("#roleGrid").kendoGrid({
            dataSource: dataSource,
            //width:500,
            height:"100%",
            navigatable: false,
            resizable: true,
            scrollable: true,
            editable: true,
            pageable: {
                pageSizes:[5, 10, 20, 50],
                refresh:true,
                buttonCount:5
            },
            columns: [
                {
                	field: "roleCode",
                	title: '<@spring.message "role.rolecode"/>',
                	width: 180,
                    headerAttributes: {
            	        "class": "table-header-cell",
            	        style  : "text-align: center"
            	    }
                },
                { 
                	field: "roleName", 
                	title: '<@spring.message "role.rolename"/>', 
                	width: 180,
                    headerAttributes: {
            	        "class": "table-header-cell",
            	        style  : "text-align: center"
            	    },
            	    editor: function (container, options) {
                        $('<input name="' + options.field + '"/>')
                                .appendTo(container)
                                .kendoTLEdit({
                                    idField: 'roleId',
                                    field: 'roleName',
                                    dto: "com.hand.hap.account.dto.Role",
                                    model: options.model
                                });
                   }
                },
                { 
                	field:"roleDescription",
                	title:'<@spring.message "role.roledescription"/>',
                	width:180,
                    headerAttributes: {
            	        "class": "table-header-cell",
            	        style  : "text-align: center"
            	    },
            	    editor: function (container, options) {
                        $('<input name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoTLEdit({
                            idField: 'roleId',
                            field: 'roleDescription',
                            dto: "com.hand.hap.account.dto.Role",
                            model: options.model
                        });
                     }
                },
                { field: "startActiveDate",
                    attributes: {style: "text-align:center"},
                    title: '<@spring.message "user.startActiveDate"/>',
                    width: 120,
                    headerAttributes: {
                        "class": "table-header-cell",
                        style  : "text-align: center"
                    },
                    format: "{0:yyyy-MM-dd}",
                    editor: function(container, options){
                        //获得到期时间
                        var end = options.model.endActiveDate;
                        var opts={
                            format:"yyyy-MM-dd"
                        }
                        if(end){
                            opts.max=end;
                        }
                        $('<input name="' + options.field + '"/>')
                                .appendTo(container)
                                .kendoDatePicker(opts);
                    }
                },
                { field: "endActiveDate",
                    title: '<@spring.message "user.endActiveDate"/>',
                    width: 120,
                    attributes: {style: "text-align:center"},
                    headerAttributes: {
                        "class": "table-header-cell",
                        style  : "text-align: center"
                    },
                    format: "{0:yyyy-MM-dd}",
                    editor: function(container, options){
                        //获得开始时间
                        var start = options.model.startActiveDate;
                        var opts={
                            format:"yyyy-MM-dd"
                        }
                        //设置min属性 限制最小的可选日期
                        if(start){
                            opts.min=start;
                        }
                        $('<input name="' + options.field + '"/>')
                                .appendTo(container)
                                .kendoDatePicker(opts);
                    }},
                {
                    field:"enableFlag",
                    title           : '<@spring.message "hap.enableflag"/>', width: 70,
                    headerAttributes: {style: "text-align:center"},
                    attributes      : {style: "text-align:center"}
                },
                     {
                   attributes: {style: "text-align:center;padding:0px"}, 
                   command : [{
                       name:'remove',
                       template : '<a class="btn btn-danger k-grid-remove"><@spring.message "hap.delete"/></a>',
                       click: function(e){
                    	   var th = this;
                           e.preventDefault();
                           kendo.ui.showConfirmDialog({
                        	   title:$l('hap.tip.info'),
                           	   message: $l('hap.tip.delete_confirm')
                           }).done(function(event){
                               if(event.button == 'OK'){
                                  var data = th.dataItem($(e.target).closest("tr"));
                                  th.dataSource.remove(data)
                                  th.dataSource.sync()
                               }
                           })                      
                      } 
                   }],
                   width:70
              }
              ]
        }).data("kendoGrid");


        Hap.autoResizeGrid("#roleGrid"); 
</script>

</body>
</html>
