<#--
 * description: 用户管理界面
 * version: 1.0 
 * author: xiangyu.qi@hand-china.com
 * 
 * 
-->
<#include "../include/header.html">
<body>
    <script src="${base.contextPath}/common/code?userStatusData=SYS.USER_STATUS" type="text/javascript"></script>
      <script type="text/javascript">
    //密码 viewModel
      var viewModelPd = kendo.observable({
           model:{},
           save:function(e){
               var validator = $("#passwordWin").data("kendoValidator");
               if (validator.validate()) {
                     $.ajax({
                       type   : 'POST',
                       url    : "${base.contextPath}/sys/um/resetPasswordAdmin",
                       data   : viewModelPd.model.toJSON(),
                       success: function (data) {
                           kendo.ui.showInfoDialog({
                               title:'提示信息',
                               message:'保存成功!'
                           });
                           $("#passwordWin").data("kendoWindow").close();
                       }
                   });  
                  
               } 
           }
         });
      var viewModel = kendo.observable({
          model         : {status:''},
          createFunction: function(){
              $('#grid').data('kendoGrid').addRow();
          },
          saveFunction: function(){
              $('#grid').data('kendoGrid').saveChanges();
          },
          queryFunction: function (e) {
              $('#grid').data('kendoGrid').dataSource.page(1);
          }
      });
      </script>  
    <div id="roleWin"></div>
    <!-- 修改密码界面 -->
    <div class="panel" id="passwordWin" style="border: 0px"></div>

    <div id="content-container">
        <div id="page-content">
            <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
                <span class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;" data-bind="click:createFunction"><@spring.message "hap.new"/></span>
                <span class="btn btn-success k-grid-save-changes"  style="float:left;margin-right:5px;" data-bind="click:saveFunction"><@spring.message "hap.save"/></span>
                <span  onclick="deleteData()" class="btn btn-danger" style="float:left;"><@spring.message "hap.delete"/></span>
            </div>
            <script>kendo.bind($('#toolbar-btn'), viewModel);</script>
            <div class="pull-right" id="query-form" style="padding-bottom:10px;">
                 <input  data-role="maskedtextbox" placeholder ="<@spring.message "user.userName"/>"type="text"  class="k-textbox"  type="text" style="float:left;width:150px;margin-right:5px;" data-bind="value:model.userName"/>
                 <span  class="btn btn-primary" data-bind="click:queryFunction" type="submit"><@spring.message "hap.query"/></span>
            </div>
               <script>kendo.bind($('#query-form'), viewModel);</script>
            <div style="clear:both">
                 <div id="grid" style="clear: both"></div>
             </div>
        </div>
    </div>
    <!-- 密码框 template -->
    <script id="passWdTemplate" type="text/x-kendo-template">
         <form  id="passwdForm"  class="form-horizontal"  role="form" autocomplete="off">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label "><@spring.message"user.new_password"/></label>
                        <div class="col-sm-9">
                            <input   name="password" id="password" style="width:70%" autocomplete="off"
                                 class="k-textbox" required data-bind="value:model.password" >
                         </div>
                    </div>
                </div>
             </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label"><@spring.message"user.again_new_password"/></label>
                        <div class="col-sm-9">
                            <input  id = "password2"  required  style="width:70%"
                                   name= "password2" autocomplete="off" class="k-textbox " data-bind="value:model.password2" >

                        </div>
                    </div>
              </div>
          </div>
        </div>
        <div class="text-center  ">
            <span class="btn btn-success submit" id="submit" type="submit" data-bind="click:save"><@spring.message "hap.save"/></span>
        </div>
    </form>

  </script>
    <script>
    //回车查询
       $('#query-form input').keydown(function (e) {
        if (e.keyCode == 13) {
            e.target.blur();
            viewModel.queryFunction(e);
        }
      });
        window.passWdTemplete = kendo.template($("#passWdTemplate").html());
        //初始化密码修改框
        $("#passwordWin").kendoWindow({
            width: 450,
            height:150,
            title: '<@spring.message "user.updatepassword"/>',
            resizable: false,
            visible:false,
            modal: true,
            close:onClose
        });
        
        function onClose(){
        	//viewModelPd 清空
            var formData = viewModelPd.model.toJSON();
            for (var k in formData) {
                viewModelPd.model.set(k, null);
            }
        }
        
        function choiceRole(userId){
        	var roleWin =  $("#roleWin").data("kendoWindow");
            roleWin.refresh('sys_user_role.html?userId='+userId);
            roleWin.center().open();
        }
        
        function editPassWord(userId){
        	viewModelPd.model.userId = userId;
        	var passwordWin =  $("#passwordWin").data("kendoWindow");
            passwordWin.refresh({  template:passWdTemplete });
            kendo.bind($('#passwordWin'),viewModelPd);
            $('#password').on('focus',function(){
                $(this).attr('type','password');
            })
             $('\#password2').on('focus',function(){
                $(this).attr('type','password');
             })
            passwordWin.center().open();
        }
        
        
        function deleteData(){
            var checked = grid.selectedDataItems();
            if(grid.selectedDataItems().length){  
                kendo.ui.showConfirmDialog({
                    title:$l('hap.tip.info'),
                    message: $l('hap.tip.delete_confirm')
                }).done(function (event) {
                    if (event.button == 'OK') {
                        $.each(checked,function(i,v){
                            grid.dataSource.remove(v)
                        })
                        grid.dataSource.sync();
                    }
                }) 
            }
        
        }
      /*   function deleteData(){
        	Hap.deleteGridSelection({
    	     	grid:$('#panel_button')
    	    });
        
        } */
        
        $(document).ready(function () {
            
            window.container = $("#passwordWin");
            container.kendoValidator({
                          messages: {
                              required: "不能为空",
                              greaterdate:'<@spring.message "error.user.two_password_not_match"/>'
                          },
                          rules: {
                              //验证密码是否一致
                              greaterdate: function (input) {
                                  if (input.is("[name=password2]") && input.val() != "") {                                    
                                     var pawd1 =  $("#password");
                                     return pawd1.val()==input.val();
                                  }
                                  return true;
                              }
                          },
/*
                          errorTemplate: '<div class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" style="margin: 0.5em; display: block;" role="alert"><span class="k-icon k-warning"> </span>#=message#<div class="k-callout k-callout-n"></div></div>'
*/

                      }); 
         
            
            var crudServiceBaseUrl = "${base.contextPath}/sys/user";
            window.dataSource = new kendo.data.DataSource({
                    transport: {
                         read:{
                             url: crudServiceBaseUrl + "/query",
                             type : "POST",
                             dataType: "json"
                         },
                         create : { 
                             url : crudServiceBaseUrl + "/submit",
                             contentType: "application/json",
                             type : "POST" 
                         },
                         update : { 
                             url : crudServiceBaseUrl + "/submit",
                             contentType: "application/json",
                             type : "POST" 
                         },
                         destroy : { 
                              url : crudServiceBaseUrl + "/remove",
                              contentType: "application/json",
                              type : "POST" 
                         },
	                     parameterMap: function(options, type) {
	                    	 if (type !== "read" && options.models) {
	                             var datas = Hap.prepareSubmitParameter(options, type);
	                             return kendo.stringify(datas);
	                         } else if (type === "read") {
	                             return Hap.prepareQueryParameter(viewModel.model.toJSON(), options);
	                         } 
	                      }
                    },
                    batch: true,
                    serverPaging : true,
                    pageSize: 10,
                    schema: {
                        data:'rows',
                        total:'total',
                        model: {
                            id: "userName",
                            fields: {
                                //status: {defaultValue:userStatusData[0].value},
                                status: {defaultValue:"ACTV"},
                                userName:{validation: { required: true }},
                                email:{type:"email",validation: { required: true }},
                                phone:{validation: { number: true ,required: true}}
                            }
                        }
                    }
                });

               window.grid =  $("#grid").kendoGrid({
                    dataSource: dataSource,
                    navigatable: false,
                    height:'100%',
                    resizable: true,
                    scrollable: true,
                    selectable : 'multiple, rowbox',
                    editable: true,
                    sortable: true,
                    pageable: {
                        pageSizes:[5, 10, 20, 50],
                        refresh:true,
                        buttonCount:5
                    },
                    columns: [
                        { field: "userName",
                          title: '<@spring.message "user.username"/>', 
                          width: 80 ,
                        },
                        { field: "email",
                          title: '<@spring.message "user.email"/>',
                          width: 150,
                        },
                        { field: "phone", 
                          title: '<@spring.message "user.phone"/>',
                          width: 130,
                        },
                        { field: "status", 
                          attributes: {style: "text-align:center"},
                          title:  '<@spring.message "user.status"/>', 
                          width: 80, 
                          template: function(dataItem){
                             var v = dataItem.status;
                             $.each(userStatusData,function(i,n){
                                 if((n.value||'').toLowerCase() == (v||'').toLowerCase()){
                                     v = n.meaning;
                                     return v;
                                 }
                             })
                             return v;
                          },
                          editor: function(container, options){
                              $('<input name="' + options.field + '"/>')
                              .appendTo(container)
                              .kendoDropDownList({
                                  dataTextField: "meaning",
                                  dataValueField: "value",
                                  dataSource: userStatusData
                              });
                          }},
                        { field: "startActiveDate",
                          attributes: {style: "text-align:center"},
                          title: '<@spring.message "user.startActiveDate"/>',
                          width: 120,
                          format: "{0:yyyy-MM-dd}",
                          editor: function(container, options){
                        	  //获得到期时间
                        	  var end = options.model.endActiveDate;
                        	  var opts={
                            	  format:"yyyy-MM-dd"
                              }
                        	  if(end){
                        		  opts.max=end;
                        	  }
                       		  $('<input name="' + options.field + '"/>')
                                  .appendTo(container)
                                  .kendoDatePicker(opts);
                          }
                        },
                        { field: "endActiveDate",
                          title: '<@spring.message "user.endActiveDate"/>', 
                          width: 120,
                          attributes: {style: "text-align:center"},
                          format: "{0:yyyy-MM-dd}",
                          editor: function(container, options){
                        	 //获得开始时间
                       	      var start = options.model.startActiveDate;
                       	      var opts={
                             	  format:"yyyy-MM-dd"
                               }
                       	      //设置min属性 限制最小的可选日期
                         	  if(start){
                         		  opts.min=start;
                         	  }
                              $('<input name="' + options.field + '"/>')
                              .appendTo(container)
                              .kendoDatePicker(opts);
                        }},
                  		//弹出window 选择角色
                        { title:'<@spring.message "user.allocationrole"/>',
                          width : 120,
                          attributes: {style: "text-align:center"},
                          template : function (rowdata) {
                              if (!!rowdata.userId) {
                                  return '<a href="#" onclick="choiceRole(' + rowdata.userId + ')"><@spring.message "user.allocationrole"/></a>'
                              }else return ''
                          },
                        },
                        //弹出 修改密码
                        { title:'<@spring.message "user.updatepassword"/>',
                          attributes: {style: "text-align:center"},
                          width : 120,
                          template : function (rowdata) {
                              if (!!rowdata.userId) {
                                  return '<a href="#" onclick="editPassWord(' + rowdata.userId + ')"><@spring.message "user.updatepassword"/></a>'
                              }else return ''
                          }
                         
                       }
                    ],
                }).data("kendoGrid");;
                
                //处理grid中的选择框
                $("#grid").on("change", "input.chkbx", function(e) {
                    var target = $(e.target), grid = $("#grid").data("kendoGrid"),
                        dataItem = grid.dataItem(target.closest("tr"));
                    dataItem.set(target.data('field'), this.checked ? 'Y' : 'N');
                });
                //初始化角色选择window
                $("#roleWin").kendoWindow({
                      width: "900px",
                      height:"450px",
                      title: '<@spring.message "user.allocationrole"/>',
                      actions: [
                             "Pin",
                             "Minimize",
                             "Maximize",
                             "Close"
                      ],
                      modal:true,
                      visible:false,
                      iframe:true
                                
                });
                $("#grid thead>tr th").css("text-align","center");
                //自动根据当前屏幕大小调整表格
                Hap.autoResizeGrid("#grid"); 
            }); 
        
        </script>
</body>
</html>
