<#-- 
* description: 用户管理的kendoui实现
* version: 1.0 
* author:shuo.han@hand-china.com
--> 
<#include "../include/header.html">

<body>
	<!-- 定义一个数据源，如果这边不添加这个script的话。下面初始化数据源的时候，会undefine -->
	<script src="${base.contextPath}/common/code?resourceTypeData=SYS.RESOURCE_TYPE&codeYesNo=SYS.YES_NO" type="text/javascript"></script>
    <script type="text/javascript">
    //创建一个viewModel模型
    //id等于user.html页面传过来的id
    var userId = ${RequestParameters.userId!'0'};
    var viewModel = kendo.observable({
        model:{
        	    userId:userId
        	    
        	   },
        resourceTypeData:resourceTypeData,
        loginRequireData:codeYesNo,
        cancelFunction: function(e){
             $('#panel_button').data('kendoGrid').cancelChanges();
        },
        queryResource: function(e) {
            $('#userchooserole_grid').data('kendoGrid').dataSource.page(1);
        }
    });
    
    
  
    </script>
    <div id="dialog">
        <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
            <span onclick = "saveRole()" class="btn btn-primary k-grid-add"  style="float:left;margin-right:5px;" >保存</span>
        </div>
    
        <div class="pull-right" id="query-form" style="padding-bottom:10px;">
                 <input  data-role="maskedtextbox" placeholder ="<@spring.message "role.rolecode"/>"type="text"  class="k-textbox"  type="text" style="float:left;width:150px;margin-right:5px;" data-bind="value:model.roleCode"/>
                 <input  data-role="maskedtextbox" placeholder ="<@spring.message "role.rolename"/>"type="text"  class="k-textbox"  type="text" style="float:left;width:150px;margin-right:5px;" data-bind="value:model.roleName"/>
                 <span  class="btn btn-primary" data-bind="click:queryResource" type="submit"><@spring.message "hap.query"/></span>
         </div>
         <script>kendo.bind($('#query-form'),viewModel);</script>

        <!-- 查询部分结束 -->
        <!-- 表单部分 -->
        <div  style="clear:both;">
            <div id="userchooserole_grid" ></div>
        </div>
        
    </div>
    <!-- 弹出框编写结束 -->

	<!-- 表单模块 -->
 <div id="page-content">
	<div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
        <span id="add" class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;" >添加</span>
         <!-- <span class="btn btn-success k-grid-save-changes"   onclick = "saveFunction()" style="float:left;margin-right:5px;"><@spring.message "hap.save"/></span> -->
        <span  onclick="deleteData()" class="btn btn-danger" style="float:left;"><@spring.message "hap.delete"/></span>
        <!-- <span  class="btn btn-default k-grid-cancel-changes" data-bind="click:cancelFunction" style="float:left;" ><@spring.message "hap.cancel"/></span>    -->
    </div>
 

    
    <script>kendo.bind($('#toolbar-btn'), viewModel);</script>
    <div  style="clear:both">
        <div id="panel_button" ></div>
    </div>
</div>
	<script type="text/javascript">
	var userId = ${RequestParameters.userId!'0'};
	//弹出窗 选择角色的全选函数
/*     function toggleAll2(e) {
        var grid = $('#userchooserole_grid').data('kendoGrid');
        var ds = grid.dataSource;
        var view = ds.view();
        var checked = e.target.checked;
        for (var i = 0; i < view.length; i++) {
          view[i].set("checked", checked);
        }
    } */
   
	 $('#query-form input').keydown(function (e) {
	        if (e.keyCode == 13) {
	            e.target.blur();
	            viewModel.queryResource(e);
	        }
	      });
    
    function contains(e){
    	 
        var val=true;
        for(var i=0;i<dataSource.data().length;i++)
        if(e==dataSource.data()[i].roleId){val=false}
        return val;
    }
    
    function saveRole(){
        var selection = $('#userchooserole_grid').data('kendoGrid').selectedDataItems();
        var userGrid = $('#panel_button').data('kendoGrid');
        for(var i=0;i<selection.length;i++){
            if(contains(selection[i].roleId)) {
            	userGrid.dataSource.add({
                    userId:'${RequestParameters.userId!'0'}',
                    roleId:selection[i].roleId,
                    roleCode:selection[i].roleCode,
                    roleName:selection[i].roleName,
                    endActiveDate:selection[i].endActiveDate,
                    enableFlag:'Y',
                    roleDescription:selection[i].roleDescription,
                });
            }
        }
        userGrid.saveChanges();
        $("#dialog").data("kendoWindow").close();
        //userGrid.dataSource.page(1);
    }
		
		/* function saveRole(){
			  var checked = $("#userchooserole_grid").find(".hCheckbox:checked");
			  var grid = $('#userchooserole_grid').data('kendoGrid');
			  var userGrid = $('#panel_button').data('kendoGrid');
		      var ds = grid.dataSource;  
			  if(!checked.length)
		        {
		            kendo.ui.showInfoDialog({
		                title:$l('hap.tip.info'),
		                message: '你未选中任何项!'
		            })
		            return;
		        }
		        var data = [];
		        checked.each(function(){
		              data.push(grid.dataItem($(this.closest("tr"))));
		        })
		         for(var i=0;i<data.length;i++)
		         {
		        	 userGrid.dataSource.add({
	                     userId:'${RequestParameters.userId!'0'}',
	                     roleId:data[i].roleId,
	                     roleCode:data[i].roleCode,
	                     roleName:data[i].roleName,
	                     endActiveDate:data[i].endActiveDate,
	                     enableFlag:'Y',
	                     roleDescription:data[i].roleDescription,
	                 });
		         }
	        userGrid.saveChanges();
	        $("#dialog").data("kendoWindow").close();
	        userGrid.dataSource.page(1);
	   }      */
   
    
    function deleteData(){
        var checked = grid.selectedDataItems();
        if(grid.selectedDataItems().length){  
            kendo.ui.showConfirmDialog({
                title:$l('hap.tip.info'),
                message: $l('hap.tip.delete_confirm')
            }).done(function (event) {
                if (event.button == 'OK') {
                    $.each(checked,function(i,v){
                        grid.dataSource.remove(v)
                    })
                    grid.dataSource.sync();
                }
            }) 
        }
    
    }
		$(document).ready(function () {
		
			 
			//我的理解是，这个viewModel的作用域
            //kendo.bind($('#panel_button'),viewModel)
            //创建一个远程数据源
          
            var crudServiceBaseUrl = "${base.contextPath}/sys/userrole";
            window.dataSource = new kendo.data.DataSource({
                transport: {
                    read:  {
                        url: crudServiceBaseUrl + "/queryUserRoles",
                        type : "POST",
                        dataType: "json"
                    },
                    //这边新建无法实现。因为后台报错了。
                    create : { 
                        url : crudServiceBaseUrl + "/submit",
                        contentType: "application/json",
                        type : "POST" 
                    },
                    update : { 
                        url : crudServiceBaseUrl + "/submit",
                        contentType: "application/json",
                        type : "POST" 
                    },
                    destroy : { 
                        url : crudServiceBaseUrl + "/submit",
                        contentType: "application/json",
                        type : "POST" 
                    },
                    parameterMap: function(options, type) {
                    	 if (type !== "read" && options.models) {
                             var datas = Hap.prepareSubmitParameter(options, type);
                             return kendo.stringify(datas);
                         } else if (type === "read") {
                             return Hap.prepareQueryParameter(viewModel.model.toJSON(), options);
                         }   
                    }
                },
                batch: true,
                serverPaging : true,
                pageSize: 10,
                schema: {
                    data:'rows',
                    total:'total',
                    model: {
                        //标记信息状态的属性，必加,加了这个属性之后，kendoui才会知道每条数据的状态，如add，update之类的，这边不能以每条属性都有且不一样的为依据，必须以一个都一样的主键为model的id
                        id:'surId',
                        fields: {
                            loginRequire: {defaultValue :'Y'},
                            accessCheck: {defaultValue :'Y'},
                            type: {defaultValue:'HTML'},
                            url: { validation: { required: true } }
                        }
                    }
                }
            });
            //第一个远程数据源配置结束
            
			//定义一个script，为页面添加kendoui按钮
			window.grid = $("#panel_button").kendoGrid({
                dataSource: dataSource,
                navigatable: false,
                height:'100%',
                resizable: true,
                scrollable: true,
                selectable : 'multiple, rowbox',
                pageable: {
                	//可以选择一个页面多少条数据
                    pageSizes:[5, 10, 20, 50],
                    refresh:true,
                    buttonCount:5,
                },
                sortable: true,
                columns: [
                	//表格的列
                    { 	
                    	field: "roleCode", 
                    	
                    	title: '<@spring.message "role.rolecode"/>',
                    	width: 120,
                    },
                    { 
                    	field: "roleName", 
                    	title: '<@spring.message "role.rolename"/>', 
                    	width: 180,
                    },
                    { 
                    	field: "roleDescription", 
                    	title: '<@spring.message "role.roledescription"/>', 
                    	width: 200,
                    },
                    {
                        field: "endActiveDate",
                        template:function(e){ return (new Date(e.endActiveDate)>new Date()||e.endActiveDate == null||e.endActiveDate=='') ? '未过期':'已过期'},
                        title: '<@spring.message "role.isexpired"/>',
                        width: 120,
                        attributes: {style: "text-align:center"},
                    },
                    {
                        field: "enableFlag",
                        title: '<@spring.message "hap.enableflag"/>',
                        width: 120,
                        attributes: {style: "text-align:center"},
                    }
                
                ],
                //设置为弹出编辑但是不弹出，即可实现通过数据源添加但体现为不可编辑
                editable: "popup",
            }).data("kendoGrid");

            $("#dialog").kendoWindow({
                width: 700,
                height: 280,
                title: "提示",
                resizable: false,
                //初始化时设置为隐藏状态
                visible: false,
                close: function(e) {
                    //弹出窗 close 的时候，把它销毁，避免事件的重复绑定
                    var grid = $("#userchooserole_grid").data("kendoGrid");
                    grid.destroy();
                }        
            }).data("kendoWindow");

            $("#add").click(function(){
            
            //弹出框的远程数据源配置
            var modalUrl = "${base.contextPath}/sys/role",
          
                modalDataSource = new kendo.data.DataSource({
                
                    transport: {
                    	
                        read:  {
                        
                            url: modalUrl + "/queryRoleNotUserRole",
                            type : "POST",
                            dataType: "json"
                        },
                        create : { 
                            url : modalUrl + "/submit",
                            contentType: "application/json",
                            type : "POST" 
                        },
                        update : { 
                            url : modalUrl + "/submit",
                            contentType: "application/json",
                            type : "POST" 
                        },
                        destroy : { 
                            url : modalUrl + "/submit",
                            contentType: "application/json",
                            type : "POST"
                        },
                        parameterMap: function(options, type) {
                        	 if (type !== "read" && options.models) {
                                 var datas = Hap.prepareSubmitParameter(options, type);
                                 return kendo.stringify(datas);
                             } else if (type === "read") {
                                 return Hap.prepareQueryParameter(viewModel.model.toJSON(), options);
                             }  
                        }
                    },            
                    batch: true,
                    serverPaging : true,
                    pageSize: 10,
                    schema: {
                        data:'rows',
                        total:'total',
                        model: {
                            //如果想动态的添加，需要这边加上唯一标识
                            id: "roleId"
                        }
                    }
                });

                //为弹出框加入属性
              $("#userchooserole_grid").kendoGrid({
                    dataSource: modalDataSource,
                    navigatable: false,
                    height:'100%',
                    resizable: true,
                    scrollable: true,
                    selectable : 'multiple, rowbox',
                    pageable: {
                        //可以选择一个页面多少条数据
                        pageSizes:[5, 10, 20, 50],
                        refresh:true,
                        buttonCount:5
                    },
                    columns: [
                        //表格的列
                      /*   {
                            headerTemplate: '<input type="checkbox" onclick="toggleAll2(event)" tabindex="-1"/>',
                            template: '<input class="checkbox hCheckbox" type="checkbox" data-bind="checked: checked" tabindex="-1"/>',
                            width:30
                        }, */
                        {   
                            field: "roleCode", 
                            title: '<@spring.message "role.rolecode"/>',
                            width: 80
                        },
                        { 
                            field: "roleName", 
                            title: '<@spring.message "role.rolename"/>', 
                            width: 200,
                        },
                        { 
                            field: "roleDescription", 
                            title: '<@spring.message "role.roledescription"/>', 
                            width: 200,
                        },
                      
                    ],
                   editable: false,
                    dataBound  : function () {
                       var view = this.dataSource.view();
                       this.items().each(function (index, row) {
                           kendo.bind(row, view[index]);
                       });
                   } 
                   
                }).data("kendoGrid");
                
                $("#dialog").kendoWindow({
                    modal: true
                });

                var win = $("#dialog").data("kendoWindow");
                //点击之后，居中打开kendoWindows
                win.modal=true;
                win.center().open();
                Hap.autoResizeGrid("#userchooserole_grid"); 
            });
            //自动根据当前屏幕大小调整表格
            Hap.autoResizeGrid("#panel_button"); 
            $("#panel_button thead>tr th").css("text-align","center");
            
        });
		
	</script>

</body>