<#-- 
* description: 描述维护界面 
* version: 1.0 
* author:hailin.xu@hand-china.com 
* --> 
<#include "../include/header.html">
<body>
	<script src="${base.contextPath}/common/language?var=languageData" type="text/javascript"></script>
	<script type="text/javascript">
           var viewModel = kendo.observable({
        	   model : {},
   			   resourceTypeData : languageData,
	  	       createFunction: function(){
	               $('#grid').data('kendoGrid').addRow();
	           },
	           saveFunction: function(){
	               $('#grid').data('kendoGrid').saveChanges();
	           },
   			   queryResource : function(e) {
   				   $('#grid').data('kendoGrid').dataSource.page(1);
   			   },
   			   cancelFunction: function(e){
   				 $('#grid').data('kendoGrid').cancelChanges();
   			   },
   			   resetForm : function(e) {
   				   var formData = viewModel.model.toJSON();
   				   for ( var k in formData) {
   					   viewModel.model.set(k, null);
   				   }
   			   }
          });
   </script> 

    <div id="page-content">
       <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
         <span class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;" data-bind="click:createFunction"><@spring.message "hap.new"/></span>
        <span class="btn btn-success k-grid-save-changes"   data-bind="click:saveFunction" style="float:left;margin-right:5px;"><@spring.message "hap.save"/></span>
        <span  class="btn btn-default k-grid-cancel-changes" data-bind="click:cancelFunction" style="float:left;" ><@spring.message "hap.cancel"/></span>
      </div>
     <script>kendo.bind($('#toolbar-btn'), viewModel);</script>
     <div id="queryPanel" class="pull-right"  style="margin-right:5px;padding-bottom:10px;">
     	<div class="k-query-simple" id="query-form">
            <input type="text"   style="width:150px;" placeholder='<@spring.message "prompt.promptcode"/>' data-bind="value:model.promptCode" class="k-textbox">
     	</div>
        <script>kendo.bind($('#query-form'), viewModel);</script>
     	<div class="k-query-detail" id="query-form2">
 
            <select data-role="combobox" data-value-primitive="true" placeholder='<@spring.message "prompt.sourcelang"/>' style="width:150px;margin-right:5px"
										data-text-field="description" data-value-field="langCode"
										data-bind="source: resourceTypeData,value:model.lang"></select>
           <input type="text"   placeholder='<@spring.message "prompt.description"/>' data-bind="value:model.description" class="k-textbox">
           
      	 </div>
     	 <script>kendo.bind($('#query-form2'), viewModel);</script>
    </div>
      <script>
        $('#queryPanel').kendoQueryPanel({
            queryFunction:function(){
            	viewModel.queryResource();
            },
            resetFunction:function(){
            	viewModel.resetForm();
            }
         })
     </script>

    <div style="clear:both">
        <div id="grid"></div>
    </div>
</div>
	
	<script type="text/javascript">
		$('#query-form input').keydown(function (e) {
		    if (e.keyCode == 13) {
		        e.target.blur();
		        viewModel.queryResource(e);
		    }
		});
		$('#query-form input').keydown(function (e) {
		    if (e.keyCode == 13) {
		        e.target.blur();
		        viewModel.queryResource(e);
		    }
		});
        var crudServiceBaseUrl = "${base.contextPath}/sys/prompt", 
        dataSource = new kendo.data.DataSource(
		{
			transport : {
				read : {
					url : crudServiceBaseUrl+ "/query",
					type : "POST",
					dataType : "json"
				},
				create : {
					url : crudServiceBaseUrl+ "/submit",
					contentType : "application/json",
					type : "POST"
				},
				update : {
					url : crudServiceBaseUrl+ "/submit",
					contentType : "application/json",
					type : "POST"
				},
				destroy : {
					url : crudServiceBaseUrl+ "/remove",
					contentType : "application/json",
					type : "POST"
				},
				parameterMap : function(options,type) {
					if (type !== "read"&& options.models) {
						var datas = options.models
						if (type == 'create'|| type == 'update') {
							datas = options.models.map(function(data) {
								  data['__status'] = (type == 'create' ? 'add': 'update');
										return data;
						     })
						}
						return kendo.stringify(datas);
					} else if (type === "read") {
						var map = viewModel.model.toJSON();
						map.page = options.page;
						map.pagesize = options.pageSize;
						for ( var k in map) {
							if (map[k] === ''|| map[k] === null|| map[k] === undefined)
								delete map[k]
						}
						return map;
					}
				}
			},
			batch : true,
			serverPaging : true,
			pageSize : 10,
			schema : {
				data : 'rows',
				total : 'total',
				model : {
					id : "promptCode",
					fields : {
						lang : {validation : {required : true}},
						description : {validation : {required : true},type : "string"}
					}
				}
			}
		});
	
		var grid = $("#grid").kendoGrid(
		{
			dataSource : dataSource,
			navigatable : false,
			resizable : true,
			scrollable : true,
			height:"100%",
			editable : true,
			pageable : {
				pageSizes : [ 5, 10, 20, 50 ],
				refresh : true,
				buttonCount : 5
			},
			columns : [
			{
				field : "promptCode",
				title : '<@spring.message "prompt.promptcode"/>',
				width : 240,
				headerAttributes: {
                    "class": "table-header-cell",
                    style  : "text-align: center"
                },
			    attributes : {
			    	//输入只能小写
					style : "text-transform:lowercase"
				}
			},
			{
				field : "lang",
				title : '<@spring.message "prompt.sourcelang"/>',
				width : 120,
				headerAttributes: {
                    "class": "table-header-cell",
                    style  : "text-align: center"
                },
				template : function(
						dataItem) {
					var v = dataItem.lang;
					$.each(languageData,function(i,n) {
						 if ((n.langCode || '').toLowerCase() == (v || '').toLowerCase()) {
								v = n.description;
								return false;
						}
					})
					return v;
				},	
				editor : function(container,options) {
					$('<input required name="' + options.field + '"/>').appendTo(container)
						 .kendoDropDownList(
								{
								dataTextField : "description",
								dataValueField : "langCode",
								dataSource : languageData
								});
				}
			},
			{
				field : "description",
				title : '<@spring.message "prompt.description"/>',
				width : 120,
				headerAttributes: {
                    "class": "table-header-cell",
                    style  : "text-align: center"
                }
			},
			{
				attributes : {
					style : "text-align:center;padding:0px"
				},
				command : [ {
					name:'remove',
                    template : '<a class="btn btn-danger k-grid-remove"><@spring.message "hap.delete"/></a>',
                    click: function(e){
                 	   var th = this;
                        e.preventDefault();
                        kendo.ui.showConfirmDialog({
                        	title:$l('hap.tip.info'),
                        	message: $l('hap.tip.delete_confirm')
                        }).done(function(event){
                            if(event.button == 'OK'){
                               var data = th.dataItem($(e.target).closest("tr"));
                               th.dataSource.remove(data)
                               th.dataSource.sync()
                            }
                        })                      
                    } 
				}],
				width : 70
			}
			],
		}).data("kendoGrid");
        	
		Hap.autoResizeGrid("#grid");
	</script>
</body>
</html>
