<#--
 * description: 模型列表
 * version: 1.0
 * author:jessen
 *
-->


<#include "../include/header.html">
<body>
<style>
    span[class^="l-icon-"] {
        width: 20px;
        height: 16px;
        overflow: hidden;
        display: inline-block;
    }

    <#list ["edit","delete","download","right"] as i>
    .l-icon-${i} {
        background: url('${base.contextPath}/resources/images/svg/${i}.svg') no-repeat center;
    }
    </#list>
</style>
<script>
    viewModel = kendo.observable({
        model: {},
        queryGrid: function (e) {
            $('#modelsGrid').data('kendoGrid').dataSource.page(1);
        },
        resetForm: function (e) {
            var formData = viewModel.model.toJSON();
            for (var k in formData) {
                viewModel.model.set(k, null);
            }
        },
        newModel: function () {
            var newModelWin = $('#newModelWin').kendoWindow({
                title: '新建模型',
                width: 400,
                height: 220,
                modal: true
            }).data('kendoWindow');
            newModelWin.center().open();
        },
        importModel: function (id) {
            var importWin = $("#importWin").kendoWindow({
                title: '导入模型',
                width: 400,
                height: 250,
                modal: true,
                close: function () {
                }
            }).data("kendoWindow");
            importWin.center().open();

        }
    });
</script>
<div id="content-container">
    <div id="page-content">

        <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
            <span class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;" data-bind="click:newModel"><@spring.message "hap.new"/></span>
            <span class="btn btn-info" style="float:left;" data-bind="click:importModel">导入</span>
        </div>
        <script>kendo.bind($('#toolbar-btn'), viewModel)</script>

        <div class="pull-right" id="query-form" style="padding-bottom:10px;">
            <input placeholder="名称" type="text" style="float:left;width:150px;margin-right:5px;" data-bind="value:model.nameLike" class="k-textbox">
            <span class="btn btn-primary" style="float:left;width:70px" data-bind="click: queryGrid" type="submit"><@spring.message "hap.query"/></span>
            <div style="clear:both"></div>
        </div>
        <script>
            kendo.bind($('#query-form'), viewModel);
            $('#query-form input').keydown(function (e) {
                if (e.keyCode == 13) {
                    e.target.blur();
                    viewModel.queryGrid(e);
                }
            });
        </script>

        <div style="clear: both">
            <div id="modelsGrid" style="clear: both" class="table"></div>
        </div>

    </div>
</div>

<script>
    viewModelNew = kendo.observable({
        model: {
            category: 'demo'
        },
        createNewModel: function () {
            var param = viewModelNew.model.toJSON();
            param.version = 1;
            param.metaInfo = kendo.stringify({
                name: param.name,
                version: param.version,
                description: param.description
            });
            $.ajax({
                url: '${base.contextPath}/wfl/repository/models',
                method: 'post',
                dataType: "json",
                contentType: 'application/json',
                data: kendo.stringify(param),
                success: function (args) {
                    if (args.success === false) {
                        kendo.ui.showErrorDialog({
                            title: $l('hap.tip.failure'),
                            message: args.message
                        });
                        return;
                    }
                    $('#newModelWin').data('kendoWindow').close();
                    kendo.ui.showInfoDialog({
                        title: $l('hap.tip.info'),
                        message: '创建成功'
                    }).done(function () {
                        viewModel.queryGrid();
                    });
                }
            });
        }

    });
</script>


<div id="newModelWin" style="display: none;">
    <div class="panel" style="padding: 0px;">
        <form class="form-horizontal" id="myForm">
            <div class="panel-body">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-9">
                                <input id="m-name2" type="text" style="width: 100%"
                                       data-bind="value:model.name" class="k-textbox">
                                <script>kendo.bind($('#m-name2'), viewModelNew)</script>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Key</label>
                            <div class="col-sm-9">
                                <input id="m-key2" type="text" style="width: 100%"
                                       data-bind="value:model.key" class="k-textbox">
                                <script>kendo.bind($('#m-key2'), viewModelNew)</script>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Category</label>
                            <div class="col-sm-9">
                                <input id="m-category2" type="text" style="width: 100%"
                                       data-bind="value:model.category" class="k-textbox" style="width:100%">
                                <script>kendo.bind($('#m-category2'), viewModelNew)</script>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-9">
                                <input id="m-description2" type="text" style="width: 100%"
                                       data-bind="value:model.description" class="k-textbox">
                                <script>kendo.bind($('#m-description2'), viewModelNew)</script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-footer text-right">
                    <span id="btn-create" class="btn btn-success" data-bind="click:createNewModel"
                          type="submit"><@spring.message "hap.new"/></span>
                <script>
                    kendo.bind($('#btn-create'), viewModelNew)
                </script>
            </div>
        </form>
    </div>
</div>

<script>
    // a callback function
    function onImportComplete(success, msg) {
        if (success === true) {
            kendo.ui.showInfoDialog({
                title: $l('hap.tip.info'),
                message: '导入成功'
            }).done(function () {
                $('#importWin').data('kendoWindow').close()
            });
        } else {
            kendo.ui.showErrorDialog({
                title: $l('hap.error'),
                message: msg
            });
        }
    }
</script>

<div id="importWin" style="display: none;">
    <div id="page-content">
        <div class="panel" style="border:none;box-shadow: none;">
            <form id="importForm" class="form-horizontal" enctype="multipart/form-data" target="_importTarget" method="POST"
                  action="${base.contextPath}/wfl/repository/model/import">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">BPMN 定义文件</label>
                            <div class="col-sm-8">
                                <input id="file" name="file" type="file" style="width: 100%">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">分类</label>
                            <div class="col-sm-8">
                                <input name="category" type="text" value="default" style="width: 100%"
                                       class="k-textbox">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-8">
                                <button id="btn-upload" class="btn btn-primary"
                                        type="submit"><@spring.message "sysfile.upload"/></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <iframe id="_importTarget" name="_importTarget" src="about:blank" style="position:absolute;left:-10000px;top:-10000px;width:1px;height:1px;display:none"></iframe>
</div>


<script type="text/javascript">


    function editModel(id) {
        var url = '${base.contextPath}/modeler.html?modelId=' + id;
        window.open(url);
    }

    function deployModel(id) {
        var url = '${base.contextPath}/wfl/repository/model/' + id + '/deploy';
        $.ajax({
            url: url,
            success: function (args) {
                if (args.success === true) {
                    kendo.ui.showInfoDialog({
                        title: $l('hap.tip.info'),
                        message: '发布成功!'
                    });
                }
                else {
                    kendo.ui.showErrorDialog({
                        title: $l('hap.error'),
                        message: args.message
                    });
                }
            },
            complete: function () {
            }
        });
    }

    function openDetailWin(id, uid) {
        var row = dataSource.getByUid(uid);
        if (!row)return;
        var win = $('#detailWin').kendoWindow({
            title: $l('hap.view') + '[' + row.name + ']',
            iframe: true,
            draggable: false,
            content: 'process_definition_detail.html?processDefinitionId=newVacationRequest:6:45214',
            modal: true
        }).data('kendoWindow');
        win.maximize().open();
    }


    function deleteModel(uid) {
        var row = dataSource.getByUid(uid);
        if (!row) {
            return;
        }
        kendo.ui.showConfirmDialog({
                    title: $l('hap.tip.delete_confirm'),
                    message: $l('hap.tip.info')
                }
        ).done(function (e) {
            if (e.button == 'OK') {
                dataSource.options.transport.destroy.url = '${base.contextPath}/repository/models/' + row.id;
                dataSource.remove(row);
                dataSource.sync();
            }
        });

    }

    function exportModel(id) {
        if (!id)return;
        var form = document.createElement("form");
        form.target = "_export_win";
        form.method = "post";
        form.action = '${base.contextPath}/wfl/repository/model/' + id + '/export?type=bpmn20';
        document.body.appendChild(form);
        form.submit();
        $(form).remove();
    }


    dataSource = new kendo.data.DataSource(
            {
                transport: {
                    read: {
                        url: '${base.contextPath}/repository/models',
                        type: "GET",
                        dataType: "json"
                    },
                    destroy: {
                        url: "/remove",//dynamic
                        type: "delete"
                    },
                    parameterMap: function (options, type) {
                        if (type === "read") {
                            var map = viewModel.model.toJSON();
                            map.start = (options.page - 1) * options.pageSize;
                            map.size = options.pageSize;
                            for (var k in map) {
                                if (map[k] === '' || map[k] === null || map[k] === undefined)
                                    delete map[k]
                            }
                            return map;
                        }
                    }
                },
                batch: true,
                serverPaging: true,
                pageSize: 10,
                schema: {
                    data: 'data',
                    total: 'total',
                    model: {
                        id: "id",
                        fields:{}
                    }
                }
            });

    var grid = $('#modelsGrid').kendoGrid({
        dataSource: dataSource,
        height: '100%',
        navigatable: false,
        resizable: true,
        scrollable: true,
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        columns: [
            {
                field: "name",
                title: '流程名称',
                width: 150
            },
            {
                field: "key",
                title: '标识',
                width: 150
            },
            {
                field: "id",
                title: 'ID',
                width: 120,
                template: function (dataItem) {
                    return Hap.createAnchor("查看定义:" + dataItem.id, openDetailWin, dataItem.id, dataItem.uid);
                }
            },
            {
                field: "category",
                title: '类别',
                width: 120
            },
            {
                field: 'createTime',
                title: '创建时间',
                width: 140,
                template: function (dataItem) {
                    return Hap.formatDateTime(dataItem.createTime)
                }
            },
            {
                field: 'lastUpdateTime',
                title: '修改时间',
                width: 140,
                template: function (dataItem) {
                    return Hap.formatDateTime(dataItem.lastUpdateTime)
                }
            }, {
                title: '操作',
                width: 100,
                template: function (item) {
                    var div = "<div style='text-align:center;'>";
                    div += Hap.createAnchor('<span class="l-icon-edit" title="<@spring.message "hap.edit"/>"/>', editModel, item.id);
                    div += Hap.createAnchor('<span class="l-icon-delete" title="<@spring.message "hap.delete"/>"/>', deleteModel, item.uid);
                    div += Hap.createAnchor('<span class="l-icon-download" title="导出"/>', exportModel, item.id);
                    div += Hap.createAnchor('<span class="l-icon-right" title="发布" />', deployModel, item.id);
                    div += "</div>";
                    return div;
                }
            }],
        editable: false
    }).data('kendoGrid');

    Hap.autoResizeGrid("#modelsGrid")


</script>
<iframe id="_export_win" name="_export_win" style="position:absolute;left:-10000px;top:-10000px;width:1px;height:1px;display:none"></iframe>
</body>
</html>