<#include "../include/header.html">
<body>
<style>
    span[class='k-window-title'] {
        user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
    }
</style>
<div id="content-container">
    <div id="page-content">
        <div class="panel" style="padding: 0px;border:none;box-shadow: none;">
            <form class="form-horizontal" id="myForm">
                <header>
                    <span>我的待办</span>
                </header>
                <div class="panel-body">
                    <div class="row" style="margin-bottom: 10px;">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">流程名称</label>
                                <div class="col-sm-9">
                                    <input type="text" style="width: 100%"
                                           data-bind="value:model.processDefinitionNameLike" class="k-textbox">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">审批环节</label>
                                <div class="col-sm-9">
                                    <input type="text" style="width: 100%"
                                           data-bind="value:model.nameLike" class="k-textbox">
                                </div>
                            </div>
                        </div>
                    

                   </div>
                   
                   <div class="row ">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">创建日期从</label>
                                <div class="col-sm-9">
                                    <input style="width: 100%" data-role="datetimepicker"
                                           data-bind="value:model.createdAfter" class="k-datetimepicker">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">

                            <div class="form-group">
                                <label class="col-sm-3  control-label">创建日期至</label>
                                <div class="col-sm-9">
                                    <input type="text" style="width: 100%" data-role="datetimepicker"
                                           data-bind="value:model.createdBefore" class="k-datetimepicker">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </form>
            <div class="row">
                <div class="col-sm-4">
                    <span class="btn btn-primary" data-bind="click:queryGrid"
                          type="submit"><@spring.message "hap.query"/></span>
                    <span class="btn btn-default" type="button" data-bind="click:resetForm">
                    <@spring.message "hap.reset"/></span>
                </div>
                <div class="col-sm-8" style="margin-bottom: 10px;">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-2">
                        <label class="control-label">优先级</label>
                    </div>
                    <div class="col-sm-2">
                        <div class='priority-high'>高</div>
                    </div>
                    <div class="col-sm-2">
                        <div class='priority-median'>中</div>
                    </div>
                    <div class="col-sm-2">
                        <div class='priority-low'>低</div>
                    </div>
                </div>
            </div>
        </div>

        <div style="clear:both">
            <div id="taskListGrid"  class="table"></div>
        </div>

    </div>
</div>

<div id="taskDetailWin"></div>
<div id="runtimeWin"></div>

<script type="text/javascript">
   
    var prioritySource = new kendo.data.DataSource({
        data:[
            { priority: "高", maximumPriority: 100 },
            { priority: "中", maximumPriority: 66 },
            { priority: "低", maximumPriority: 33}
       ]
    });

    function openDetailWin(taskId, uid) {
        var rec = dataSource.getByUid(uid);
//        var taskDetailWin = $("#taskDetailWin").kendoWindow({
//            actions: ["Close"],
//            title: '',
//            visible: false,
//            iframe: true,
//            modal: true,
//            draggable: false,
//            content: 'task_detail.html?taskId=' + taskId,
//            close: function () {
//                $('#taskListGrid').data('kendoGrid').dataSource.page(1);
//            }
//        }).data("kendoWindow");
//        taskDetailWin.center().open().maximize();
        window.top.openTab(taskId, '待办审批', '${base.contextPath}/activiti/task_detail.html?taskId=' + taskId, true);
    }

    function openRuntimeWin(uid){
        var rec = dataSource.getByUid(uid);
        $("#runtimeWin").kendoWindow({
            actions: ["Close"],
            title: "流程运行状态",
            draggable: true,
            height: "500px",
            width: "800px",
            content: "${base.contextPath}/activiti/process_instance.html?processInstanceId=" + rec.processInstanceId,
            iframe:true
            // modal: true
        });
        var win = $("#runtimeWin").data("kendoWindow");
        win.center().open();
    }

    function doQuery() {
        $('#taskListGrid').data('kendoGrid').dataSource.page(1);
    }

    viewModel = kendo.observable({
        model: {},
        prioritySource2 :prioritySource,
        queryGrid: doQuery,
        resetForm: function (e) {
            var formData = viewModel.model.toJSON();
            for (var k in formData) {
                viewModel.model.set(k, null);
            }
        }
    });
    kendo.bind($('#page-content'), viewModel);
    var crudServiceBaseUrl = "${base.contextPath}/wfl/";
    dataSource = new kendo.data.DataSource(
            {
                transport: {
                    read: {
                        url: '${base.contextPath}/wfl/query/tasks',
                        type: "POST",
                        contentType: "application/json",
                        dataType: "json"
                    },
                    destroy: {
                        url: crudServiceBaseUrl + "/task/remove",
                        contentType: "application/json",
                        type: "POST"
                    },
                    parameterMap: function (options, type) {
                        if (type === "read") {
                            var map = viewModel.model.toJSON();
                            map.start = (options.page - 1) * options.pageSize;
                            map.size = options.pageSize;
                            for (var k in map) {
                                if (map[k] === '' || map[k] === null || map[k] === undefined)
                                    delete map[k]
                            }
                            return kendo.stringify(map);
                        }
                    }
                },
                batch: true,
                serverPaging: true,
                pageSize: 10,
                schema: {
                    data: 'data',
                    total: 'total',
                    model: {
                        id: "id",
                        fields: {}
                    }
                }
            });

    var grid = $("#taskListGrid").kendoGrid(
            {
                dataSource: dataSource,
                navigatable: false,
                height:'100%',
                resizable: true,
                scrollable : 'multiple, rowbox',
                pageable: {
                    pageSizes: [5, 10, 20, 50],
                    refresh: true,
                    buttonCount: 5
                },
                columns: [
                    {
                        field: "processName",
                        title: '流程名称',
                        width: 150
                    },
                    {
                        field: "name",
                        title: '审批环节',
                        width: 150,
                        template: function (dataItem) {
                            return Hap.createAnchor(dataItem.name+"<span class='fa fa-eye' style='float:right'/>",openRuntimeWin,dataItem.uid);
                        }
                    },
                    {
                        field: "startUserName",
                        title: '申请人',
                        width: 100,
                        template: function (dataItem) {
                            return dataItem.startUserName || dataItem.startUserId || ''
                        }
                    },
                    {
                        field: "id",
                        title: '操作',
                        width: 120,
                        template: function (dataItem) {
                            var div = "<div>";
                            div += Hap.createAnchor("<span style='margin-right:5px'>办理</span>", openDetailWin, dataItem.id, dataItem.uid);
                            div += Hap.createAnchor("<span style='margin-right:5px;color:green'>同意</span>", openDetailWin, dataItem.id, dataItem.uid);
                            div += Hap.createAnchor("<span style='margin-right:5px;color:red'>拒绝</span>", openDetailWin, dataItem.id, dataItem.uid);
                            div += "</div>"
                            return div;
                        }
                    },
                    {
                        field: "assigneeName",
                        title: '处理人',
                        width: 120,
                        template: function (dataItem) {
                            if (dataItem.delegationState == "pending") {
                                return dataItem.assigneeName + '<span class="task-pending">(转交中)</span>';
                            } else if (dataItem.delegationState == "resolved") {
                                return dataItem.assigneeName + '<span class="task-resolved">(已转交)</span>';
                            }
                            return dataItem.assigneeName
                        }
                    },
                    {
                        field: 'createTime',
                        title: '创建时间',
                        width: 140,
                        template: function (dataItem) {
                            return Hap.formatDateTime(dataItem.createTime)
                        }
                    },
                    {
                        field: 'dueTime',
                        title: '限定时间',
                        width: 140,
                        template: function (dataItem) {
                            return Hap.formatDateTime(dataItem.dueTime)
                        }
                    },
                    {
                        field: 'priority',
                        title: '优先级',
                        width: 100,
                        template: function (dataItem) {
                            if (dataItem.priority < 33)
                            	return "<div class='priority-low'>低</div>";
                            if (dataItem.priority < 66)
                                return "<div class='priority-median'>中</div>";
                            return "<div class='priority-high'>高</div>";
                        }
                    }],
                editable: false
            }).data("kendoGrid");
    Hap.autoResizeGrid("#taskListGrid"); 

</script>
<style type="text/css">

    .task-resolved {
        color: blue;
    }

    .task-pending {
        color: lightblue;
    }

    .priority-low {
        width: 80%;
        height: 20px;
        background: #00AA00;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0 0 3px #947575;
        text-align: center;
        line-height: 20px;
        color: white;
    }

    .priority-median {
        width: 80%;
        height: 20px;
        background: #FFA500;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0 0 3px #947575;
        text-align: center;
        line-height: 20px;
        color: white;
    }

    .priority-high {
        width: 80%;
        height: 20px;
        background: #DD0000;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 0 0 3px #947575;
        text-align: center;
        line-height: 20px;
        color: white;
    }
</style>
</body>
</html>
