<#include "../include/header.html">
<body>
<style>
    span[class='k-window-title'] {
        user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
    }
</style>
<div id="content-container">
    <div id="page-content">
        <div class="panel" style="padding: 0px;border:none;box-shadow: none;">
            <form class="form-horizontal" id="myForm">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">发起人</label>
                                <div class="col-sm-9">
                                    <input type="text" style="width: 100%"
                                           data-bind="value:model.startedBy" class="k-textbox">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">开始日期从</label>
                                <div class="col-sm-9">
                                    <input style="width: 100%" data-role="datetimepicker"
                                           data-bind="value:model.startedAfter" class="k-datetimepicker">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">

                            <div class="form-group">
                                <label class="col-sm-3  control-label">开始日期至</label>
                                <div class="col-sm-9">
                                    <input type="text" style="width: 100%" data-role="datetimepicker"
                                           data-bind="value:model.startedBefore" class="k-datetimepicker">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">结束日期从</label>
                                <div class="col-sm-9">
                                    <input style="width: 100%" data-role="datetimepicker"
                                           data-bind="value:model.finishedAfter" class="k-datetimepicker">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">

                            <div class="form-group">
                                <label class="col-sm-3  control-label">结束日期至</label>
                                <div class="col-sm-9">
                                    <input type="text" style="width: 100%" data-role="datetimepicker"
                                           data-bind="value:model.finishedBefore" class="k-datetimepicker">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="text-right">
                    <span class="btn btn-primary" data-bind="click:queryGrid"
                          type="submit"><@spring.message "hap.query"/></span>
                    <span class="btn btn-default" type="button" data-bind="click:resetForm">
                    <@spring.message "hap.reset"/></span>
                </div>
            </form>
        </div>


        <div style="clear:both;">
            <div id="processHistoryGrid" style="clear: both" class="table"></div>
        </div>

    </div>
</div>

<div id="taskHisWin"></div>

<script type="text/javascript">


    function openTaskHistory(id, uid) {
        var row = dataSource.getByUid(uid);
        if (!row)return;
        var win = $('#taskHisWin').kendoWindow({
            title: '审批历史-' + row.processName + "[" + id + "]",
            iframe: true,
            draggable: false,
            content: 'process_history_detail.html?processInstanceId=' + id,
            modal: true
        }).data('kendoWindow');
        win.maximize().open();
    }


    viewModel = kendo.observable({
        model: {},
        queryGrid: function (e) {
            $('#processHistoryGrid').data('kendoGrid').dataSource.page(1);
        },
        resetForm: function (e) {
            var formData = viewModel.model.toJSON();
            for (var k in formData) {
                viewModel.model.set(k, null);
            }
        }
    });
    kendo.bind($('#page-content'), viewModel);
    var crudServiceBaseUrl = "${base.contextPath}/wfl/taskList";
    dataSource = new kendo.data.DataSource(
            {
                transport: {
                    read: {
                        url: '${base.contextPath}/wfl/query/historic-process-instances?sort=startTime&order=desc',
                        type: "GET",
                        dataType: "json"
                    },
                    destroy: {
                        url: crudServiceBaseUrl + "/remove",
                        contentType: "application/json",
                        type: "POST"
                    },
                    parameterMap: function (options, type) {
                        if (type === "read") {
                            var map = viewModel.model.toJSON();
                            map.start = (options.page - 1) * options.pageSize;
                            map.size = options.pageSize;
                            for (var k in map) {
                                if (map[k] === '' || map[k] === null || map[k] === undefined)
                                    delete map[k]
                            }
                            for (var k in map) {
                                if (map[k] instanceof Date) {
                                    map[k] = kendo.toString(map[k], "yyyy-MM-ddTHH:mm:ss'GMT'z")
                                }
                            }
                            return map;
                        }
                    }
                },
                batch: true,
                serverPaging: true,
                pageSize: 10,
                schema: {
                    data: 'data',
                    total: 'total',
                    model: {
                        id: "id",
                        fields: {}
                    }
                }
            });

    var grid = $("#processHistoryGrid").kendoGrid(
            {
                dataSource: dataSource,
                height: '100%',
                navigatable: false,
                resizable: true,
                scrollable: true,
                rownumber:true,
                pageable: {
                    pageSizes: [5, 10, 20, 50],
                    refresh: true,
                    buttonCount: 5
                },
                columns: [
                    {
                        field: "id",
                        title: '流程实例 ID',
                        width: 100
                    },
                    {
                        field: "processName",
                        title: '流程名称',
                        width: 150
                    },
                    {
                        field: "processDefinitionId",
                        title: '流程定义 ID',
                        width: 200
                    },
                    {
                        title: '审批历史',
                        width: 100,
                        template: function (item) {
                            return Hap.createAnchor($l('hap.view'), openTaskHistory, item.id, item.uid);
                        }
                    },
                    {
                        field: "startUserName",
                        title: '发起人',
                        width: 100
                    },
                    {
                        field: 'startTime',
                        title: '开始时间',
                        width: 140,
                        template: function (dataItem) {
                            return Hap.formatDateTime(dataItem.startTime)
                        }
                    },
                    {
                        field: 'endTime',
                        title: '结束时间',
                        width: 140,
                        template: function (dataItem) {
                            return Hap.formatDateTime(dataItem.endTime)
                        }
                    }],
                editable: false
            }).data("kendoGrid");

    Hap.autoResizeGrid("#processHistoryGrid");

</script>
<style type="text/css">

    .priority-median {
        background-color: yellowgreen;
    }

    .priority-high {
        background-color: orangered;
    }
</style>
</body>
</html>
