<#include "../include/header.html">
<body>
<script src="${base.contextPath}/resources/js/wfl/wfl.js"></script>
<style type="text/css">

    div[class='panel'] {
        padding: 0;
        border: none !important;
        box-shadow: none !important;
    }

    form header {
        font-size: 1.2em;
        padding-left: 15px;
        border-bottom: solid 1px #f7f9fb;
    }

    #task-info-form input {
        border: none;
    }

    .td-value {
        color: black;
        line-height: 30px;
        height: 30px;
        width: 100%;
        border-bottom: solid #dedede 1px;
    }

    #actionBar {
        box-shadow: 0px 1px 2px lightgray;
        height: 45px;
        line-height: 30px;
        background: #f7f9fb;
        overflow: hidden;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 5px;
        padding-right: 20px;
        text-align: right;
    }

    .delegate-indicator {
        color: #ef6091;
        font-weight: 900;
    }

    #delegation-mark {
        margin-left: 15px;
        color: #758697;
    }

    #delegation-detail {
        margin-left: 15px;
        color: #758697;
    }

    #includeFrame {
        border: none !important;
        box-shadow: none;
    }

    #historyTable {
        border-collapse: collapse;
    }

    #historyTable td {
        padding-left: 10px;
        height: 24px;
        border: #ccc solid 1px;
    }

    #historyTable thead {
        background-color: rgba(156, 156, 156, 0.15);
        font-style: oblique;
    }

    .his-line-number {
        padding: 0 !important;
        text-align: center !important;
    }

    pre#td-description {
        background: none;
        font-size: 1em;
        border: none;
        border-bottom: inherit;
        text-align: left;
        height: auto;
    }

    #ta-comment {
        margin: 10px 0 10px 0;
        width: 100%;
        height: 100px;
    }

    .comment-too-long {
        color: red;
    }

    .action_ok {
        color: #5fb760;
    }

    .action_dangerous {
        color: #eeac5f;
    }

    .action_custom {
        color: #60c0dc;
    }

    button:before {
        margin-right: 2px;
    }

    span[class^='fa']:before {
        margin-right: 3px;
    }

    /**/

</style>


<div id="content-container">
    <div id="page-content" style="margin-bottom:50px;">
        <div class="panel">
            <div id="actionBar" class="unselectable">
                <div style="float: left;font-size: 1.5em;padding-left: 1em;">
                    <span id="bar-process-name"></span> -
                    <span id="bar-task-name" style="color:#204A87;font-size: .8em;border-bottom: solid 1px #204A87"></span>
                </div>
                <div style="display: inline-block;margin-right: 20px;">
                    <div id="div-resolve" style="display: none;">
                        <span class="delegate-indicator">转交的任务</span>
                        <button id='btn-resolve' type="button" class="btn btn-default">
                            <span class="fa fa-anchor"></span><span id='text-resolve'>确认</span>
                        </button>
                    </div>
                </div>
                <button id='btn-approved' type="button" class="btn btn-success">
                    <span class="fa fa-check-circle"></span><span id='text-approved'>同意</span>
                </button>
                <button id='btn-rejected' type="button" class="btn btn-warning">
                    <span class="fa fa-times-circle"></span><span id='text-rejected'>拒绝</span>
                </button>
                <div id="custom-btn-container" style="display: inline-block;">
                    <!--custom buttons-->
                </div>
            <#--<button id="btn-end-process" type="button" class="btn btn-danger">-->
            <#--<span class="fa fa-stop-circle"></span><span id='text-end-process'>终止流程</span>-->
            <#--</button>-->
                <button id="btn-delegate" type="button" class="btn btn-primary">
                    <span class="fa fa-arrow-circle-right"></span><span id='text-delegate'>转交</span>
                </button>
            <#--<button id="btn-add-approver" type="button" class="btn btn-info">-->
            <#--<span class="fa fa-user-plus"></span><span id='text-add-approver'>添加审批人</span>-->
            <#--</button>-->
            <#--<button id="btn-jumpto" type="button" class="btn btn-info">-->
            <#--<span class="fa fa-paper-plane"></span><span id='text-jumpto'>跳转至</span>-->
            <#--</button>-->
                <!-- 表示应谨慎采取的动作 -->
                <!-- 表示一个危险的或潜在的负面动作 -->
            </div>
            <form id="task-info-form" style="margin-top:50px;">

                <header class="unselectable">
                    <a role="button" href="javascript:void(0);" onclick="fold(this)"><span class="fa fa-minus-square-o"></span></a>
                    <span>任务信息</span>
                </header>

                <div class="panel-body" style="padding: 20px 0 0 0px;">
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5">
                            <label class="control-label"><span class="fa fa-tag"></span>主题</label>
                            <pre id="td-description" class="td-value"></pre>
                        </div>
                        <div class="col-sm-5">
                            <label class="control-label"><span class="fa fa-user"></span>申请人</label>
                            <label id="td-startUserName" class="td-value  col-sm-12"></label>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5">
                            <label class="control-label"><span class="fa fa-signal"></span>优先级</label>
                            <label id="td-priority" class="td-value col-sm-12"></label>
                        </div>
                        <div class="col-sm-5">
                            <label class="control-label"><span class="fa fa-hourglass-end"></span>限定时间</label>
                            <label id="td-dueTime" class="td-value col-sm-12"></label>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>

                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5">
                            <label class="control-label"><span class="fa fa-user-md"></span>处理人</label>
                            <label class="td-value col-sm-12">
                                <span id="td-assignee"></span>
                                <span id="delegation-mark"></span>
                                <span id="delegation-detail"></span>
                            </label>
                        </div>

                        <div class="col-sm-5">
                            <label class="control-label"><span class="fa fa-calendar-plus-o"></span>申请时间</label>
                            <label id="td-startTime" class="td-value col-sm-12"></label>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>


                </div>

            </form>
        </div>
        <script type="text/javascript">
            var viewModel = kendo.observable({
                model: {},
                queryResource: function (e) {
                    $('#employeeGrid').data('kendoGrid').dataSource.page(1);
                }
            });
        </script>
        <div id="selectEmp" style="display:none">
            <div class="panel">
                <form class="form-horizontal" id="query-form">
                    <div class="panel-body">

                        <div class="col-xs-5">
                            <div class="form-group">
                                <label class="col-xs-3 control-label"><@spring.message "hrorgunit.name"/></label>
                                <div class="col-xs-9">
                                    <input type="text" id="unitName" data-bind="value:model.unitId,text:model.unitName" style="width: 100%"
                                    >
                                    <script>
                                        $("#unitName").kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "LOV_UNIT")}));

                                        kendo.bind($('#unitName'), viewModel);
                                    </script>


                                </div>
                            </div>
                        </div>

                        <div class="col-xs-5">
                            <div class="form-group">
                                <label class="col-xs-3 control-label"><@spring.message "position.name"/></label>
                                <div class="col-xs-9">
                                    <input type="text" id="positionName" data-bind="value:model.positionId,text:model.positionName" style="width: 100%">
                                    <script>
                                        $("#positionName").kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "LOV_POSITIONBYCONDITION")},
                                                {
                                                    query: function (e) {

                                                        var var1 = viewModel.model.unitId;
                                                        if (var1) {
                                                            e.param['unitId'] = var1;
                                                        }
                                                    }
                                                }));

                                        kendo.bind($('#positionName'), viewModel);
                                    </script>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-5">
                            <div class="form-group">
                                <label class="col-xs-3 control-label"><@spring.message "employee.employeeCode"/></label>
                                <div class="col-xs-9">
                                    <input type="text" id="employeeCode" style="width: 100%" data-bind="value:model.employeeCode"
                                           class="k-textbox">
                                    <script>kendo.bind($('#employeeCode'), viewModel);</script>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-5">
                            <div class="form-group">
                                <label class="col-xs-3 control-label"><@spring.message "employee.name"/></label>
                                <div class="col-xs-9">
                                    <input type="text" id="name" style="width: 100%" data-bind="value:model.name"
                                           class="k-textbox">
                                    <script>kendo.bind($('#name'), viewModel);</script>
                                </div>
                            </div>
                        </div>


                        <div class="col-xs-2">
                            <div class="form-group">
                                <div class="col-xs-5">
                                      <span class="btn btn-primary" id="query" data-bind="click:queryResource"
                                            type="submit"><@spring.message "hap.query"/></span>
                                    <script>kendo.bind($('#query'), viewModel);</script>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end panel-->
                </form>
            </div>
            <div style="clear:both;height:300px">
                <div id="employeeGrid"></div>
            </div>
        </div>


        <script>

            function onIncludeFrameLoad() {
                var ifm = document.getElementById("includeFrame");
                var subWeb = document.frames ? document.frames["includeFrame"].document : ifm.contentDocument;
                if (ifm != null && subWeb != null) {
                    ifm.height = subWeb.body.scrollHeight;
                    ifm.width = subWeb.body.scrollWidth;

                }
            }
        </script>


        <div class="panel" style="margin-top: 20px;">
            <form class="form-horizontal">
                <header class="unselectable">
                    <a role="button" href="javascript:void(0);" onclick="fold(this)"><span class="fa fa-minus-square-o"></span></a>
                    <span id="form-page-header">表单信息</span>
                </header>
                <div class="panel-body" style="padding: 20px 0 0 0px;">
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <iframe id="includeFrame" name="includeFrame" onLoad="onIncludeFrameLoad()"></iframe>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel" style="margin-top: 20px">
            <form class="form-horizontal">
                <header class="unselectable">
                    <a href="javascript:void(0);" onclick="fold(this)"><span class="fa fa-minus-square-o"></span></a>
                    <span>审批历史</span>
                </header>
                <div class="panel-body" style="padding: 20px 0 0 0px;">
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <table id="historyTable" style="width:100%;">
                                <thead>
                                <tr>
                                    <td style="width: 15px;"></td>
                                    <td style="width: 100px;">处理人</td>
                                    <td style="width: 160px;">审批环节</td>
                                    <td style="width: 150px;">处理时间</td>
                                    <td style="width: 100px;">操作</td>
                                    <td style="width: 260px;">审批意见</td>
                                </tr>
                                </thead>
                                <tbody id="historyTableBody" style="max-height: 100px;overflow: scroll;"></tbody>
                            </table>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel" style="margin-top: 20px;display: none;">
            <form class="form-horizontal">
                <header class="unselectable">
                    <a href="javascript:void(0);" onclick="fold(this)"><span class="fa fa-minus-square-o"></span></a>
                    <span id="attach-header">附件</span>
                </header>
                <div class="panel-body" style="padding: 20px 0 0 0px;">
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            TODO
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel" style="margin-top: 20px">
            <form class="form-horizontal">
                <header class="unselectable">
                    <span class="fa fa-edit"></span>
                    <span>审批意见</span>
                </header>
                <div class="panel-body" style="padding: 20px 0 0 0px;">
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <span>您还可以输入</span><span id="wordLeft" style="margin:0 5px 0 5px">297</span><span>个字!</span>
                            <textarea id="ta-comment">无意见</textarea>
                            <script>
                                var maxWords = 300;
                                $('#ta-comment').on('input', function (e) {
                                    var left = maxWords - (e.target.value || '').length
                                    $('#wordLeft').text(left);
                                    if (left <= 10) {
                                        $('#wordLeft').addClass('comment-too-long')
                                    } else {
                                        $('#wordLeft').removeClass('comment-too-long')
                                    }
                                });
                            </script>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<div id="processStateWin" style="display: none;">
    <embed id="svg1" type="image/svg+xml"></embed>
</div>


<script type="text/javascript">

    var contextPath_ = '${base.contextPath}';
    var currentTaskId = '${RequestParameters.taskId!0}';
    var currentTaskInfo = {};
    var executionVariables = {};


    function closeCurrentWin() {
        if (window.top.closeTab) {
            reQueryTaskListTab();
            window.top.closeTab(currentTaskId);
            return;
        }
        window.close();
    }

    function reQueryTaskListTab() {
        $.each(window.top.mainTab.contentElements, function (i, r) {
            var iframe = $(r).find('>iframe#WFL_MY_TASK')[0] || $(r).find('>iframe#WFL_TASK')[0]
            if (iframe && iframe.contentWindow && iframe.contentWindow.doQuery) {
                iframe.contentWindow.doQuery();
            }
        });
    }

    $.ajax({
        url: contextPath_ + '/wfl/runtime/tasks/' + currentTaskId + '/details',
        success: function (result) {
            if (result.success === false) {
                kendo.ui.showErrorDialog({
                    title: $l('hap.error'),
                    message: result.message
                }).done(function () {
                    closeCurrentWin();
                });
                return;
            }
            result.createTime = Hap.formatDateTime(result.createTime)
            result.dueTime = Hap.formatDateTime(result.dueTime) || '无'
            currentTaskInfo = result;
            $.each(currentTaskInfo.executionVariables || [], function (i, r) {
                executionVariables[r.name] = r.value;
            });

            updateTitleText();
            updateApproveButton();


            $("#td-description").text(result.description || '');
            $('#td-startUserName').text(result.processInstance.startUserName || '');
            $("#td-priority").text(readablePriority(result.priority));
            $("#td-startTime").text(Hap.formatDateTime(result.processInstance.startTime));
            $("#td-dueTime").text(result.dueTime);

            $("#td-assignee").text(result.assigneeName || '');
            updateAssigneeName();


            //createApproveProgress(result.historicTaskList)
            createHistoricTable(result.historicTaskList);
            if (!result.formKey) {
                $('#form-page-header').text($('#form-page-header').text() + "(无)")
            } else {
                document.getElementById('includeFrame').src = (contextPath_ + '/' + currentTaskInfo.formKey + '?businessKey=' + result.processInstance.businessKey)
            }

        }
    });

    function updateTitleText() {
        $('#bar-process-name').text(currentTaskInfo.processInstance.processDefinitionName)
        $('#bar-task-name').html(Hap.createAnchor(currentTaskInfo.name, viewProcessState))
    }

    function viewProcessState() {
        document.getElementById("svg1").src = "${base.contextPath}/wfl/runtime/process-instances/" + currentTaskInfo.processInstanceId + "/diagram?__r=" + Math.random();

        $('#processStateWin').kendoWindow({
            width: "800px",
            height: "550px",
            title: "流程审批状态图",
            modal: true,
            visible: false,
            actions: [
                "Pin",
                "Maximize",
                "Close"
            ]
        }).data("kendoWindow").center().open().pin();

    }

    function updateApproveButton() {
        if (currentTaskInfo.delegationState == 'pending') {
            $('#div-resolve').show();
            $('#btn-approved').attr({"disabled": "disabled"});
            $('#btn-rejected').attr({"disabled": "disabled"});
        }
        $.each(currentTaskInfo.formData.formProperties, function (i, r) {
            if (r.id == 'approveResult' && r.type == 'enum') {
                var findApproved = false, findReject = false;
                $.each(r.enumValues, function (ii, rr) {
                    if (rr.id == 'APPROVED' && rr.name) {
                        findApproved = true;
                        $('#text-approved').text($l(rr.name))
                    } else if (rr.id == 'REJECTED' && rr.name) {
                        findReject = true;
                        $('#text-rejected').text($l(rr.name))
                    } else {
                        // custom button
                        var cb0 = $("<button/>").attr({
                            'id': 'btn-custom-' + rr.id,
                            'type': "button",
                            'class': "btn btn-default",
                            'action': rr.id
                        });
                        cb0.text(rr.name);
                        $('#custom-btn-container').append(cb0);
                        cb0.click(function () {
                            customApproveAction(rr.id);
                        });
                    }
                });
                if (!findApproved) {
                    $('#text-approved').remove()
                }
                if (!findReject) {
                    $('#text-rejected').remove()
                }
            }
        })
    }


    function updateAssigneeName() {
        if (currentTaskInfo.delegationState == 'pending') {
            $("#delegation-mark").text("(转交待确认)");
        } else if (currentTaskInfo.delegationState == 'resolved') {
            $("#delegation-mark").text("(已转交)");
        } else {
            $("#delegation-mark").remove()
        }

        if (currentTaskInfo.taskDelegate) {
            $('#delegation-detail').text(currentTaskInfo.taskDelegate.fromUserName)
        }
    }


    function readablePriority(p) {
        p = p || 0;
        if (p < 33)
            return '低';
        if (p < 66)
            return '中';
        return '高'
    }

    function createHistoricTable(result) {
        var tb = $("#historyTableBody");
        result = result || [];
        $.each(result, function (i, r) {
            var tr = WFL.ce('tr', tb);
            WFL.ce('td', tr, {'class': 'his-line-number'}).text(i + 1);
            WFL.ce('td', tr).text(r.assigneeName || r.assignee || '');
            WFL.ce('td', tr).text(r.name);
            WFL.ce('td', tr).text(Hap.formatDateTime(r.endTime));
            var apprvText = ''
            if (r.action == 'APPROVED')
                apprvText = "<span class='action_ok'>同意</span>";
            else if (r.action == 'REJECTED')
                apprvText = "<span class='action_dangerous'>拒绝</span>";
            else apprvText = r.action || ''
            WFL.ce('td', tr).html(apprvText);
            WFL.ce('td', tr).text(r.comment || '');
        });
    }

    //
    //    function createApproveProgress(result) {
    //        var prog = document.getElementById('approve-progress');
    //        createDot(prog, {
    //            name: '开始',
    //            startTime: currentTaskInfo.processInstance.startTime,
    //            assignee: currentTaskInfo.processInstance.startUserId,
    //            assigneeName: currentTaskInfo.processInstance.startUserName
    //
    //        })
    //        $.each(result, function (i, r) {
    //            createDot(prog, r)
    //        });
    //        var current = ce('div', prog, {'class': 'not_complete'});
    //        ce('div', current, {'class': 'dot-name'}).innerText = currentTaskInfo.name;
    //        ce('div', current, {'class': 'dot-time'}).innerText = Hap.formatDateTime(currentTaskInfo.createTime);
    //        ce('div', current, {'class': 'dot-assign'}).innerText = currentTaskInfo.assigneeName || currentTaskInfo.assignee;
    //    }
    //
    //    function createDot(p, r) {
    //        var his = ce('div', p, {'class': 'complete'});
    //        ce('div', his, {'class': 'dot-name'}).innerText = r.name;
    //        ce('div', his, {'class': 'dot-time'}).innerText = Hap.formatDateTime(r.endTime || r.startTime);
    //        ce('div', his, {'class': 'dot-assign'}).innerText = r.assigneeName || r.assignee;
    //    }

    $(document)
            .ready(
                    function () {


                    });


    function fold(ele, id) {
        var sp = $(ele).find('span');
        var target = $(ele).parents('header').next();
        if (sp.hasClass("fa-minus-square-o")) {
            target.slideUp(200);
            sp.removeClass('fa-minus-square-o');
            sp.addClass("fa-plus-square-o")
        } else if (sp.hasClass("fa-plus-square-o")) {
            target.slideDown(200);
            sp.removeClass("fa-plus-square-o")
            sp.addClass('fa-minus-square-o');
        }
    }

    $('#btn-resolve').click(function () {
        kendo.ui.showConfirmDialog({
            title: $l('hap.confirm'),
            message: '确认这个转交的任务？'
        }).done(function (e) {
            if (e.button == 'OK') {
                taskAction({
                    action: 'resolve',
                    callback: function () {
                        currentTaskInfo.delegationState = 'resolved';
                        updateAssigneeName();
                        $('#div-resolve').remove();
                        $('#btn-approved').attr({"disabled": null})
                        $('#btn-rejected').attr({"disabled": null})
                    }
                });
            }
        })
    });


    $('#btn-approved').click(function () {
        kendo.ui.showConfirmDialog({
            title: $l('hap.confirm'),
            message: $l('hap.confirm') + '<span class="action_ok">' + $('#text-approved').text() + '</span>？'
        }).done(function (e) {
            if (e.button == 'OK') {
                taskAction({approveResult: 'APPROVED'});
            }
        })
    });

    $('#btn-rejected').click(function () {
        kendo.ui.showConfirmDialog({
            title: $l('hap.confirm'),
            message: $l('hap.confirm') + '<span class="action_dangerous">' + $('#text-rejected').text() + '</span>？'
        }).done(function (e) {
            if (e.button == 'OK') {
                taskAction({approveResult: 'REJECTED'});
            }
        })
    });

    function customApproveAction(actionId) {
        var cb0 = $('#btn-custom-' + actionId);
        kendo.ui.showConfirmDialog({
            title: $l('hap.confirm'),
            message: $l('hap.confirm') + '<span class="action_custom">' + cb0.text() + '</span>？'
        }).done(function (e) {
            if (e.button == 'OK') {
                taskAction({approveResult: actionId});
            }
        })
    }


    $('#query-form input').keydown(function (e) {
        if (e.keyCode == 13) {
            e.target.blur();
            viewModel.queryResource(e);
        }
    });

    $('#employeeGrid').dblclick(function (e) {
        selectDelegateEmployee();
    });

    function selectDelegateEmployee() {
        var row = employeeGrid.select();
        var data = employeeGrid.dataItem(row);
        //设置父级grid的数据
        closeWin();

        var targetUser = data.employeeCode
        if (!targetUser)
            return;

        taskAction({action: 'delegate', targetUser: targetUser});

    }

    function closeWin() {
        //关闭该window
        $("#selectEmp").data("kendoWindow").close();
    }
    var dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: "${base.contextPath}/hr/employee/query",
                type: "POST",
                dataType: "json"
            },
            parameterMap: function (options) {
                return Hap.prepareQueryParameter(viewModel.model.toJSON(), options);
            }
        },
        batch: true,
        serverPaging: true,
        pageSize: 10,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "employeeId",
                fields: {
                    employeeCode: {type: "string"},
                    name: {type: "string"},
                    unitName: {type: "string"},
                    positionName: {type: "string"}
                }
            }
        }

    });

    var employeeGrid = $("#employeeGrid").kendoGrid({
        dataSource: dataSource,
        height: '100%',
        navigatable: true,
        resizable: false,
        scrollable: true,
        editable: false,
        selectable: 'row',
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        toolbar: [
            {
                template: '<span class="btn btn-success" onclick="selectDelegateEmployee()"><@spring.message "hap.ok"/></span>'
            }, {
                template: '<span class="btn btn-default" onclick="closeWin()"><@spring.message "hap.cancel"/></span>'
            }
        ],
        columns: [
            {
                field: "employeeCode",
                title: '<@spring.message "employee.employeeCode"/>',
                width: 120
            }, {
                field: "name",
                title: '<@spring.message "employee.name"/>',
                width: 120
            },
            {
                field: "unitName",
                title: '<@spring.message "hrorgunit.name"/>',
                width: 120
            }, {
                field: "positionName",
                title: '<@spring.message "position.name"/>',
                width: 120
            }
        ],
        dataBound: function (e) {
            $("#employeeGrid").data('kendoGrid').resize();
        }
    }).data("kendoGrid");


    $('#btn-delegate').click(function () {
        //弹出选择员工页面
        var selectEmp = $("#selectEmp").kendoWindow({
            actions: ["Close"],
            width: 700,
            height: 450,
            title: '选择员工',
            modal: true,
            resizable: false,
            open: function () {
                $('#employeeGrid').data('kendoGrid').dataSource.page(1);
            }
        }).data("kendoWindow");
        selectEmp.center().open();

    });

    function taskAction(p) {
        p = p || {};
        p.action = p.action || 'complete'
        var variables = [];
        if (p.action != 'delegate') {
            var formVars = {};
            if (includeFrame.getFormProperties) {
                formVars = includeFrame.getFormProperties() || {};
            }

            //TODO 必输内容校验；仅传递定义过的属性
            formVars.approveResult = p.approveResult;
            formVars.comment = $("#ta-comment").val();
            $.each(formVars, function (k, v) {
                variables.push({name: k, value: v});
            })
        }
        var param = {
            assignee: p.targetUser || null,
            action: p.action,
            comment: $("#ta-comment").val(),
            variables: variables
        };
        $.ajax({
            url: contextPath_ + '/wfl/runtime/tasks/' + currentTaskId,
            type: 'POST',
            contentType: 'application/json',
            data: kendo.stringify(param),
            success: function (args) {
                if (args.success === false) {
                    kendo.ui.showErrorDialog({
                        title: $l('hap.error'),
                        message: args.message
                    });
                } else {
                    if (p.callback) {
                        p.callback(args);
                    } else {
                        kendo.ui.showInfoDialog({
                            title: $l('hap.tip.info'),
                            message: '操作完成!'
                        }).done(function () {
                            closeCurrentWin()
                        });
                    }
                }
            }, error: function (args) {
                kendo.ui.showInfoDialog({
                    title: $l('hap.error'),
                    message: kendo.stringify(args)
                });
            }
        })

    }


</script>
<style type="text/css">

    .priority-median {
        background-color: yellowgreen;
    }

    .priority-high {
        background-color: orange;
    }

</style>
</body>
</html>
