<#include "../include/header.html">
<body>
<style>
    span[class='k-window-title'] {
        user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
    }
    .approve_flag{
        width: 16px;
        height:16px;
        background: url('${base.contextPath}/resources/images/svg/approve.svg') no-repeat center;;
    }
</style>
<script type="text/javascript">

    function doQuery() {
        $('#taskListGrid').data('kendoGrid').dataSource.page(1);
    }

    viewModel = kendo.observable({
        model: {},
        queryGrid: doQuery,
        resetForm: function (e) {
            var formData = viewModel.model.toJSON();
            for (var k in formData) {
                viewModel.model.set(k, null);
            }
        }
    });


</script>
<div id="content-container">
    <div id="page-content">
        <div class="panel" style="padding: 0px;border:none;box-shadow: none;">
            <form class="form-horizontal" id="myForm">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">处理人</label>
                                <div class="col-sm-9">
                                    <input type="text" style="width: 100%"
                                           data-bind="value:model.candidateOrAssigned" class="k-textbox">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">候选处理人</label>
                                <div class="col-sm-9">
                                    <input style="width: 100%"
                                           data-bind="value:model.candidateUser" class="k-textbox">
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-3  control-label">候选处理组</label>
                                <div class="col-sm-9">
                                    <input type="text" style="width: 100%"
                                           data-bind="value:model.candidateGroup" class="k-textbox">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">流程名称</label>
                                <div class="col-sm-9">
                                    <input type="text" style="width: 100%"
                                           data-bind="value:model.processDefinitionNameLike" class="k-textbox">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">审批环节</label>
                                <div class="col-sm-9">
                                    <input type="text" style="width: 100%"
                                           data-bind="value:model.nameLike" class="k-textbox">
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="row ">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">创建日期从</label>
                                <div class="col-sm-9">
                                    <input style="width: 100%" data-role="datetimepicker"
                                           data-bind="value:model.createdAfter" class="k-datetimepicker">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">

                            <div class="form-group">
                                <label class="col-sm-3  control-label">创建日期至</label>
                                <div class="col-sm-9">
                                    <input type="text" style="width: 100%" data-role="datetimepicker"
                                           data-bind="value:model.createdBefore" class="k-datetimepicker">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </form>
            <div class="row">
                <div class="col-sm-4">
                    <span class="btn btn-primary" data-bind="click:queryGrid"
                          type="submit"><@spring.message "hap.query"/></span>
                    <span class="btn btn-default" type="button" data-bind="click:resetForm">
                    <@spring.message "hap.reset"/></span>
                </div>
                <div class="col-sm-8" style="margin-bottom: 10px;">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-2">
                        <label class="control-label">优先级</label>
                    </div>
                    <div class="col-sm-2">
                        <div class='priority-high'>高</div>
                    </div>
                    <div class="col-sm-2">
                        <div class='priority-median'>中</div>
                    </div>
                    <div class="col-sm-2">
                        <div class='priority-low'>低</div>
                    </div>
                </div>
            </div>
            <div style="clear:both">
                <div id="taskListGrid" class="table"></div>
            </div>

        </div>
    </div>

    <div id="taskDetailWin"></div>
    <div id="runtimeWin"></div>

    <script type="text/javascript">

        var prioritySource = new kendo.data.DataSource({
            data: [
                {priority: "高", maximumPriority: 100},
                {priority: "中", maximumPriority: 66},
                {priority: "低", maximumPriority: 33}
            ]
        });


        function openDetailWin(taskId, uid) {
            var rec = dataSource.getByUid(uid);
            if (window.top.openTab) {
                window.top.openTab(taskId, '待办审批', '${base.contextPath}/activiti/task_detail.html?taskId=' + taskId, true);
            } else {
                window.open('${base.contextPath}/activiti/task_detail.html?taskId=' + taskId);
            }
        }

        function openRuntimeWin(uid) {
            var rec = dataSource.getByUid(uid);
            $("#runtimeWin").kendoWindow({
                actions: ["Close"],
                title: "流程运行状态",
                draggable: true,
                height: "500px",
                width: "800px",
                content: "${base.contextPath}/activiti/process_instance.html?processInstanceId=" + rec.processInstanceId,
                iframe: true
                // modal: true
            });
            var win = $("#runtimeWin").data("kendoWindow");
            win.center().open();
        }


        viewModel = kendo.observable({
            model: {},
            prioritySource2: prioritySource,
            queryGrid: function (e) {
                $('#taskListGrid').data('kendoGrid').dataSource.page(1);
            },
            resetForm: function (e) {
                var formData = viewModel.model.toJSON();
                for (var k in formData) {
                    viewModel.model.set(k, null);
                }
            }
        });
        kendo.bind($('#page-content'), viewModel);
        var crudServiceBaseUrl = "${base.contextPath}/wfl/taskList";
        dataSource = new kendo.data.DataSource(
                {
                    transport: {
                        read: {
                            url: '${base.contextPath}/wfl/query/tasks/admin',
                            type: "POST",
                            contentType: "application/json",
                            dataType: "json"
                        },
                        destroy: {
                            url: crudServiceBaseUrl + "/remove",
                            contentType: "application/json",
                            type: "POST"
                        },
                        parameterMap: function (options, type) {
                            if (type === "read") {
                                var map = viewModel.model.toJSON();
                                map.start = (options.page - 1) * options.pageSize;
                                map.size = options.pageSize;
                                for (var k in map) {
                                    if (map[k] === '' || map[k] === null || map[k] === undefined)
                                        delete map[k]
                                }
                                return kendo.stringify(map);
                            }
                        }
                    },
                    batch: true,
                    serverPaging: true,
                    pageSize: 10,
                    schema: {
                        data: 'data',
                        total: 'total',
                        model: {
                            id: "id",
                            fields: {}
                        }
                    }
                });

        var grid = $("#taskListGrid").kendoGrid(
                {
                    dataSource: dataSource,
                    navigatable: false,
                    height: '100%',
                    resizable: true,
                    scrollable: true,
                    selectable: "multiple, rowbox",
                    rownumber: true,
                    pageable: {
                        pageSizes: [5, 10, 20, 50],
                        refresh: true,
                        buttonCount: 5
                    },
                    columns: [
                        {
                            field: "processName",
                            title: '流程名称',
                            width: 150
                        },
                        {
                            field: "name",
                            title: '审批环节',
                            width: 150,
                            template: function (dataItem) {
                                return Hap.createAnchor(dataItem.name + "<span class='fa fa-eye' style='float:right'/>", openRuntimeWin, dataItem.uid);
                            }
                        },
                        {
                            field: "startUserName",
                            title: '申请人',
                            width: 100,
                            template: function (dataItem) {
                                return dataItem.startUserName || dataItem.startUserId || ''
                            }
                        },
                        {
                            field: "id",
                            title: '办理',
                            width: 120,
                            template: function (dataItem) {
                                return Hap.createAnchor("办理<span class='approve_flag' style='float:right'/>", openDetailWin, dataItem.id, dataItem.uid);
                            }
                        },
                        {
                            field: "assigneeName",
                            title: '处理人',
                            width: 120,
                            template: function (dataItem) {
                                var display = dataItem.assigneeName || dataItem.assignee || ''
                                if (dataItem.delegationState == "pending") {
                                    return display + '<span class="task-pending">(转交中)</span>';
                                } else if (dataItem.delegationState == "resolved") {
                                    return display + '<span class="task-resolved">(已转交)</span>';
                                }
                                return display
                            }
                        },
                        {
                            field: 'createTime',
                            title: '创建时间',
                            width: 140,
                            template: function (dataItem) {
                                return Hap.formatDateTime(dataItem.createTime)
                            }
                        },
                        {
                            field: 'dueTime',
                            title: '限定时间',
                            width: 140,
                            template: function (dataItem) {
                                return Hap.formatDateTime(dataItem.dueTime)
                            }
                        },
                        {
                            field: 'priority',
                            title: '优先级',
                            width: 100,
                            template: function (dataItem) {
                                if (dataItem.priority < 33)
                                    return "<div class='priority-low'>低</div>";
                                if (dataItem.priority < 66)
                                    return "<div class='priority-median'>中</div>";
                                return "<div class='priority-high'>高</div>";
                            }
                        }],
                    editable: false
                }).data("kendoGrid");

        Hap.autoResizeGrid("#taskListGrid");

    </script>
    <style type="text/css">

        .task-resolved {
            color: blue;
        }

        .task-pending {
            color: lightblue;
        }

        .priority-low {
            width: 80%;
            height: 20px;
            background: #00AA00;
            border-radius: 5px 5px 5px 5px;
            box-shadow: 0 0 3px #947575;
            text-align: center;
            line-height: 20px;
            color: white;
        }

        .priority-median {
            width: 80%;
            height: 20px;
            background: #FFA500;
            border-radius: 5px 5px 5px 5px;
            box-shadow: 0 0 3px #947575;
            text-align: center;
            line-height: 20px;
            color: white;
        }

        .priority-high {
            width: 80%;
            height: 20px;
            background: #DD0000;
            border-radius: 5px 5px 5px 5px;
            box-shadow: 0 0 3px #947575;
            text-align: center;
            line-height: 20px;
            color: white;
        }
    </style>
</body>
</html>
