<#-- 
* description: Simple Job的kendoui实现
* version: 1.3
* author:shuo.han@hand-china.com
-->
<#include "../include/header.html">

<style type="text/css">
    .required {
        font-weight: bold;
    }

    input[required]{
        background-color: #fff8c5 !important;
    }

    .accept, .status {
        padding-left: 90px;
    }

    .valid {
        color: green;
    }

    .invalid {
        color: red;
    }

    span.k-tooltip {
        margin-left: 6px;
    }
</style>

<body style="padding: 5px">

<div id="messageWindows"></div>

<div id="main-content">
    <ul class="nav nav-tabs" id="mytab">
        <li class="active"><a href="#main-info" data-toggle="tab"><@spring.message "job.infodetail.jobinfo"/></a></li>
        <li class=""><a href="#notify-info" data-toggle="tab"><@spring.message "job.infodetail.notification"/></a></li>
    </ul>
    <div id="tabContent" class="tab-content">
        <div class="tab-pane fade in active" style="margin-top: 20px;" id="main-info">
            <div class="panel-body form-horizontal">
                <!-- 任务名称和任务组 -->
                <div class="form-group required-input">
                    <label class="col-sm-2 control-label">
                    <@spring.message "jobdetaildto.jobname"/>
                    </label>
                    <div class="col-sm-4">
                        <input style="width:100%" name="jobName" required type="text" data-bind="value:model.jobName" class="k-textbox">
                    </div>
                    <label class="col-sm-2 control-label">
                    <@spring.message "jobdetaildto.jobgroup"/>
                    </label>
                    <div class="col-sm-4">
                        <input style="width:100%" name="jobGroup" id="jobGroup" required type="text" data-bind="value:model.jobGroup" class="k-textbox">
                    </div>
                </div>
                <!-- 任务名称和任务组结束 -->
                <!-- 任务描述 -->
                <div class="form-group required-input">
                    <label class="col-sm-2 control-label">
                    <@spring.message "jobdetaildto.description"/>
                    </label>
                    <div class="col-sm-10">
                        <input style="width:100%" type="text" class="k-textbox" data-bind="value:model.description">
                    </div>
                </div>
                <!-- 任务描述结束 -->
                <!-- 任务类名 -->
                <div class="form-group required-input">
                    <label class="col-xs-2 col-sm-2 col-md-2 control-label">
                    <@spring.message "jobdetaildto.jobclassname"/>
                    </label>
                    <div class="col-xs-10 col-sm-10 col-md-10">
                        <input name="jobClassName" style="width:100%" required type="text" data-bind="value:model.jobClassName" class="k-textbox"/>
                    </div>
                </div>
                <!-- 任务类名结束 -->
                <!-- startTime endTime -->
                <div class="form-group">
                    <label class="col-xs-2 col-sm-2 control-label">
                    <@spring.message "triggerdto.starttime"/>
                    </label>
                    <div class="col-xs-4 col-sm-4">
                        <input style="width:100%" id="startTime" data-bind="value:model.start">
                    </div>
                    <label class="col-xs-2 col-sm-2 control-label">
                    <@spring.message "triggerdto.endtime"/>
                    </label>
                    <div class="col-xs-4 col-sm-4">
                        <input style="width:100%" id="endTime" data-bind="value:model.end">
                    </div>
                </div>
                <!-- startTime endTime结束 -->
                <!-- repeatinterval repeatcount -->
                <div class="form-group required-input">
                    <label class="col-sm-2 control-label">
                    <@spring.message "simpletriggerdto.repeatinterval"/>
                    </label>
                    <div class="col-sm-4">
                        <input name="repeatinterval" id="repeatinterval" required style="width:100%" data-bind="value:model.repeatinterval">
                    </div>
                    <label class="col-sm-2 control-label">
                    <@spring.message "simpletriggerdto.repeatcount"/>
                    </label>
                    <div class="col-sm-4">
                        <input style="width:100%" type="text" data-bind="value:model.repeatCount" class="k-textbox">
                    </div>
                </div>
                <!-- 上层部分结束 -->
                <!-- 表单开始 -->
                <div id="userAttribute" style="clear: both"></div>
            </div>
        </div>
        <div class="tab-pane fade" style="margin-top: 20px;" id="notify-info">
            <div class="panel-body form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                    <@spring.message "job.infodetail.enable_notification"/>
                    </label>
                    <div class="col-sm-10" style="line-height:27px;">
                        <input id="job_internal_notification" type="checkbox" data-field="job_internal_notification" data-bind="checked:model.job_internal_notification"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                    <@spring.message "job.infodetail.email_address"/>
                    </label>
                    <div class="col-sm-8">
                        <input id="job_internal_emailAddress" type="text" data-bind="value:model.job_internal_emailAddress" class="k-textbox" style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="text-align:center;margin-top: 5px">
    <span id="save_data" class="btn btn-success"><@spring.message "hap.save"/></span>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        var tempWindowsStatus = 0;

        //创建一个 viewModel 模型
        viewModel = kendo.observable({
            model: {
                triggerType: 'SIMPLE',
                jobGroup: 'DEFAULT',
                repeatinterval: 60,
                repeatCount: '0'
            }
        });
        //绑定在 tabstrip 容器上面
        kendo.bind($('#main-content'), viewModel);
        //创建一个数据源
        var dataSource = new kendo.data.DataSource({
            transport: {
                //只是创建流程，不需要新建
                read: {},
                parameterMap: function (options, type) {
                    //对status（数据状态）进行判断
                    if (type !== 'read') {
                        return kendo.stringify(Hap.prepareSubmitParameter(options, type));
                    }
                }
            },
            batch: true,
            schema: {
                data: 'rows',
                total: 'total',
                model: {}
            }
        });
        //第一个远程数据源配置结束

        //定义一个script，为页面添加kendoui按钮
        $("#userAttribute").kendoGrid({
            dataSource: dataSource,
            height: 156,
            navigatable: false,
            resizable: true,
            scrollable: true,
            toolbar: [
                {
                    name: "create",
                    template: '<span class="btn btn-primary k-grid-add"><@spring.message "hap.new"/></span>'
                },
                {
                    name: "cancel",
                    template: '<span class="btn btn-default k-grid-cancel-changes"><@spring.message "hap.cancel"/></span>'
                }
            ],
            columns: [
                //表格的列
                {
                    field: "name",
                    title: '<@spring.message "job.attributename"/>',
                    width: 230
                },
                {
                    field: "value",
                    title: '<@spring.message "job.attributevalue"/>',
                    width: 230
                },
                //删除的button按钮
                {
                    title: '操作',
                    command: ["destroy"],
                    width: 100
                }
            ],
            editable: true
        });

        //设置date弹出
        $("#startTime").kendoDateTimePicker({
            format: "yyyy-MM-dd hh:mm:ss",
            change: function () {
                var startTime = $("#startTime").val();
                var endFinal = $("#endTime").data("kendoDateTimePicker");
                endFinal.min(startTime);
            }
        });

        $("#endTime").kendoDateTimePicker({
            format: "yyyy-MM-dd hh:mm:ss",
            change: function () {
                var endTime = $("#endTime").val();
                var startFinal = $("#startTime").data("kendoDateTimePicker");
                startFinal.max(endTime);
            }
        });

        //repeatinterval 数字框
        $("#repeatinterval").kendoNumericTextBox({
            value: 60
        });
        //表单显示项

        //设置提示默认值
        function getErrorTemplate() {
            return errorTemplate = '<div class="k-widget k-tooltip k-tooltip-validation"' +
                    'style="margin:0.5em"><span class="k-icon k-warning"></span>' +
                    '该信息为必输信息' + '<div class="k-callout k-callout-n"></div></div>';
        }

        $("#addjobtitle").kendoValidator({
            errorTemplate: getErrorTemplate()
        }).data("kendoValidator");

        //数据验证提示结束

        //定义显示后台提示的弹出框
        $("#messageWindows").kendoWindow({
            width: 400,
            height: 150,
            //modal:true,
            title: '<@spring.message "hap.tip.info"/>',
            //初始化时设置为隐藏状态
            visible: false,
            close: function (e) {
                $("#messageWindows").empty();
                //状态赋值为0
                tempWindowsStatus = 0;
            }
        }).data("kendoWindow");

        //提交数据按钮监听
        $("#save_data").click(function () {

            //获取数据源中的所有数据
            var informations = viewModel.model;
            //把日期格式转换为long行的值再传递给后台
            var start = viewModel.model.start, end = viewModel.model.end;
            informations.startTime = start ? start.getTime() : null;
            informations.endTime = end ? end.getTime() : null;
            //var lists;
            var jobDatas = [{
                name: 'job_internal_notification',
                value: $("#job_internal_notification").is(':checked')
            }, {
                name: 'job_internal_emailAddress',
                value: $("#job_internal_emailAddress").val()
            }]
            var tableDatas = dataSource.data();
            for (var i = 0; i < tableDatas.length; i++) {
                jobDatas.push({
                    name: tableDatas[i].name,
                    value: tableDatas[i].value,
                    __status: 'add'
                });
            }
            informations.jobDatas = jobDatas;
            $.ajax({
                url: '${base.contextPath}/job/create',
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                data: kendo.stringify(informations),
                success: function (json) {
                    if (json.success) {
                        kendo.ui.showInfoDialog({
                            title: $l('hap.tip.info'),
                            message: $l('hap.success')
                        }).done(function(){
                            window.parent.$("#dialog").data("kendoWindow").close();
                        });
                    } else {
                        kendo.ui.showErrorDialog({
                            title: $l('hap.error'),
                            message: json.message
                        });
                    }
                }
            });

            viewModel.model.set("repeatinterval", "60");

        });
    });
</script>

</body>