<#--
 * description: 附件上传 kendoui实现
 * version: 1.0
 * author: shuo.han@hand-china.com
-->

<#include "../include/header.html">

<script>
	//定义一个viewModel
	var viewModel = kendo.observable({
        model:{
        	sourceKey : 1 //测试id
        }
    });
</script>

<body style="padding: 10px;">

	<form id="attForm" style="border: none">
		<input type="text" data-bind="value:model.sourceType" id="sourceType">
		<input style="border:none" type="file" name="files" id="files"/>
		<script>
        	$("#sourceType").kendoLov(${lovProvider.getLov(base.contextPath, base.locale, "ATTACH_SOURCE_TYPE")})
        	kendo.bind($('#sourceType'),viewModel);
        </script>
	</form>
	<div>
		<h4 style="margin-top: 6px;margin-left: 6px">附件列表</h4>
		<div id="file_view_list"></div>
	</div>

	<script type="text/javascript">

		//数据源
		var dataSource = new kendo.data.DataSource({
            batch       : true,
            serverPaging: true,
            pageSize    : 10,
            schema      : {
                data  : 'rows',
                total : 'total',
                model : {
                    id    : "fileId"
                }
            }
        });
        //定义一个Grid
        $("#file_view_list").kendoGrid({
	        dataSource: dataSource,
	        navigatable: true,
	        //width:500,
	        resizable : true,
	        scrollable: true,
	        pageable  : {
	            pageSizes  : [5, 10, 20, 50],
	            refresh    : true,
	            buttonCount: 5
	        },
	        columns   : [
	        	{
	            	field    : "token", 
	            	hidden   : true, 
	            },
	            {
	            	field    : "fileId", 
	            	title    : '上传编号'
	            },
	            {
	            	field    : "fileName", 
	            	title    : '附件名字'
	            },
	            {
	            	field    : "fileSize", 
	            	title    : '附件大小'
	            },
	            {
	            	field    : "fileType", 
	            	title    : '附件类型'
	            },
	            {
	            	field    : "uploadDate", 
	            	title    : '上传日期'
	            },
	            {
	            	title     : '操作',
	            	attributes: {style: "text-align:center;padding:0px"}, 
	            	command   : [{
		                text  : '<@spring.message "hap.delete"/>',
		                click : function (e) {
		                    e.preventDefault();
		                    var data = this.dataItem($(e.target).closest("tr"));
		                    this.dataSource.remove(data)
		                }
	          		}],
	            	width     : 70
	            }
	        ],
	        editable  : false
	    });

		//定义文件上传
		$("#files").kendoUpload({
	        async        : {
	            saveUrl: "${base.contextPath}/sys/attach/upload",
	            removeUrl: "${base.contextPath}/sys/attach/remove"
	        },
	        showFileList : true,
	        upload       : onUpload,
	        success      : onSuccess,
	        remove       : onRemove
	    });

		function onRemove(e){
			var data = dataSource.data();
			var files = e.files;
			$.each(files,function(){
				var fileName = this.name;
				for(var i = 0;i < data.length; i ++){
					if(data[i].fileName == fileName){
						e.data = {
							fileId : data[i].fileId,
							token : data[i].token
						}
					}
				} 
			})		
		}
		var countNumber = 1;
	    //回调函数
	    function onSuccess(e) {
	    	//状态为成功
	    	if(e.response.message == "UPLOAD_SUCCESS"){
	    		//写数据源
	    		dataSource.add({
	    			token   : e.response.file._token,
		        	fileId   : e.response.file.fileId,
		        	fileName : e.response.file.fileName,
		        	fileSize : e.response.file.fileSize,
		        	fileType : e.response.file.fileType,
		        	uploadDate : e.response.file.uploadDate
		        });
	    	}else if(e.response.message == "success"){
	    		//删除成功
	    		var data = dataSource.data();
				var files = e.files;
				$.each(files,function(){
					var fileName = this.name;
					for(var i = 0;i < data.length; i ++){
						if(data[i].fileName == fileName){
							e.data = {
								fileId : data[i].fileId,
								token : data[i].token
							}
							dataSource.remove(data[i]);
						}
					} 
				})
	    	}
	        kendo.ui.showInfoDialog({
                title    : '提示信息',
                message  : e.response.message
            })
	    }

	    //校验上传文件的格式是否正确
	    function onUpload(e){
	        e.data = {
	    		sourceType : viewModel.model.sourceType,
	    		sourceKey  : viewModel.model.sourceKey
	    	}
	    }

	    $(".k-upload").css("margin-top","3px");
	    $(".k-upload").css("border","none");
	    $(".k-upload").css("background","none");

	</script>

</body>