<#--
* description: 用户首选项
* version: 1.0 
* author:hailin.xu@hand-china.com
* author:njq.niu@hand-china.com
* --> 
<#include "../../include/header.html">
<body>
    <script src="${base.contextPath}/common/code?timeZones=SYS.TIME_ZONE" type="text/javascript"></script>
    <div id="page-content">
        <div class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="panel-title"><@spring.message "hap.preferences"/></span>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><@spring.message "preference.timezone"/></label>
                        <div class="col-sm-4" >
                               <select data-role="dropdownlist" data-value-primitive="true" data-text-field="meaning" style="width:100%" data-value-field="value"
                                    data-bind="source: timeZones, value: data.timeZone,events: {change: onChange}"></select>
                               <small class="help-block"><@spring.message "preference.timezone.description"/></small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><@spring.message "preference.locale"/></label>
                        <div class="col-sm-4" >
                               <select data-role="dropdownlist" style="width:100%" data-bind="value: data.locale, events: {change: onChange}">
                               <#list languages as lang>
                                    <option value="${lang.langCode}">${lang.description}</option>
                               </#list>
                               </select>
                               <small class="help-block"><@spring.message "preference.locale.description"/></small>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><@spring.message "preference.theme"/></label>
                        <div class="col-sm-4" >
                               <select data-role="dropdownlist" style="width:100%">
                                    <option value="bootstrap" selected>bootstrap</option>
                               </select>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-left">
                    <button class="btn btn-success" style="width:100px" data-bind="enabled:enabled,click:savePreference"><@spring.message "hap.save"/></button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function initPreference() {
            $.ajax({
                type: "POST",
                url: "${base.contextPath}/sys/preferences/queryPreferences",
                contentType: "application/json",
                dataType: "json",
                success: function (result) {
                    if (result.success) {
                        var data = viewModel.get('data')
                        $.each(result.rows, function (i, r) {
                            data.set(r.preferences,r.preferencesValue);
                        }); 
                    }
                }
            }); 
        }
		var needReload = false;
        var viewModel = kendo.observable({
            enabled:true,
            data:{
                locale:'${base.getLocale()}'
            },
            onChange : function(){
                needReload = true;
            },
            timeZones: timeZones,
            savePreference: function(){
               var sf = this, preferences = [];
               $.each(viewModel.toJSON().data, function (k, v) {
                   preferences.push({
                        preferences: k,
                        preferencesValue: v
                   });
               }); 
               sf.set('enabled', false)
               $.ajax({
                   type: "POST",
                   url: "${base.contextPath}/sys/preferences/savePreferences",
                   contentType: "application/json",
                   data: kendo.stringify(preferences),
                   dataType: "json",
                   success: function (result) {
                       if (result.success) {
                           kendo.ui.showInfoDialog({
                               message:'<@spring.message "sys.hand.preferences.save.success"/>'
                           }).done(function(e){
                               if(needReload){
                                   top.location.reload();
                               }
                           })
                       }else{
                           kendo.ui.showErrorDialog({
                               message:result.message
                           })
                       }
                  }
             }).complete(function(){
                 sf.set('enabled', true)
             });
			}
       });
       initPreference();
       kendo.bind($('#page-content'), viewModel);
</script>
</body>
</html>
