<#-- 
 * description:接口配置界面
 * version: 1.0 
 * author:xiangyu.qi@hand-china.com
 * -->
<#include "../include/header.html">
<body>
<script type="text/javascript">
    var viewModel = kendo.observable({
        model: {},
        saveFunction: function () {
            $('#grid').data('kendoGrid').saveChanges();
        },
        queryResource: function (e) {
            $('#grid').data('kendoGrid').dataSource.page(1);
        }
    });
</script>
<div id="dialogEdit" style="display: none"></div>
<div id="page-content">
    <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
        <span class="btn btn-primary" style="float:left;margin-right:5px;" onclick="NewLov()"><@spring.message "hap.new"/></span>
        <span class="btn btn-success k-grid-save-changes" style="float:left;margin-right:5px;" data-bind="click:saveFunction"><@spring.message "hap.save"/></span>
        <span onclick="deleteData()" class="btn btn-danger" style="float:left;"><@spring.message "hap.delete"/></span>
    </div>
    <script>kendo.bind($('#toolbar-btn'), viewModel);</script>
    <div class="pull-right" id="query-form" style="padding-bottom:10px;">
        <input data-role="maskedtextbox" placeholder='<@spring.message "lov.code"/>' type="text" style="width: 150px;float:left;margin-right:5px;" data-bind="value:model.code" class="k-textbox">
        <input data-role="maskedtextbox" placeholder='<@spring.message "lov.description"/>' type="text" style="width: 150px;float:left;margin-right:5px;" data-bind="value:model.description"
               class="k-textbox">
        <span class="btn btn-primary" data-bind="click:queryResource" style="width: 80px;float:left;margin-right:5px;" type="submit"><@spring.message "hap.query"/></span>
        <div style="clear:both"></div>
    </div>
    <script>kendo.bind($('#query-form'), viewModel);</script>
    <div style="clear: both;">
        <div id="grid"></div>
    </div>
</div>

<script type="text/javascript">
    
	$('#query-form input').keydown(function (e) {
	    if (e.keyCode == 13) {
	        e.target.blur();
	        viewModel.queryResource(e);
	    }
	});
    NewLov = function () {
        var dialog = $("#dialogEdit").kendoWindow({
            width: 1050,
            height: 550,
            title: 'lov',
            visible: false,
            iframe: true,
            modal: true,
            content: 'sys_lov_edit.html'
        }).data("kendoWindow");
        dialog.maximize();
        dialog.open();
    };
    editLov = function (id) {
        var dialog = $("#dialogEdit").kendoWindow({
            width: 1050,
            height: 550,
            title: 'lov',
            visible: false,
            iframe: true,
            modal: true,
            content: 'sys_lov_edit.html?isedit=1&lovId=' + id
        }).data("kendoWindow");
        dialog.maximize();
        dialog.open();
    };

    var crudServiceBaseUrl = '${base.contextPath}/sys/api',
            dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: crudServiceBaseUrl + "/queryAllHeader",
                        type    : "POST",
                        dataType: "json"
                    },
                    parameterMap: function (options, type) {
                        if (type !== "read" && options.models) {
                            var datas = Hap.prepareSubmitParameter(options, type);
                            return kendo.stringify(datas);
                        } else if (type === "read") {
                            return Hap.prepareQueryParameter(viewModel.model.toJSON(), options);
                        }
                    }
                },
                batch: true,
                serverPaging: true,
                pageSize: 10,
                schema: {
                    data: 'rows',
                    total: 'total',
                    model: {
                        id: "headerId",
                        fields: {
                        	interfaceCode:{type:"string"}

                        }
                    }
                }
            });
    var grid = $("#grid").kendoGrid({
        dataSource: dataSource,
        navigatable: false,
        height: '100%',
        resizable: true,
        scrollable: true,
        selectable : 'multiple, rowbox',
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        columns: [
            {
                field: "operationOption",
                title: '<@spring.message "api.operationOption"/>',
                width: 250

            },
            {
                field: "interfaceCode",
                title: '<@spring.message "api.interfaceCode"/>',
                width: 250

            },
            {
                field: "systemCode",
                title: '<@spring.message "api.systemCode"/>',
                width: 250

            },
            {
                field: "systemName",
                title: '<@spring.message "api.systemName"/>',
                width: 300
            },
            {
                field: "systemType",
                title: '<@spring.message "api.systemType"/>',
                width: 300
            },
            {
                field: "interfaceType",
                title: '<@spring.message "api.interfaceType"/>',
                width: 300
            },
            {
                field: "systemUrl",
                title: '<@spring.message "api.systemUrl"/>',
                width: 300
            },
            {
                field: "requestMethod",
                title: '<@spring.message "api.requestMode"/>',
                width: 300
            },
            {
                field: "requestMode",
                title: '<@spring.message "api.requestMode"/>',
                width: 300
            },
            {
                field: "isEnabled",
                title: '<@spring.message "api.isEnabled"/>',
                width: 300
            },
            {
                field: "isEnabled",
                title: '<@spring.message "api.isEnabled"/>',
                width: 300
            },
            {
                field: "is",
                title: '<@spring.message "api.isEnabled"/>',
                width: 300
            }
            /* {
                field: "Preview",
                width: 120,
                attributes: {style: "text-align:center"},
                template: function (rowdata) {
                    return '<a target="_blank" href="sys_lov_preview.html?code=' + rowdata.code + '">Preview</a>'
                }
            } */
        ],
        editable: true
    }).data("kendoGrid");


    function deleteData() {
    	Hap.deleteGridSelection({
	     	grid:$('#grid')
	    });
    }
    //自动根据当前屏幕大小调整表格
    Hap.autoResizeGrid("#grid");
    $("#grid thead>tr th").css("text-align","center");

</script>

</body>
</html>
