<#-- 
 * description: 修改消息模板页面
 * version: 1.0 
 * 
-->
<#include "../include/header.html">
<body style="padding: 15px">
	<script src="${base.contextPath}/common/code?priorityLevelData=SYS.PRIORITY_LEVEL" type="text/javascript"></script>
	<div id="content-container">
    <div id="page-content" >
            <form class="form-horizontal" id = "editForm" enctype="application/json;charset=UTF-8">
                <input name="templateId" type="hidden">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><@spring.message "messagetemplate.templatecode"/></label>
                                <div class="col-sm-8">
                                    <input name = "templateCode" type="text" required  autocomplete="off"
                                        data-bind="value:model.templateCode" style="width:100%" class="k-textbox">
                                </div>
                                <!-- 错误提示标签位置 -->
                                <div class="col-sm-2" >  
                                     <span data-for="templateCode" class=".k-invalid-msg"></span>
                                </div>
                            </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><@spring.message "messagetemplate.prioritylevel"/></label>
                                <div class="col-sm-8" >
                                   <input id="priorityLevel" name="priorityLevel" required 
                                          data-bind="value: model.priorityLevel" style="width: 100%;"> 
                                </div>
                                <div class="col-sm-2">  
                                   <span data-for="priorityLevel" class=".k-invalid-msg"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><@spring.message "messagetemplate.name"/></label>
                                <div class="col-sm-8">
                                    <input type="text" name = "description" required  autocomplete="off"
                                          data-bind="value:model.description" style="width:100%" class="k-textbox">
                                </div>
                                <div class="col-sm-2">   
                                    <span data-for="description" class=".k-invalid-msg"></span>
                                </div>
                            </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><@spring.message "messagetemplate.subject"/></label>
                                <div class="col-sm-8">
                                    <input type="text" name = "subject" required   autocomplete="off"
                                           data-bind="value:model.subject" style="width:100%" class="k-textbox">
                                </div>
                                <div class="col-sm-2">   
                                    <span data-for="subject" class=".k-invalid-msg"></span>
                                </div>
                            </div>
                        </div>
                     </div>
                      <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><@spring.message "messagetemplate.content"/></label>
                                <div class="col-sm-8">
                                     <textarea id="editor" name ="content" required
                                               data-bind="value:model.content"  rows="10" cols="30" style="width:100%;height:200px"></textarea>
                                </div>
                                <div class="col-sm-2">   
                                    <span data-for="content" class=".k-invalid-msg"></span>
                                </div>
                            </div>
                        </div>
                </div>
                <span class="btn btn-success" style="float:right" data-bind="click:save" type="submit"><@spring.message "hap.save"/></span>

            </form>
    </div>
</div>
<script>
    
    var isedit = '${RequestParameters.isedit!0}' == '1';
    window.viewModel = kendo.observable({
        model    : {},
        save     :function(e){
            var url ;
            if (isedit)
              url = '${base.contextPath}/sys/messageTemplate/update';
            else
              url = '${base.contextPath}/sys/messageTemplate/add';
            var validator = $("#editForm").data("kendoValidator");
            if (validator.validate()) {
            	 Hap.submitForm({
                     url           : url,
                     formModel     : viewModel.model,
                     asArray       : false,
                     success       : function (data) {
                          kendo.ui.showInfoDialog({
                               title:'提示信息',
                               message:'保存成功!'
                          }).done(function(e){
                              window.parent.$("#editWin").data("kendoWindow").close();
                              window.parent.$('#grid').data('kendoGrid').dataSource.page(1);
                          });
                     }
                 });
            } 
        },
        closeWin :function(e){
        	//关闭该window
        	window.parent.$("#editWin").data("kendoWindow").close()
        }       
    });
    var container = $("#editForm");
    kendo.init(container);
    container.kendoValidator({
    	messages: {
            required: "required"
    	},
    	
    });
    kendo.bind($('#page-content'), viewModel);
    //下拉框
    $("#priorityLevel").kendoDropDownList({
                        valuePrimitive:true,
                        dataTextField: "meaning",
                        dataValueField: "value",
                        dataSource: priorityLevelData
    });
    //初始化form表单
    if (isedit){
    $.ajax({
        url : '${base.contextPath}/sys/messageTemplate/query',
        type : "GET",
        dataType : "json",
        contentType : "application/json",
        data : {templateId:${RequestParameters.id!0}},
        success : function(args) {
            var profile = args.rows[0]||{};
            for(var i in profile){
                viewModel.set("model."+i,profile[i]);       
            }
        }
    });
    }
     //富文本编辑器 
     $(document).ready(function() {
                   // create Editor from textarea HTML element with default set of tools
                   $("#editor").kendoEditor({ resizable: {
                       content: true,
                       toolbar: true
                   }});
     });
</script>
</body>
</html>
