<#--
        * description: 快速编码界面
        *author:jialong.zuo@hand-china.com
        * version: 1.0
        *
        -->
<#include "../include/header.html">
<body>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
    var viewModel = kendo.observable({
        model: {},
        editaction: "<@spring.message "hap.edit"/>",
        createFunction: function () {
            $('#grid').data('kendoGrid').addRow();
        },
        saveFunction: function () {
            $('#grid').data('kendoGrid').saveChanges();
        },
        cancelFunction: function () {
            $("#grid").data("kendoGrid").cancelChanges();
        },
        queryResource: function (e) {
            $('#grid').data('kendoGrid').dataSource.page(1);
        },
        resetForm: function (e) {
            var formData = viewModel.model.toJSON();
            for (k in formData) {
                viewModel.model.set(k, null);
            }
        }
    });

    var newViewModel = kendo.observable({
        model: {},
        saveFunction: function () {
            newViewModel.model.__status = 'add';
            Hap.submitForm({
                url: '${base.contextPath}/fnd/company/update',
                formModel: newViewModel.model,
                success: function (data) {
                    $.each(newViewModel.model.toJSON(), function (i, item) {
                        newViewModel.model.set(i, null);
                    });
                    $("#newWin").data("kendoWindow").close();
                    $('#grid').data('kendoGrid').dataSource.query();
                }
            });
        },
        resetForm: function (e) {
            var formData = newViewModel.model.toJSON();
            for (k in formData) {
                newViewModel.model.set(k, null);
            }
        }
    });

</script>

<div class="col-sm-12" style="margin-top: 10px;">

    <div id="page-content">
        <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
        <span type="button" onclick="newData()" class="btn btn-primary"
              style="float:left;margin-right:5px"><@spring.message "hap.new"/></span>
            <span class="btn btn-success k-grid-save-changes" style="float:left;margin-right:5px;"
                  data-bind="click:saveFunction"><@spring.message "hap.save"/></span>
        <#--
                <span class="btn btn-default k-grid-cancel-changes"  style="float:left;margin-right:5px;" data-bind="click:cancelFunction"><@spring.message "hap.cancel"/></span>
        -->
            <span onclick="deleteData()" class="btn btn-danger"
                  style="float:left;"><@spring.message "hap.delete"/></span>
        </div>
        <script>kendo.bind($('#toolbar-btn'), viewModel);</script>
        <div class="pull-right" id="query-form" style="padding-bottom:10px;">
            <input placeholder='<@spring.message "company.companyCode"/>' type="text"
                   style="float:left;width:150px;margin-right:5px;" data-bind="value:model.companyCode"
                   class="k-textbox">
            <div style="float:left;margin-right:5px;">
                <input placeholder='<@spring.message "company.companyFullName"/>' type="text"
                       style="float:left;width:150px;margin-right:5px;" data-bind="value:model.companyFullName"
                       class="k-textbox">
            </div>
            <div style="float:left;margin-right:5px;">
                <input placeholder='<@spring.message "company.companyType"/>' type="text"
                       style="float:left;width:150px;margin-right:5px;" data-bind="value:model.companyType"
                       class="k-textbox">
            </div>
            <div style="float:left;margin-right:5px;">
                <input type="text" id="parentId2" placeholder='<@spring.message "company.parentCompanyName"/>'
                       style="width:150px;" data-bind="value:model.parentCompanyId">
                <script>
                    $("#parentId2").kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "LOV_COMPANY")}, {
                        query: function (e) {
                            e.param['enabledFlag'] = 'Y';
                        }
                    }))
                </script>
            </div>

            <span class="btn btn-primary" style="float:left;margin-right:5px;" data-bind="click:queryResource"
                  type="submit"><@spring.message "hap.query"/></span>

            <div style="clear:both"></div>
        </div>
        <script>kendo.bind($('#query-form'), viewModel);</script>

        <div id='grid-container' style="clear: both">
            <div id="grid" style="clear: both"></div>
        </div>
    </div>
</div>

<div id="newWin" style="display: none"></div>
<div id="editWin" style="display: none"></div>
<#--<div id="newWin" style="display: none">
    <div id="page-content" style="width:550px">
        <form class="form-horizontal" style="width:550px">
            <div class="col-xs-12" style="margin-top: 5px">
                <div class="form-group">
                    <label class="col-xs-2 col-xs-offset-1 control-label"
                           style="text-align: right"><@spring.message "company.companyCode"/></label>
                    <div class="col-xs-6">
                        <input id="companyCode" type="text" data-bind="value:model.companyCode" class="k-textbox"
                               style="width: 100%;">
                        <script>kendo.bind($('#companyCode'), newViewModel);</script>
                    </div>
                </div>
            </div>

            <div class="col-xs-12" style="margin-top: 10px">
                <div class="form-group">
                    <label class="col-xs-2 col-xs-offset-1 control-label"
                           style="text-align: right"><@spring.message "company.companyShortName"/></label>
                    <div class="col-xs-6">
                        <input id="companyShortName" type="text" data-bind="value:model.companyShortName"
                               style="width: 100%;">
                        <script>
                            $("#companyShortName").kendoTLEdit({
                                idField: 'companyId',
                                field: 'companyShortName',
                                dto: "com.hand.hap.fnd.dto.Company",
                                model: newViewModel.model
                            })
                            kendo.bind($('#companyShortName'), newViewModel);
                        </script>
                    </div>
                </div>
            </div>

            <div class="col-xs-12" style="margin-top: 10px">
                <div class="form-group">
                    <label class="col-xs-2 col-xs-offset-1 control-label"
                           style="text-align: right"><@spring.message "company.companyFullName"/></label>
                    <div class="col-xs-6">
                        <input id="companyFullName" type="text" data-bind="value:model.companyFullName"
                               style="width: 100%;">
                        <script>
                            $("#companyFullName").kendoTLEdit({
                                idField: 'companyId',
                                field: 'companyFullName',
                                dto: "com.hand.hap.fnd.dto.Company",
                                model: newViewModel.model
                            })
                            kendo.bind($('#companyFullName'), newViewModel);
                        </script>
                    </div>
                </div>
            </div>

            <div class="col-xs-12" style="margin-top: 5px">
                <div class="form-group">
                    <label class="col-xs-2 col-xs-offset-1 control-label"
                           style="text-align: right"><@spring.message "company.companyType"/></label>
                    <div class="col-xs-6">
                        <input id="companyType" type="text" data-bind="value:model.companyType" class="k-textbox"
                               style="width: 100%;">
                        <script>kendo.bind($('#companyType'), newViewModel);</script>
                    </div>
                </div>
            </div>
            <div class="col-xs-12" style="margin-top: 5px">
                <div class="form-group">
                    <label class="col-xs-2 col-xs-offset-1 control-label"
                           style="text-align: right"><@spring.message "company.address"/></label>
                    <div class="col-xs-6">
                        <input id="address" type="text" data-bind="value:model.address" class="k-textbox"
                               style="width: 100%;">
                        <script>kendo.bind($('#address'), newViewModel);</script>
                    </div>
                </div>
            </div>

            <div class="col-xs-12" style="margin-top: 5px">
                <div class="form-group">
                    <label class="col-xs-2 col-xs-offset-1 control-label"
                           style="text-align: right"><@spring.message "company.companyLevelId"/></label>
                    <div class="col-xs-6">
                        <input id="companyLevelId" type="text" data-bind="value:model.companyLevelId" class="k-textbox"
                               style="width: 100%;">
                        <script>kendo.bind($('#companyLevelId'), newViewModel);</script>
                    </div>
                </div>
            </div>

            <div class="col-xs-12" style="margin-top: 10px">
                <div class="form-group">
                    <label class="col-xs-2 col-xs-offset-1 control-label"
                           style="text-align: right"><@spring.message "hrorgunit.parentCompanyName"/></label>
                    <div class="col-xs-6">
                        <input type="text" id="parentCompanyId"
                               placeholder='<@spring.message "hrorgunit.parentCompanyName"/>'
                               style="width:150px;" data-bind="value:model.parentCompanyId">
                        <script>
                            $("#parentCompanyId").kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "LOV_COMPANY")}, {
                                query: function (e) {
                                    e.param['enabledFlag'] = 'Y';
                                }
                            }))
                            kendo.bind($('#parentCompanyId'), newViewModel);
                        </script>
                    </div>
                </div>
            </div>


            <div class="col-xs-12" style="margin-top: 5px">
                <div class="form-group">
                    <label class="col-xs-2 col-xs-offset-1 control-label"
                           style="text-align: right"><@spring.message "company.chiefPositionId"/></label>
                    <div class="col-xs-6">
                        <input id="chiefPositionId" type="text" data-bind="value:model.chiefPositionId"
                               class="k-textbox"
                               style="width: 100%;">
                        <script>kendo.bind($('#chiefPositionId'), newViewModel);</script>
                    </div>
                </div>
            </div>

            <div class="col-xs-12" style="margin-top: 5px">
                <div class="form-group">
                    <label class="col-xs-2 col-xs-offset-1 control-label"
                           style="text-align: right"><@spring.message "company.startDateActive"/></label>
                    <div class="col-xs-6">
                        <input id="startDateActive" data-bind="value:model.startDateActive">
                        <script>
                            $('#startDateActive').kendoDatePicker();
                            kendo.bind($('#startDateActive'), newViewModel);</script>
                    </div>
                </div>
            </div>
            <div class="col-xs-12" style="margin-top: 5px">
                <div class="form-group">
                    <label class="col-xs-2 col-xs-offset-1 control-label"
                           style="text-align: right"><@spring.message "company.endDateActive"/></label>
                    <div class="col-xs-6">
                        <input id="endDateActive"  data-bind="value:model.endDateActive"/>
                        <script>
                            $('#endDateActive').kendoDatePicker();
                            kendo.bind($('#endDateActive'), newViewModel);
                        </script>
                    </div>
                </div>
            </div>

            <div class="col-xs-12" style="margin-top: 5px">
                <div class="form-group">
                    <label class="col-xs-2 col-xs-offset-1 control-label"
                           style="text-align: right"><@spring.message "company.zipcode"/></label>
                    <div class="col-xs-6">
                        <input id="zipcode" type="text" data-bind="value:model.zipcode" class="k-textbox"
                               style="width: 100%;">
                        <script>kendo.bind($('#zipcode'), newViewModel);</script>
                    </div>
                </div>
            </div>

            <div class="col-xs-12" style="margin-top: 5px">
                <div class="form-group">
                    <label class="col-xs-2 col-xs-offset-1 control-label"
                           style="text-align: right"><@spring.message "company.fax"/></label>
                    <div class="col-xs-6">
                        <input id="fax" type="text" data-bind="value:model.fax" class="k-textbox"
                               style="width: 100%;">
                        <script>kendo.bind($('#fax'), newViewModel);</script>
                    </div>
                </div>
            </div>
            <div class="col-xs-12" style="margin-top: 5px">
                <div class="form-group">
                    <label class="col-xs-2 col-xs-offset-1 control-label"
                           style="text-align: right"><@spring.message "company.phone"/></label>
                    <div class="col-xs-6">
                        <input id="phone" type="text" data-bind="value:model.phone" class="k-textbox"
                               style="width: 100%;">
                        <script>kendo.bind($('#phone'), newViewModel);</script>
                    </div>
                </div>
            </div>
            <div class="col-xs-12" style="margin-top: 5px">
                <div class="form-group">
                    <label class="col-xs-2 col-xs-offset-1 control-label"
                           style="text-align: right"><@spring.message "company.contactPerson"/></label>
                    <div class="col-xs-6">
                        <input id="contactPerson" type="text" data-bind="value:model.contactPerson" class="k-textbox"
                               style="width: 100%;">
                        <script>kendo.bind($('#contactPerson'), newViewModel);</script>
                    </div>
                </div>
            </div>


            <div class="col-xs-12" style="margin-top: -5px">
                <div class="form-group">
                    <div class="col-xs-6" style="float:right">
                        <span id="saveForm" class="btn btn-success k-grid-save-changes"
                              style="float:center;margin-right:5px;"
                              data-bind="click:saveFunction"><@spring.message "hap.save"/></span>
                        <script>kendo.bind($('#saveForm'), newViewModel);</script>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>-->


<script type="text/javascript">

    var crudServiceBaseUrl = '${base.contextPath}/fnd/company',
            dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: crudServiceBaseUrl + "/query",
                        type: "POST",
                        dataType: "json"
                    },
                    create: {
                        url: crudServiceBaseUrl + "/update",
                        contentType: "application/json",
                        type: "POST"
                    },
                    update: {
                        url: crudServiceBaseUrl + "/update",
                        contentType: "application/json",
                        type: "POST"
                    },
                    destroy: {
                        url: crudServiceBaseUrl + "/remove",
                        contentType: "application/json",
                        type: "POST"
                    },
                    parameterMap: function (options, type) {
                        if (type !== "read" && options.models) {
                            var datas = Hap.prepareSubmitParameter(options, type);
                            return kendo.stringify(datas);
                        } else if (type === "read") {
                            return Hap.prepareQueryParameter(viewModel.model.toJSON(), options);
                        }
                    }
                },
                batch: true,
                serverPaging: true,
                pageSize: 10,
                schema: {
                    data: 'rows',
                    total: 'total',
                    model: {
                        id: "companyId",
                        fields: {
                            companyCode: {type: "int", editable: false},
                            companyShortName: {editable: false},
                            companyFullName: {editable: false},
                            companyType: {editable: false},
                            address: {editable: false},
                            companyLevelId: {editable: false},
                            chiefPositionId: {editable: false},
                            parentCompanyName: {editable: false},
                            startDateActive: {editable: false},
                            endDateActive: {editable: false},
                            zipcode: {editable: false},
                            contactPerson: {editable: false},
                            phone: {editable: false},
                            positionName:{editable:false}
                        }
                    }
                }
            });


    var grid = $("#grid").kendoGrid({
        dataSource: dataSource,
        navigatable: false,
        height: '100%',
        resizable: true,
        scrollable: true,
        selectable:'multiple,rowbox',
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        columns: [
            {field: "companyCode", title: '<@spring.message "company.companyCode"/>', width: 120},
            {field: "companyShortName", title: '<@spring.message "company.companyShortName"/>', width: 120},
            {field: "companyFullName", title: '<@spring.message "company.companyFullName"/>', width: 120},
           /* {
                field: "companyShortName",
                title: '<@spring.message "company.companyShortName"/>',
                width: 180,
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                },
                editor: function (container, options) {
                    $('<input name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoTLEdit({
                                idField: 'companyId',
                                field: 'companyShortName',
                                dto: "com.hand.hap.fnd.dto.Company",
                                model: options.model
                            });
                },
                editable:false
            },
            {
                field: "companyFullName",
                title: '<@spring.message "company.companyFullName"/>',
                width: 180,
                headerAttributes: {
                    "class": "table-header-cell",
                    style: "text-align: center"
                },
                editor: function (container, options) {
                    $('<input name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoTLEdit({
                                idField: 'companyId',
                                field: 'companyFullName',
                                dto: "com.hand.hap.fnd.dto.Company",
                                model: options.model
                            });
                }
            },*/
            {field: "companyType", title: '<@spring.message "company.companyType"/>', width: 120},
            {field: "address", title: '<@spring.message "company.address"/>', width: 120},
            {field: "companyLevelId", title: '<@spring.message "company.companyLevelId"/>', width: 120},
            {field: "positionName", title: '<@spring.message "company.positionName"/>', width: 120},
            {field: "parentCompanyName", title: '<@spring.message "company.parentCompanyName"/>', width: 120},
            {field: "startDateActive", title: '<@spring.message "user.startactivedate"/>', width: 120},
            {field: "endDateActive", title: '<@spring.message "user.endactivedate"/>', width: 120},
/*            {
                field: "parentCompanyId",
                title: '<@spring.message "company.parentCompanyName"/>', width: 120,
                template: function (dataItem) {
                    return dataItem['parentCompanyName'] || ''
                },
                editor: function (container, options) {
                    $('<input name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoLov($.extend(<@lov "LOV_COMPANY"/>, {
                                query: function (e) {
                                    e.param['enabledFlag'] = 'Y'
                                },
                                textField: 'parentCompanyName',
                                model: options.model
                            }));
                }
            },
            { field: "startDateActive",
                attributes: {style: "text-align:center"},
                title: '<@spring.message "user.startDateActive"/>',
                width: 120,
                format: "{0:yyyy-MM-dd}",
                editor: function(container, options){
                    //获得到期时间
                    var end = options.model.endDateActive;
                    var opts={
                        format:"yyyy-MM-dd"
                    }
                    if(end){
                        opts.max=end;
                    }
                    $('<input name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoDatePicker(opts);
                }
            },
            { field: "endDateActive",
                title: '<@spring.message "user.endDateActive"/>',
                width: 120,
                attributes: {style: "text-align:center"},
                format: "{0:yyyy-MM-dd}",
                editor: function(container, options){
                    //获得开始时间
                    var start = options.model.startDateActive;
                    var opts={
                        format:"yyyy-MM-dd"
                    }
                    //设置min属性 限制最小的可选日期
                    if(start){
                        opts.min=start;
                    }
                    $('<input name="' + options.field + '"/>')
                            .appendTo(container)
                            .kendoDatePicker(opts);
                }},*/
            {field: "zipcode", title: '<@spring.message "company.zipcode"/>', width: 120},
            {field: "phone", title: '<@spring.message "company.phone"/>', width: 120},
            {field: "fax", title: '<@spring.message "company.fax"/>', width: 120},
            {field: "contactPerson", title: '<@spring.message "company.contactperson"/>', width: 120},
            {attributes: {style: "text-align:center"}, title:'<@spring.message "hap.edit"/>', command : [{
                name:'edit',
                template : '<a href="javascript:void(0)" class="k-grid-edit"><@spring.message "hap.edit"/></a>',
                click: function(e){
                    var data = this.dataItem($(e.target).closest("tr"));

                    $("#editWin").kendoWindow({
                        actions: ["Close"],
                        title: $l('hap.edit'),
                        draggable: true,
                        height: "470px",
                        width: "650px",
                        close: function(){
                            $("#editWin").empty();
                        },
                        content: "${base.contextPath}/fnd/company_edit.html?companyId="+data.companyId+"&isedit=1",
                        iframe: true,
                        modal: true
                    });

                    var win = $("#editWin").data("kendoWindow");
                    win.center().open();
                    e.preventDefault();
                }
            }],  width : 70}
        ],
        editable: true
    }).data("kendoGrid");

    function deleteData() {

        var checked = grid.selectedDataItems();
        if(grid.selectedDataItems().length){
            kendo.ui.showConfirmDialog({
                title:$l('hap.tip.info'),
                message: $l('hap.tip.delete_confirm')
            }).done(function (event) {
                if (event.button == 'OK') {
                    $.each(checked,function(i,v){
                        grid.dataSource.remove(v)
                    })
                    grid.dataSource.sync();
                }
            })
        }
    }


    function newData() {
        $("#newWin").kendoWindow({
            actions: ["Close"],
            title: $l('hap.new'),
            draggable: true,
            height: "470px",
            width: "650px",
            close: function(){
                $("#editWin").empty();
            },
            content: "${base.contextPath}/fnd/company_edit.html?isedit=0",
            iframe: true,
            modal: true
        });
        var win = $("#newWin").data("kendoWindow");
        win.center().open();
    }


    Hap.autoResizeGrid("#grid");
</script>
</body>
</html>